body {
	font-family: "SamsungOne",arial;
}
body #content {
	font-size: 19px;
	color: #000;
	margin: 0;
}
#content a {
	color: #000;
}
#content a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
#content ul {
	padding-left: 0;
	list-style-type: none;
}
#scroll-to-top {
	font-family: "SamsungOne";
	font-weight: bold;
}
#content .container {
	position: relative;
}
#content .btn {
	border-radius: 35px;
	text-transform: uppercase;
}
#content .btn-primary {
	background-color: #01cbf9 !important;
	padding: 10px 20px 7px;
	border: none;
	color: #fff;
}
#content .btn-default {
  padding: 8px 30px 3px;
  border-color: #000;
}
#content .btn-default:hover {
	border-color: #000;
}
#buy-now-1 {
	display: inline-block;
}
.text-bold {
	font-weight: bold;
}
.btn-wrapper {
	display: inline-block;
	margin-left: 15px;
}
/*
	Menu
*/
#content .navbar-nav {
	text-transform: uppercase;
}
#content .navbar {
	border: none;
	margin-bottom: 0;
}
.navbar-default {
	background: none;
}
#content .navbar-nav>li>a {
	color: #363636;
}
#content .navbar-nav>li>a:hover {
	background: #eee;
}
#buy-now-1 {
	margin: 7px 0;
}
#gbook-nav .navbar-collapse {
	border-top: none;
}
#main-nav {
	background: #fff;
	min-height: 50px;
}
#main-nav .container {
	background: #fff; 
}
#main-nav.fixed {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	z-index:999;
}
#content .navbar-toggle {
	margin-right: 0;
}
#content .navbar-collapse {
	box-shadow: none; 
}
#gbook-collapse-tog {
	padding: 0; 
	width: 40px;
}
.nav-placeholder {
	height: 50px;
	z-index: 999;
}
/*
	Logo
*/
.gbook-logo {
	position: absolute;
	top: 0; 
	left: 0;
	width: 180px;
	margin: 7px;
}
/*
	Banner
*/
.ss-banner {
	background-color: #000;
	color: #fff;
	margin: 0 auto;
	height: 100%;
}
.ss-features {
	width: 75%;
	margin: 0 auto;
}
.ss-feature-item {
	text-align: center;
	padding-bottom: 10px;
	font-size: 12.5px;
}
.ss-feature-item img {
	margin: 20px auto 15px;
	width: 50px;
}
/*
	Order
*/
.ss-order {
	text-align: center;
	padding-top: 20px;
}
.order-heading {
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 44px;
}
.order-heading.vertical-align {
	font-size: 53px;
}
.order-description {
	font-size: 20px;
}
.order-price {
	font-size: 38px; 
	line-height: 38px;
}
.order-combo img {
	margin: 0 auto;
}
.order-location {
	color: #1f77bc;
	margin-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 26px;
	height: 30px;
}
/*
	Tabs
*/

.nav-pills.ss-pills>li {
	float: none;
}
.nav-pills.ss-pills>li>a {
	border-radius: 0;
	padding: 2px 15px 15px;
}
.nav-pills.ss-pills>li.active>a, .nav-pills.ss-pills>li.active>a:focus, .nav-pills.ss-pills>li.active>a:hover {
	background-color: #eee;
	color: #000;
}
.ss-tab-main-heading {
	font-size: 22px;
	padding-left: 15px;
	margin-bottom: 15px;
}
.ss-tab-main-heading.modal-title {
	margin-bottom: 0;
}
.ss-tab-menu ul {
	margin-bottom: 15px;
	max-height: 380px;
	overflow-y:scroll;
}
.ss-tab-menu p, #myModal p {
	margin-bottom: 0;
	font-size: 13px;
}
.location-title {
	font-size: 15px;
	margin-bottom: 0;
}
#myModal ul {
	max-height: 500px;
	overflow-y:scroll;
}
@media (min-width: 768px) {
	.order-heading.vertical-align {
		margin-top: 100px;
	}
	#content .navbar-collapse, #ss-navbar-extra {
		padding: 0; 
	}
/* 	#content .navbar-nav>li>a {
		padding-top: 17px;
		padding-bottom: 13px;
	} */
	.ss-feature-item img {
		width: 64px;
	}
	.order-location {
		height: 52px;
	}
}
@media (min-width: 992px) {
	.ss-banner {
	    width: 990px;
	}
	.order-location {
		height: 30px;
	}
}

@media (min-width: 1024px) {
	#content .container.custom {
		width: 1100px;
	}
	.order-heading.vertical-align {
		margin-top: 170px;
	}
	.gbook-logo {
		width: 240px;
	}
}
@media (min-width: 1200px) {
	#content .container {
		width: 1140px;
	}
	.ss-banner {
		width: 1200px;
	}
	.ss-order {
		padding-left: 80px;
		padding-right: 80px;
	}
}
@media (min-width: 1300px) {
	.ss-banner {
		width: 1270px;
	}
	.gbook-logo {
		margin-left: 24px;
	}
	#content .navbar-right {
		margin-right: 15px;
	}
}
@media (min-width: 1600px) {
	#content .container {
		width: 1500px;
	}
	#content .container.custom {
		width: 1215px;
	}
	.ss-banner {
		width: 1595px;
	}
	.ss-tab-menu ul {
		max-height: 545px;
	}
	.gbook-logo {
		margin-left: 41px;
	}
}