/*============================================================================
  #General Variables
==============================================================================*/
/*============================================================================
  #Mixin
==============================================================================*/
.absolute-center, #content .brand-item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*============================================================================
  #Render Helping classes
==============================================================================*/
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-55 {
  margin-left: 55px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-65 {
  margin-left: 65px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-75 {
  margin-left: 75px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-85 {
  margin-left: 85px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-95 {
  margin-left: 95px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-100 {
  padding-left: 100px !important; }

.vertical-center,
.horizontal-center {
  position: absolute; }

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.iframe-container {
  position: relative; }
  .iframe-container:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .iframe-container > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

/*$white: #fff;
$lightGray: #f3f3f3;

$gray2: #272727;
$black: #3c3c3c;
$blue: #142696;
$lightBlue: #1E5AB1;
$cyan: #44ace0;
$cyan2: #4a90e2;

$pink: #f495f4;
$magenta: #9a36d1;
$lightYellow: #dce1a7;

$color-menu: $gray2;
$color-foreground: $black;
$color-inverse: $white;
$color-default: $gray;
$color-primary: $blue;
$color-info: $lightBlue;
$color-alternative: $cyan;
$color-donor: $pink;
$color-donor-dark: $magenta;
$color-donor-highlight: $lightYellow;

$color-primary-darker: darken($color-primary, 5%);
$color-info-darker: darken($color-info, 5%);
$color-default-darker: darken($color-default, 5%);*/
#content .icon {
  width: 60px;
  height: 60px;
  display: inline-block; }
  #content .icon.icon-windows {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-windows.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-keyboard {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-keyboard.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-hd {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-hd.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-spen {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-spen.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-core {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-core.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-ram {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-ram.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-close {
    width: 30px;
    height: 30px;
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-close.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon[class*="icon-sm-"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #231F20; }
  #content .icon.icon-sm-screen {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-screen.svg") center/auto 70% no-repeat; }
  #content .icon.icon-sm-design {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-design.svg") center/75% auto no-repeat; }
  #content .icon.icon-sm-core {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-core.svg") center/auto 60% no-repeat; }
  #content .icon.icon-sm-camera {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-camera.svg") center/auto 74% no-repeat; }
  #content .icon.icon-sm-card {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-card.svg") center/auto 58% no-repeat; }
  #content .icon.icon-sm-battery {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-battery.svg") center/auto 65% no-repeat; }
  #content .icon.icon-sm-windows {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-windows.svg") center/auto 60% no-repeat; }
  #content .icon.icon-sm-size {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-size.svg") center/auto 70% no-repeat; }
  #content .icon.icon-sm-connect {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-connect.svg") center/auto 60% no-repeat; }
  #content .icon.icon-sm-spen {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-spen.svg") center/auto 100% no-repeat; }
  #content .icon.icon-down {
    width: 50px;
    height: 50px;
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/btn-next.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon-up {
    width: 50px;
    height: 50px;
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/btn-prev.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
  #content .icon.icon- {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-.png?$ORIGIN_PNG$") center/100% 100% no-repeat; }
#content .btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  min-width: 200px;
  font-family: 'iCielSamsungSharpSans-Bold'; }
#content button:active, #content button:focus,
#content a:active,
#content a:focus,
#content select:active,
#content select:focus {
  outline: none !important; }
#content .btn-default {
  background-color: transparent; }
  #content .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.with-ie #content .icon.icon-sm-screen {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-screen-1.png?$ORIGIN_PNG$") center/auto 70% no-repeat; }
.with-ie #content .icon.icon-sm-design {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-design-1.png?$ORIGIN_PNG$") center/75% auto no-repeat; }
.with-ie #content .icon.icon-sm-core {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-core-1.png?$ORIGIN_PNG$") center/auto 60% no-repeat; }
.with-ie #content .icon.icon-sm-camera {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-camera-1.png?$ORIGIN_PNG$") center/auto 74% no-repeat; }
.with-ie #content .icon.icon-sm-card {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-card-1.png?$ORIGIN_PNG$") center/auto 58% no-repeat; }
.with-ie #content .icon.icon-sm-battery {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-battery-1.png?$ORIGIN_PNG$") center/auto 65% no-repeat; }
.with-ie #content .icon.icon-sm-windows {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-windows-1.png?$ORIGIN_PNG$") center/auto 60% no-repeat; }
.with-ie #content .icon.icon-sm-size {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-size-1.png?$ORIGIN_PNG$") center/auto 70% no-repeat; }
.with-ie #content .icon.icon-sm-connect {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-connect-1.png?$ORIGIN_PNG$") center/auto 60% no-repeat; }
.with-ie #content .icon.icon-sm-spen {
  background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/icon/icon-sm-spen-1.png?$ORIGIN_PNG$") center/auto 100% no-repeat; }

@media (min-width: 1600px) {
  .btn {
    font-size: 16px; } }
@media (max-width: 480px) {
  .btn {
    font-size: 10px; } }
html,
body,
#content,
#content > .container {
  height: 100%; }

#content {
  position: relative; }
  #content h1,
  #content h2,
  #content h3,
  #content h4,
  #content h5,
  #content h6 {
    font-family: 'iCielSamsungSharpSans';
    line-height: 1.4; }
  #content h1,
  #content h2,
  #content h3 {
    margin-top: 0;
    margin-bottom: 0; }
  #content h1 {
    font-size: 37px; }
  #content h2 {
    font-size: 28px; }
  #content h3 {
    font-size: 25px; }
  #content section {
    width: 100%;
    display: table;
    position: relative; }
    #content section.section-black {
      background-color: #000;
      color: #fff; }
    #content section.section-gray {
      background-color: #f4f4f4; }
  #content .section-part {
    display: table-cell;
    vertical-align: top; }
    #content .section-part.vertical-middle {
      vertical-align: middle; }
  #content .part-content {
    padding: 30px 30px 10px; }
  #content .bg-item img {
    width: 100%;
    height: auto; }
  #content .bg-main {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-galaxy-book.png?$ORIGIN_PNG$") 100% 40%/auto 50% no-repeat; }
  #content .bg-gift {
    position: relative;
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-gift.jpg?$ORIGIN_JPG$") center/cover no-repeat; }
    #content .bg-gift:before {
      content: '';
      display: block;
      padding-top: 80%; }
    #content .bg-gift > *:first-child {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden; }
  #content .circle {
    width: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: top; }
    #content .circle .icon {
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto; }
    #content .circle label {
      margin-top: 10px;
      font-size: 11px;
      font-weight: 600; }
    #content .circle + .circle {
      margin-left: 30px; }
  #content .spacer {
    margin-bottom: 30px; }
  #content .bottom-group {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center; }
    #content .bottom-group a {
      display: inline-block;
      -webkit-animation: blink 2s infinite ease 0ms;
      -moz-animation: blink 2s infinite ease 0ms;
      -ms-animation: blink 2s infinite ease 0ms;
      -o-animation: blink 2s infinite ease 0ms;
      animation: blink 2s infinite ease 0ms; }
  #content .tbl-spec {
    width: 100%; }
    #content .tbl-spec th,
    #content .tbl-spec td {
      vertical-align: top;
      padding-bottom: 10px; }
    #content .tbl-spec th {
      white-space: nowrap;
      width: 120px;
      font-size: 13px; }
      #content .tbl-spec th .icon {
        position: relative;
        top: -6px; }
      #content .tbl-spec th label {
        margin-left: 5px;
        margin-bottom: 0;
        vertical-align: top; }
    #content .tbl-spec td {
      font-size: 11px; }
  #content .modal.fade-scale {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    #content .modal.fade-scale.in {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.hidden-md {
  display: none; }

.modal-backdrop.in {
  opacity: .9; }

@media (max-width: 1023px) {
  #content h2 {
    font-size: 25px; }
  #content h3 {
    font-size: 18px; }
  #content section {
    width: auto;
    padding-bottom: 95%;
    display: block;
    margin-left: -15px;
    margin-right: -15px; }
  #content .part-content {
    display: block;
    text-align: center;
    padding: 40px 30px; }
  #content .part-bg {
    display: none; }
  #content .bg-main {
    background-position: center 70px;
    background-size: 400px auto; }
  #content .circle-group {
    text-align: center; }
  #content .spacer {
    margin-bottom: 20px; }
  #content .tbl-spec {
    text-align: left; }
    #content .tbl-spec th {
      width: 50%; }
  #content .bottom-group {
    bottom: 0; }
    #content .bottom-group .icon.icon-down, #content .bottom-group .icon.icon-up {
      width: 40px;
      height: 40px; }

  .hidden-xs {
    display: none !important; }

  .hidden-md {
    display: block; } }
@media (max-width: 480px) {
  #content h2 {
    margin-bottom: 5px; }
  #content h3 {
    font-size: 15px;
    text-transform: uppercase; }
  #content .bg-main {
    background-position: center 70px;
    background-size: 90% auto; }
  #content .part-content {
    padding: 30px 15px; } }
@media (min-width: 1174px) {
  #content h2 {
    margin-bottom: 20px; }
  #content .part-content {
    padding: 60px 50px 30px; }
  #content .bg-main {
    background-size: auto 70%; }

  .modal-lg {
    width: 1150px; } }
@media (min-width: 1600px) {
  body #content {
    font-size: 15px; }

  #content h1 {
    font-size: 52px; }
  #content h2 {
    font-size: 39px; }
  #content h3 {
    font-size: 35px; }
  #content .part-content {
    font-size: 20px; }
  #content .circle {
    width: 110px; }
    #content .circle .icon {
      width: 87px;
      height: 87px; }
    #content .circle label {
      font-size: 16px; }
  #content .tbl-spec th {
    font-size: 18px;
    width: 160px; }
    #content .tbl-spec th .icon {
      width: 40px;
      height: 40px; }
  #content .tbl-spec td {
    font-size: 15px; } }
@media (min-width: 768px) {
  .container {
    width: auto; } }
@media (min-width: 992px) {
  .navbar-header {
    float: left; }

  .navbar-collapse.collapse {
    display: block !important; }

  .navbar-toggle {
    display: none; }

  .navbar-right {
    float: right !important;
    margin: 0; }

  .navbar-nav > li {
    float: left; } }
@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-collapse.collapse {
    display: none !important; }
    .navbar-collapse.collapse.in {
      display: block !important; }

  .navbar-toggle {
    display: block; }

  .navbar-right {
    float: none !important;
    margin: 0; }

  .navbar-nav > li {
    float: none; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }
.with-ie #content .navbar-nav > li > a,
.with-ie #content .btn,
.with-ie #content h1, .with-ie #content h2, .with-ie #content h3, .with-ie #content h4, .with-ie #content h5, .with-ie #content h6,
.with-ie #content .separator {
  font-family: 'SamsungSharpSans' !important; }

@media (min-width: 768px) {
  #content .navbar-nav > li > a {
    padding-bottom: 7px !important; } }
@media (max-width: 480px) {
  #content .part-content {
    padding: 30px; } }
@media (max-width: 370px) {
  #content .tbl-spec th {
    width: 130px; } }
#main-nav {
  background: #fff;
  min-height: 52px !important; }

#content .nav-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  #content .nav-placeholder.fixed {
    position: fixed; }
#content #main-nav {
  position: static; }
#content .navbar-nav > li > a {
  font-weight: 600;
  font-family: 'iCielSamsungSharpSans-Bold'; }
#content .navbar-nav > li .btn {
  font-size: 14px;
  min-width: 0;
  color: #fff; }
  #content .navbar-nav > li .btn:hover {
    color: #000; }
#content .s8-logo {
  margin: 9px; }
@media (min-width: 768px) {
  #content .navbar-nav > li > a {
    padding-bottom: 17px; } }
@media (max-width: 1023px) {
  #content #main-nav {
    border-bottom: 1px solid #ddd; }
  #content .gbook-logo {
    margin: 13px; }
  #content .navbar-toggle {
    margin-top: 13px;
    border: none; }
  #content .s8-logo {
    margin: 12px; }
  #content .navbar-nav > li .btn-wrapper {
    margin: 0; } }

#content #section-main {
  min-height: 600px; }
  #content #section-main .section-part {
    vertical-align: middle; }
#content #section-gift .part-bg {
  width: 45%; }
#content #section-2in1 .part-bg {
  width: 54%; }
#content #section-entertainment .part-bg {
  width: 62%; }
#content #section-config .part-bg {
  width: 54%; }
#content #section-spec .part-bg {
  width: 41%; }
#content #section-spec .part-content {
  padding-bottom: 70px; }
#content #modalStores .modal-body {
  background-color: #f6f6f6; }
#content .popup-banner {
  display: table;
  width: 100%;
  padding: 15px 70px; }
  #content .popup-banner > div {
    display: table-cell;
    width: 50%;
    text-align: left;
    vertical-align: middle; }
  #content .popup-banner .logo-ss {
    width: 200px;
    height: auto;
    margin-bottom: 10px; }
  #content .popup-banner .logo-book {
    width: 320px;
    height: auto; }
  #content .popup-banner .img-book {
    width: 350px; }
#content .separator {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px 6px;
  background-color: #4a4a4a;
  color: #fff;
  font-family: 'iCielSamsungSharpSans-Bold';
  text-align: center; }
#content .brand-list {
  padding: 30px 60px 0; }
#content .brand-item {
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #777;
  -moz-box-shadow: 0 0 3px #777;
  -ms-box-shadow: 0 0 3px #777;
  -o-box-shadow: 0 0 3px #777;
  box-shadow: 0 0 3px #777;
  padding: 15px 30px;
  margin-bottom: 30px;
  text-align: center;
  position: relative; }
  #content .brand-item img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 60%; }
#content .modal-dialog {
  margin-top: 60px; }
#content .close {
  float: none;
  position: absolute;
  right: 0;
  top: -40px;
  opacity: .9; }
#content .ss-tabs {
  background-color: #fff; }
  #content .ss-tabs .row {
    margin: 0; }
    #content .ss-tabs .row > [class*="col"] {
      padding: 0; }
@media (max-width: 1023px) {
  #content #section-main {
    position: relative;
    padding-bottom: 0; }
    #content #section-main .section-part {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%; }
    #content #section-main .logo-galaxybook {
      height: 30px;
      width: auto; }
    #content #section-main .btn {
      width: 220px;
      margin-bottom: 15px; }
  #content #section-gift {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-gift-sm.png?$ORIGIN_PNG$") center 100%/100% auto no-repeat;
    background-color: #f4f4f4; }
  #content #section-2in1 {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-2in1-sm.png?$ORIGIN_PNG$") center 100%/100% auto no-repeat; }
  #content #section-entertainment {
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-entertainment-sm.png?$ORIGIN_PNG$") center 100%/100% auto no-repeat;
    background-color: #000; }
  #content #section-config {
    padding-bottom: 100%;
    background: url("https://images.samsung.com/is/image/samsung/p5/vn/tablets/galaxy-book/dat-hang/bg/bg-parrot-sm.png?$ORIGIN_PNG$") center 95%/100% auto no-repeat; }
  #content #section-spec {
    padding-bottom: 30px; }
    #content #section-spec .part-content {
      padding-bottom: 30px; }
  #content .popup-banner {
    display: none; }
  #content .modal-dialog {
    margin-top: 60px; }
  #content .modal-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  #content .modal-body {
    padding-top: 0; }
  #content .close {
    right: 10px; }
  #content .separator {
    font-size: 20px; }
  #content .brand-list {
    padding: 0 0 10px 0; }
    #content .brand-list [class*="col"] {
      padding: 0; }
    #content .brand-list .brand-item {
      margin-bottom: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid #aaa; }
  #content .ss-tab-menu ul {
    max-height: 200px; }
  #content .nav-pills.ss-pills > li > a {
    padding-bottom: 10px; }
  #content .location-title {
    margin-top: 10px; } }
@media (max-width: 480px) {
  #content #section-main {
    min-height: 550px; }
  #content #section-gift h2 {
    font-size: 19px; } }
@media (min-width: 1600px) {
  #content #section-main {
    min-height: 880px; } }

/*# sourceMappingURL=main.css.map */
