


 @font-face {
              font-family: 'iCielSamsungSharpSans-Bold';
              src: url('https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.woff2') format('woff2'), 
              url('https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.ttf')  format('truetype');
              font-weight: normal;
              font-style: normal;
            }
            /* One Font */




            @font-face {
              font-family: 'SamsungOne';
              src: url(../fonts/SamsungOne-600C.eot);
              src: url(../fonts/SamsungOne-600C.ttf) format("truetype");
              font-weight: 600;
              font-style: normal;
            }
            @font-face {
              font-family: 'SamsungOne';
              src: url(../fonts/SamsungOne-800C.eot);
              src: url(../fonts/SamsungOne-800C.ttf) format("truetype");
              font-weight: 800;
              font-style: normal;
            }
}
}
}




body #content {
  font-family: 'SamsungOne';
  font-weight: 600;
  font-size: 19px;
  color: #000;
  margin: 0;
}

p{
  line-height: 22px;
  margin-top: 0px;

}

h1{
  font-size:19px;
  font-family: 'SamsungOne';
  font-weight: 800;

}

h2{
  font-size:19px;
  font-family: 'SamsungOne';
  font-weight: 800;
  margin-bottom:0px 
}

.absolute-center, #content .brand-item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  font-family: 'iCielSamsungSharpSans-Bold';
}



#bg-main1{

  background:url('../img/banner1.jpg') ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px

}

/*#slogan {
  padding-left: 100px;
  width: 700px;
}*/
#content .btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 194px;
  height: 48px; 
  min-width: 200px;
  font-size:16px;
  font-family: 'SamsungOne';
  font-weight: 800;
  letter-spacing: 2px;
  }


#bg-main1 h1{



    color: white;
    
    top: 50%;
    left: 50%;
    
    font-family: 'iCielSamsungSharpSans-Bold';
    font-size:27px;


}

#bg-main1 .mt-30{

  padding-top: 20px;

}

#bg-main1 .mt-30 a{

  padding-top:12px;
  text-align: center;
}



#content {
  padding-top: 50px;
  padding-bottom:  50px;
}

/* @media(min-width: 1100px){
     #bg-main1{

       padding-left: 10%;
    padding-top: 120px;
  }
 }
@media (max-width:1100px){
  
 


  #bg-main1 h1 {
    font-size: 22px;
  }


   #bg-main1{

    padding-left: 10%;
    padding-top: 120px;
  }


}

@media (max-width:770px){
  
  


  #bg-main1 {
    background:url('../img/banner2.jpg') ;


      background-size: 100% 100%;
     background-repeat: no-repeat;
    height: 600px;
     width: 100%;
  }

  #bg-main1 .mt-30{

  padding-top: 20px;
  padding-left: 10%;
  }

  #bg-main1 h1{
    left: 0%;
    margin: 0px;
    text-align: center;
    font-size: 27px;
  }

  #bg-main1 .mt-30 {


    padding-top: 50px; 
    padding-left: 0;
    width: 50%;

    margin: 0 auto;

  
  }

  #bg-main1 .slogan{

    padding-top: 0px; 
    padding-left: 0px;
    width: 80%;

    margin: 0 auto;
  
  }


  }

@media (max-width:480px){

  #bg-main1 {
    background:url('../img/banner2.jpg') ;


      background-size: 100% 100%;
     background-repeat: no-repeat;
    height: 500px;
     width: 100%;
  }


  #bg-main1 .slogan{

    padding-top: 0px; 
    padding-left: 0px;
    width: 50%;

    margin: 0 auto;
  
  }
}
*/