<aside class="sidebar col-lg-3 col-md-3 col-sm-3 left-sidebar">
	<!-- Navigation -->
	<div class="row sidebar-box purple">

		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="sidebar-box-heading">
				<i class="icons icon-folder-open-empty"></i>
				<h4>Quản lý</h4>
			</div>

			<div class="sidebar-box-content">
				<ul>
					<li><a href="/admin">Sản phẩm<i class="icons icon-right-dir"></i></a>
						<ul class="sidebar-dropdown">
							<li>
								<ul>
									<li><a href="/admin">Danh sách sản phẩm</a></li>
									<li><a href="/admin/add_product">Thêm sản phẩm</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="/admin/coupon_list">Coupon<i class="icons icon-right-dir"></i></a>
                        <ul class="sidebar-dropdown">
                            <li>
                                <ul>
                                    <li><a href="/admin/coupon_list">Danh sách coupon</a></li>
                                    <li><a href="/admin/add_coupon">Thêm coupon</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/admin/transaction_list">Danh sách giao dịch</a>
					</li>

                    <li><a href="/admin/contact_list">Liên hệ<i class="icons icon-right-dir"></i></a>
						<ul class="sidebar-dropdown">
							<li>
								<ul>
									<li><a href="/admin/contact_list">Danh sách liên hệ</a></li>
									<li><a href="/admin/contact_info">Thông tin liên hệ</a></li>
								</ul>
							</li>
						</ul>
					</li>

                    <li><a href="/admin/list_news">Tin tức<i class="icons icon-right-dir"></i></a>
						<ul class="sidebar-dropdown">
							<li>
								<ul>
									<li><a href="/admin/list_news"">Danh sách tin tức</a></li>
									<li><a href="/admin/add_news">Thêm tin tức</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="/admin/account">Tài khoản</a>
					</li>
					<li><a href="/admin/report">Báo cáo</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</aside>