 <li>
 <a class="fancybox" rel="product-images" href="<%=product.img%>"></a>
                        <img src="<%=product.img%>" data-large="<%=product.img%>" alt=""/>
                      </li>
                      <li>
                        <a class="fancybox" rel="product-images" href=<%=product.fancyboximg[0]%>></a>
                        <img src=<%=product.fancyboximg[0]%> data-large=<%=product.fancyboximg[0]%> alt=""/>
                      </li>
                      <li>
                        <a class="fancybox" rel="product-images" href="<%=product.fancyboximg[1]%>"></a>
                        <img src="<%=product.fancyboximg[1]%>" data-large="<%=product.fancyboximg[1]%>" alt="" />
                      </li>
                      <li>
                        <a class="fancybox" rel="product-images" href="<%=product.fancyboximg[2]%>"></a>
                        <img src="<%=product.fancyboximg[2]%>" data-large="<%=product.fancyboximg[2]%>" alt="" />
                      </li>
                      <li>
                        <a class="fancybox" rel="product-images" href="<%=product.fancyboximg[3]%>"></a>
                        <img src="<%=product.fancyboximg[3]%>" data-large="<%=product.fancyboximg[3]%>" alt="" />
                      </li>
                      <li>
                        <a class="fancybox" rel="product-images" href="<%=product.fancyboximg[4]%>"></a>
                        <img src="<%=product.fancyboximg[4]%>" data-large="<%=product.fancyboximg[4]%>" alt="" />
                      </li>                                        