<div class="products-row row">
	<!-- Carousel Heading -->
	<div class="col-lg-12 col-md-12 col-sm-12">
		
		<div class="carousel-heading">
			<h4>Latest news &amp; Reviews</h4>
			<div class="carousel-arrows">
				<i class="icons icon-left-dir"></i>
				<i class="icons icon-right-dir"></i>
			</div>
		</div>
		
	</div>
	<!-- /Carousel Heading -->
				
				
	<!-- Carousel -->
	<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
		
		<div class="owl-carousel" data-max-items="2">
			
			
			
		</div>
	
	</div>
	<!-- /Carousel -->
				
</div>

<!-- Banner -->
<section class="banner">
	
	<a href="#">
	<div class="left-side-banner banner-item icon-on-right gray">
		<h4>Support</h4>
		<p> 8am - 5pm PST</p>
		<!--<i class="icons icon-phone-outline"></i>-->
	</div>
	</a>
	<a href="#">
	<div class="middle-banner banner-item icon-on-left light-blue">
		<h4>Fast shipping</h4>
		<p>In maximum 10 minutes</p>
        <!--<span class="button">Learn more</span>-->
		<i class="icons icon-truck-1"></i>
	</div>
	</a>
	
	<a href="#">
	<div class="right-side-banner banner-item orange">
		<h4>Crazy sale!</h4>
		<p>on selected items</p>
        <!--<span class="button">Learn more</span>-->
	</div>
	</a>
	
</section>
<!-- /Banner -->

<!-- Footer -->
<footer id="footer" class="row">
	
	<!-- Upper Footer -->
	<div class="col-lg-12 col-md-12 col-sm-12">
		
		<div id="upper-footer">
		
			<div class="row">
				
				<!-- Newsletter -->
				<div class="col-lg-7 col-md-7 col-sm-7">
					<form id="newsletter" action="http://inthe7heaven.com/homeshop-html/php/newsletter.php">
						<h4>Newsletter Sign Up</h4>
						<input type="text" name="newsletter-email" placeholder="Enter your email address">
						<input type="submit" name="newsletter-submit" value="Submit">
					</form>
				</div>
				<!-- /Newsletter -->
				
				
				<!-- Social Media -->
				<div class="col-lg-5 col-md-5 col-sm-5 social-media">
					<h4>Stay Connected</h4>
					<ul>
						<li class="social-googleplus tooltip-hover" data-toggle="tooltip" data-placement="top" title="Google+"><a href="#"></a></li>
						<li class="social-facebook tooltip-hover" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"></a></li>
						<li class="social-pinterest tooltip-hover" data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="#"></a></li>
						<li class="social-twitter tooltip-hover" data-toggle="tooltip" data-placement="top" title="Twitter"><a href="#"></a></li>
						<li class="social-youtube tooltip-hover" data-toggle="tooltip" data-placement="top" title="Youtube"><a href="#"></a></li>
					</ul>
				</div>
				<!-- /Social Media -->
				
			</div>
		
		</div>
		
	</div>
	<!-- /Upper Footer -->
	
	
	
	<!-- Main Footer -->
	<div class="col-lg-12 col-md-12 col-sm-12">
		
		<div id="main-footer">
		
			<div class="row">
				
				<!-- Like us on Facebook -->
				<div class="col-lg-3 col-md-3 col-sm-6 facebook-iframe">
					<h4>Like us on Facebook</h4>
					<iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=270&amp;height=250&amp;colorscheme=light&amp;header=false&amp;show_faces=true&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:100%; height:290px;"></iframe>
				</div>
				<!-- /Like us on Facebook -->


				<!-- Information -->
				<div class="col-lg-3 col-md-3 col-sm-6">
					<h4>Information</h4>
					<ul>
						<li><a href="/aboutus"><i class="icons icon-right-dir"></i> About Us</a></li>
						<li><a href="/copyrightgame"><i class="icons icon-right-dir"></i> What is full copyright game?</a></li>
						<li><a href="/privacy_policy"><i class="icons icon-right-dir"></i> Privacy Policy</a></li>
						<li><a href="/terms_conditions"><i class="icons icon-right-dir"></i> Terms &amp; Conditions</a></li>
					</ul>
				</div>
				<!-- /Information -->

				<!-- The Service -->
				<div class="col-lg-3 col-md-3 col-sm-6">
					<h4>Customer service</h4>
					<ul>
						<li><a href="#"><i class="icons icon-right-dir"></i> My account</a></li>
						<li><a href="/contact"><i class="icons icon-right-dir"></i> Contact</a></li>
						<li><a href="/guarantee_policy"><i class="icons icon-right-dir"></i> Guarantee policy</a></li>
					</ul>
				</div>
				<!-- /The Service -->
											
				<!-- Contact Us -->
				<div class="col-lg-3 col-md-3 col-sm-6 contact-footer-info">
					<h4>Contact Us</h4>
					<ul>
						<li><i class="icons icon-location"></i> 8901 Marmora Road,<br>Glasgow, D04 89GR.</li>
                        <li><i class="icons icon-phone"></i> +1 800 603 6035</li>
						<li><i class="icons icon-mail-alt"></i><a href="mailto:mail@company.com"> mail@companyname.com</a></li>
						<li><i class="icons icon-skype"></i> Figaro team</li>
					</ul>
				</div>
				<!-- /Contact Us -->
				
			</div>
			
		</div>
		
	</div>
	<!-- /Main Footer -->
	
	
	
	<!-- Lower Footer -->
	<div class="col-lg-12 col-md-12 col-sm-12">
		
		<div id="lower-footer">
		
			<div class="row">
				
				<div class="col-lg-6 col-md-6 col-sm-6">
					<p class="copyright">Copyright 2017 <a href="/aboutus">Figaro team</a>. All Rights Reserved.</p>
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-6">
					<ul class="payment-list">
						<li class="payment1"></li>
						<li class="payment2"></li>
						<li class="payment3"></li>
						<li class="payment4"></li>
						<li class="payment5"></li>
					</ul>
				</div>
				
			</div>
			
		</div>
		
	</div>
	<!-- /Lower Footer -->
	
</footer>
<!-- /Footer -->
<div id="back-to-top">
	<i class="icon-up-dir"></i>
</div>