<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href ="/img/logo-ico.png"
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/jquery.nouislider.min.css">
	<link rel="stylesheet" href="/css/fontello.css">
	<link rel="stylesheet" href="/css/animation.css">
	<link rel="stylesheet" href="/css/chosen.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/owl.theme.css">
	<link rel="stylesheet" href="/css/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen" />
	<link rel="stylesheet" href="/css/style.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
