<header class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		
		<!-- Main Header -->
		<div id="main-header">
			
			<div class="row">
				
				<div id="logo" class="col-lg-4 col-md-4 col-sm-4">
					<a href="/"><img src="/img/logo.png" alt="Logo"></a>
				</div>
				
				<nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
					<ul class="pull-right">
						<li class="blue">
						<% if(session.compare != undefined) {%>
						<a href="/compare"><i class="icons icon-docs"></i>
							<%=session.compare.count %> Món </a>
						
                        	<ul id="cart-dropdown" class="box-dropdown parent-arrow">
								<li>
                                	<div class="box-wrapper parent-border">
                                        <p>Recently added item(s)</p>
                                        
                                        <table class="cart-table">
										    <% mycompare.forEach(function(compareItem){ %>
										    <tr>
										        <td><img src=<%=compareItem.item.img %> alt="product"></td>
										        <td>
										            <h6><%= compareItem.item.name %></h6>
										        </td>
										        <td>

										            <a href="#" class="parent-color">Xóa</a>
										        </td>
										    </tr>
										    <% })  %>
                                        </table>
                                        
                                        <br class="clearfix">
                                    </div>                                  
                                    
                                    <div class="box-wrapper no-border">
                                    	<a class="button pull-right parent-background" href="/compare">So sánh</a>
								    </div>
								</li>
							</ul>

						<% } else { %>
							<a href="/order_info"><i class="icons icon-docs"></i>
							0 Món </a>
						<% } %>
                        </li>
						<li class="red">
							<a href="/wishlist"><i class="icons icon-heart-empty"></i>0 Món</a>
                        </li>
						<li class="orange">
						
						<% if(session.cart != undefined) {%>
						<a href="/order_info"><i class="icons icon-basket-2"></i>
							<%=session.cart.count %> Món </a>
						
                        	<ul id="cart-dropdown" class="box-dropdown parent-arrow">
								<li>
                                	<div class="box-wrapper parent-border">
                                        <p>Recently added item(s)</p>
                                        
                                        <table class="cart-table">
										    <% mycart.forEach(function(cartItem){ %>
										    <tr>
										        <td><img src=<%=cartItem.item.img %> alt="product"></td>
										        <td>
										            <h6><%= cartItem.item.name %></h6>
										        </td>
										        <td>
										            <span class="quantity"><span class="light"><%= cartItem.quantity %> x </span> 
										            <% if(cartItem.item.onsale) { %>
										            	<%= cartItem.item.pricesale %>
										            <% } else { %>
										            	<%= cartItem.item.price %>
										            <% } %>

										            </span>

										            <a href="/add_to_cart/remove/<%=cartItem.item._id.toString() %> " class="parent-color">Xóa</a>
										        </td>
										    </tr>
										    <% })  %>
                                        </table>
                                        
                                        <br class="clearfix">
                                    </div>
                                    
									<div class="footer">
										<table class="checkout-table pull-right">
                                        	<tr>
                                            	<td class="align-right">Tax:</td>
                                                <td>$0.00</td>
                                            </tr>
                                            <!-- <tr>
                                            	<td class="align-right">Discount:</td>
                                                <td>$37.00</td>
                                            </tr> -->
                                            <tr>
                                            	<td class="align-right"><strong>Total:</strong></td>
                                                <td><strong class="parent-color"><%=(session.cart.totalPrice).toFixed(2) %></strong></td>
                                            </tr>
                                        </table>
									</div>
                                    
                                    <div class="box-wrapper no-border">
                                    	<a class="button pull-right parent-background" href="/payment_method">Checkout</a>
										<a class="button pull-right" href="/order_info">View Cart</a>
                                    </div>
								</li>
							</ul>

						<% } else { %>
							<a href="/order_info"><i class="icons icon-basket-2"></i>
							0 Món </a>
						<% } %>
                        </li>
						<li class="login-create purple">
                        	<i class="icons icon-user"></i>
                        	<% if(username != undefined){%>
                        		<p>Xin chào <br> <%= username %></p>
                        		<ul id="login-dropdown" class="box-dropdown">
								<li>
                                	<div class="box-wrapper">
                                        <p><a href="/users">Thông tin</a></p>
                                        <br>
                                        <p><a href="orders_history.html">Lịch sử</a></p>
                                        <br>
                                        <p><a href="/logout">Đăng xuất</a></p>
                                    </div>
								</li>
							</ul>
                        	<% } else {%>
                            <p>Xin chào!<a href="#">Đăng nhập</a> hoặc<br><a href="/signup">Tạo tài khoản mới</a></p>
							<ul id="login-dropdown" class="box-dropdown">
								<li>
                                	<div class="box-wrapper">
                                		<form action="/login" method="post">
                                		<input type="hidden" value="<%= csrfToken%>" name="_csrf"/>
                                        <h4>Đăng nhập</h4>
                                        <div class="iconic-input">
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Tên tài khoản" required autofocus>
                                            <i class="icons icon-user-3"></i>
                                        </div>
                                        <div class="iconic-input">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                                            <i class="icons icon-lock"></i>
                                        </div>
                                        <input type="checkbox" id="loginremember"> <label for="loginremember">Ghi nhớ</label>
                                        <br>
                                        <br>
                                        <div class="pull-left">
                                            <input type="submit" class="orange" value="Login">
                                        </div>
                                        <div class="pull-right">
                                            <a href="#">Quên mật khẩu?</a>
                                            <!-- <br>
                                            <a href="#">Forgot your username?</a>
											<br> -->
                                        </div>
                                        <br class="clearfix">
                                        </form>
                                    </div>
									<div class="footer">
										<h4 class="pull-left">Bạn là khách hàng mới?</h4>
										<a class="button pull-right" href="/signup">Tạo tài khoản</a>
									</div>
								</li>
							</ul>
							<%}%>
                        </li>
					</ul>
				</nav>
				
			</div>
			
		</div>
		<!-- /Main Header -->
		
		
		<!-- Main Navigation -->
		<nav id="main-navigation" class="style1">
			<ul>
				
				<li class="home-green current-item">
					<a href="/">
						<i class="icons icon-shop-1"></i>
						<span class="nav-caption">Trang chủ</span>
						<!--<span class="nav-description">Variety of Layouts</span>-->
					</a>
				</li>
				
				<li class="red">
					<a href="/category/Steam">
						<i class="icons icon-steam"></i>
						<span class="nav-caption">STEAM</span>
						<!--<span class="nav-description">Photo & Video</span>-->
					</a>					
				</li>
				
				<li class="blue">
					<a href="/category/BattleNet">
						<i class="icons icon-desktop-2"></i>
						<span class="nav-caption">Battle.net</span>
						<span class="nav-description"></span>
					</a>
				</li>
				
				<li class="orange">
					<a href="/category/Nexon">
						<i class="icons icon-desktop-3"></i>
						<span class="nav-caption">Nexon</span>
						<span class="nav-description"></span>
					</a>
				</li>
				
				<li class="green">
					<a href="/news">
						<i class="icons icon-pencil-7"></i>
						<span class="nav-caption">Tin tức</span>
						<span class="nav-description"></span>
					</a>
				</li>
				
				<li class="purple">
					<a href="/contact">
						<i class="icons icon-location-7"></i>
						<span class="nav-caption">Liên hệ</span>
						<span class="nav-description"></span>
					</a>
				</li>
				
				<li class="nav-search">
                    	<i class="icons icon-search-1"></i>
				</li>
				
			</ul>
			
			<form action="/searchresult" method="post">
			<input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
			<div id="search-bar">
				<div class="col-lg-12 col-md-12 col-sm-12">
                	<table id="search-bar-table">
                        <tr>
                        	<td class="search-column-1">
                                <input type="text" name="keyword" placeholder="Enter your keyword" >
                            </td>
                        </tr>
                    </table>
				</div>
				<div id="search-button">
					<input type="submit" value="">
					<i class="icons icon-search-1"></i>
				</div>
			</div>
			</form>
		</nav>
		<!-- /Main Navigation -->
		
	</div>
				
</header>
