<header class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<!-- Main Header -->
		<div id="main-header">
			<div class="row">
				<div id="logo" class="col-lg-4 col-md-4 col-sm-4">
					<a href="/admin"><img src="/img/logo.png" alt="Logo"></a>
				</div>
				
				<nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
					<ul class="pull-right">
						<li class="login-create purple">
                        	<i class="icons icon-user"></i>
                            <p>Admin <br> <a href="/logout">Log Out</a></p>
                        </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>