<form name="paypalform">
    <div class="row">
    	
        <div class="col-lg-12 col-md-12 col-sm-12 register-account" id="paypalform">
        	
            <div class="carousel-heading no-margin">
                <h4>Paypal</h4>
            </div>
            
            <div class="page-content">
            	<div class="row">
                	
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    	<p><strong>Paypal information</strong></p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Email address</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="emailaddress">
                    </div>	
                    
                </div>

                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Paypal passwords</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="paypalpw">
                    </div>	
                    
                </div>
            </div>
            
    	</div>
          
    </div>
    </form>