<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="grid-view product">
    <div class="blog-image col-lg-5 col-md-5 col-sm-5">
      <img src=<%=product.img %> alt="Product1">
    </div>
                
    <div class="col-lg-7 col-md-7 col-sm-7 product-content no-padding">
      <div class="product-info">
        <h5><a href="/product_detail/<%=product._id.toString() %>"><%=product.name %></a></h5>
        <span class="price"><% if(product.onsale == true) { %>
        <del><%=product.price %></del><%=product.pricesale%>
        <% } else{ %>
          <%=product.price%>
        <% } %></span>
        <div class="rating-box">
          <!-- <div class="rating readonly-rating" data-score="4"></div> -->
          <span>3 Review(s)</span>
        </div>
          <p><%product.description%></p>    
      </div>

      <div class="product-actions full-width">
        <span class="add-to-cart">
            <span class="action-wrapper">
              <a href="/add_to_cart/<%=product._id.toString() %>">
                <i class="icons icon-basket-2"></i>
                <span class="action-name">Add to cart</span>
              </a>
            </span>
        </span>
        <span class="add-to-favorites">
            <span class="action-wrapper">
                <i class="icons icon-heart-empty"></i>
                <span class="action-name">Wishlist</span>
            </span>
        </span>
        <span class="add-to-compare">
            <span class="action-wrapper">
                <i class="icons icon-docs"></i>
                <a href="/add_to_compare/<%=product._id.toString() %>">
                <span class="action-name">Compare</span>
                </a>
            </span>
        </span>
      </div>
    </div>
  </div>
 </div>