<div class="product">
	<div class="product-image">
		<% if(product.onsale == true ) { %>
			<span class="product-tag">Sale</span>
		<% } %>
		<img src="<%=product.img %>" alt="Product1">
		<a href="/product_detail/<%=product._id.toString() %>" class="product-hover">
			<i class="icons icon-eye-1"></i> Quick View
		</a>
	</div>
	
	<div class="product-info">
		<h5><a href="/product_detail/<%=product._id.toString() %>"><%=product.name %></a></h5>
		<span class="price">
			<% if(product.onsale == true) { %>
				<del><%=product.price %></del><%=product.pricesale%>
			<% } else{ %>
				<%=product.price%>
			<% } %>
		</span>
		<div class="rating readonly-rating" data-score="4"></div>
	</div>

	<div class="product-actions">
			<span class="add-to-cart">
				<span class="action-wrapper">
				<a href="/add_to_cart/<%=product._id.toString() %>">
					<i class="icons icon-basket-2"></i>
					<span class="action-name">Add to cart</span>
				</a>
				</span >
			</span>
		
		<span class="add-to-favorites">
			<span class="action-wrapper">
				<i class="icons icon-heart-empty"></i>
				<span class="action-name">Add to wishlist</span>
			</span>
		</span>
		<span class="add-to-compare">
			<span class="action-wrapper">
				<a href="/add_to_compare/<%=product._id.toString() %>">
				<i class="icons icon-docs"></i>
				<span class="action-name">Add to Compare</span>
				</a>
			</span>
		</span>
	</div>
	
</div>