	<!-- JavaScript -->
	<script src="/js/modernizr.min.js"></script>
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.raty.min.js"></script>
	
	<!-- Scroll Bar -->
	<script src="/js/perfect-scrollbar.min.js"></script>
	
	<!-- Cloud Zoom -->
	<script src="/js/zoomsl-3.0.min.js"></script>
	
	<!-- FancyBox -->
	<script src="/js/jquery.fancybox.pack.js"></script>
	
	<!-- jQuery REVOLUTION Slider  -->
	<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>

	<!-- FlexSlider -->
	<script defer src="/js/flexslider.min.js"></script>
	
	<!-- IOS Slider -->
	<script src = "/js/jquery.iosslider.min.js"></script>
	
	<!-- noUi Slider -->
	<script src="/js/jquery.nouislider.min.js"></script>
	
	<!-- Owl Carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	
	<!-- Cloud Zoom -->
	<script src="/js/zoomsl-3.0.min.js"></script>


	<!-- SelectJS -->
    <script src="/js/chosen.jquery.min.js" type="text/javascript"></script>
    
    <!-- Main JS -->
    <script defer src="/js/bootstrap.min.js"></script>
    <script src="/js/main-script.js"></script>

