					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Categories</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">Top Sellers<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Recently Release <i class="icons icon-right-dir"></i></a></li>


									<li><a href="#">On sale <i class="icons icon-right-dir"></i></a></li>

									<li><a class="purple" href="#">All Categories</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
					
					<!-- Genre -->
					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Browse by genre</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">Action games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">RPG games <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Sport games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Adventure games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">FPS games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Strategy games<i class="icons icon-right-dir"></i></a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Genre -->




					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
		
							<div class="sidebar-box-content">
								<ul>
									<li><a href=<%=product.website%> target="_blank">Visit the website<i class="icons icon-right-dir"></i></a></li>
									<li><a href=<%=product.manual%> target="_blank">Visit the manual<i class="icons icon-right-dir"></i></a></li>
									<li><a href=<%=product.trailer%> target="_blank">View trailer<i class="icons icon-right-dir"></i></a></li>
								</ul>
							</div>
							
						</div>
							
					</div>



					
					<!-- Compare Products -->
					<div class="row sidebar-box blue">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-docs"></i>
								<h4>Compare Products</h4>
							</div>
							<div class="sidebar-box-content">
                                <table class="compare-table">
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="/img/product/sample1.jpg" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">The Witcher® 3: Wild Hunt</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="/img/product/sample11.jpg" alt="Product2"></td>
                                        <td class="product-info">
                                            <p><a href="#">Closers-dimension conflict</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <div class="padding-box">
                                	<a class="button grey" href="compare_products.html">Go to compare</a>
                                </div>
							</div>
						</div>
						
					</div>
					<!-- /Compare Products -->
					
					


															

					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="/product_detail/58e7c7b76798e7745ff207fa"><img src="/img/sidebar-slide1.jpg" alt="Slide1"/></a>
										</li>
										<li>
											<a href="/product_detail/58e7b6ec6798e7745ff2056e"><img src="/img/sidebar-slide2.jpg" alt="Slide1"/></a>
										</li>
										<li>
											<a href="/product_detail/58e841356798e7745ff228da"><img src="/img/sidebar-slide3.jpg" alt="Slide1"/></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						

					</div>


					<!-- Tag Cloud -->
                    <div class="row sidebar-box green">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                                <i class="icons icon-tag-6"></i>
                                <h4>Tags Cloud</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                                <a href="#" class="tag-item">steam</a>
                                <a href="#" class="tag-item">action</a>
                                <a href="#" class="tag-item">fps</a>
                                <a href="#" class="tag-item">strategy</a>
                                <a href="#" class="tag-item">nexon</a>
                            </div>
                                
                        </div>
                        
                    </div>
                    <!-- /Tag Cloud -->
					<!-- /Carousel -->