					                    <div class="row sidebar-box green">
                    
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="sidebar-box-heading">
                            	<i class="icons icon-filter"></i>
                            	<h4>Filters</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                            	<!-- <label>Categories</label><br>
                                <select class="chosen-select-full-width">
                                	<option>Category 1</option>
                                    <option>Category 1</option>
                                    <option>Category 1</option>
                                    <option>Category 1</option>
                                    <option>Category 1</option>
                                </select>
                                <br><br> -->
                                
                                <label>Narrow by number of players</label><br>
                                <input type="checkbox" name="payment" value="1" id="categorymanufacturer1"><label for="categorymanufacturer1">Single-player <span class="grey">(12)</span></label><br>
                                <input type="checkbox" name="payment" value="2" id="categorymanufacturer2"><label for="categorymanufacturer2">Multi-player <span class="grey">(14)</span></label><br>
                                <input type="checkbox" name="payment" value="3" id="categorymanufacturer3"><label for="categorymanufacturer3">Online Multi-Player <span class="grey">(4)</span></label><br>
                                <input type="checkbox" name="payment" value="4" id="categorymanufacturer4"><label for="categorymanufacturer4"> Co-op <span class="grey">(24)</span></label><br>
                                <br>
                                
                                <!--<label>Price</label>
                            	<div class="noUiSlider" data-min-range="5" data-max-range="100" data-min-value="5" data-max-value="100"></div>
								<span class="price-range-min"></span>
								<span class="price-range-max"></span>
								<br><br>-->

                                <!-- <label>Color</label><br>
								<input id="checkbox-color-white" type="checkbox"><label class="color-checkbox white" for="checkbox-color-white"></label>
                                <input id="checkbox-color-red" type="checkbox"><label class="color-checkbox red" for="checkbox-color-red"></label>
								<input id="checkbox-color-green" type="checkbox"><label class="color-checkbox green" for="checkbox-color-green"></label>
								<input id="checkbox-color-blue" type="checkbox"><label class="color-checkbox blue" for="checkbox-color-blue"></label>
								<input id="checkbox-color-black" type="checkbox"><label class="color-checkbox black" for="checkbox-color-black"></label> -->
                                <br><br>
                                <input type="submit" value="Show">
                                <input class="dark-blue" type="reset" value="Reset">
                                
                            </div>
                            
                        </div>
                        
                    </div>

					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Categories</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="/featured">Featured<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/topseller">Top Sellers<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/recentlyrelease">Recently Release <i class="icons icon-right-dir"></i></a></li>
									<li><a href="/onsale">On sale <i class="icons icon-right-dir"></i></a></li>

								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
					
					<!-- Genre -->
					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Browse by genre</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="/actiongames">Action games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/rpggames">RPG games <i class="icons icon-right-dir"></i></a></li>
									<li><a href="/sportgames">Sport games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/adventuregames">Adventure games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/fpsgames">FPS games<i class="icons icon-right-dir"></i></a></li>
									<li><a href="/strategygames">Strategy games<i class="icons icon-right-dir"></i></a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Genre -->
					
					<!-- Compare Products -->
					<div class="row sidebar-box blue">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-docs"></i>
								<h4>Compare Products</h4>
							</div>
							<div class="sidebar-box-content">
                                <table class="compare-table">
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="/img/product/sample1.jpg" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">The Witcher® 3: Wild Hunt</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="/img/product/sample11.jpg" alt="Product2"></td>
                                        <td class="product-info">
                                            <p><a href="#">Closers-dimension conflict</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <div class="padding-box">
                                	<a class="button grey" href="compare_products.html">Go to compare</a>
                                </div>
							</div>
						</div>
						
					</div>
					<!-- /Compare Products -->
					
					


															

					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="/product_detail/58e7c7b76798e7745ff207fa"><img src="/img/sidebar-slide1.jpg" alt="Slide1"/></a>
										</li>
										<li>
											<a href="/product_detail/58e7b6ec6798e7745ff2056e"><img src="/img/sidebar-slide2.jpg" alt="Slide1"/></a>
										</li>
										<li>
											<a href="/product_detail/58e841356798e7745ff228da"><img src="/img/sidebar-slide3.jpg" alt="Slide1"/></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						

					</div>


					<!-- Tag Cloud -->
                    <div class="row sidebar-box green">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                                <i class="icons icon-tag-6"></i>
                                <h4>Tags Cloud</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                                <a href="#" class="tag-item">steam</a>
                                <a href="#" class="tag-item">action</a>
                                <a href="#" class="tag-item">fps</a>
                                <a href="#" class="tag-item">strategy</a>
                                <a href="#" class="tag-item">nexon</a>
                            </div>
                                
                        </div>
                        
                    </div>
                    <!-- /Tag Cloud -->
					<!-- /Carousel -->