<aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">
					
	<!-- Categories -->
	<div class="row sidebar-box red">
		
		<div class="col-lg-12 col-md-12 col-sm-12">
			
			<div class="sidebar-box-heading">
				<i class="icons icon-user"></i>
				<h4>Tài khoản</h4>
			</div>
			
			<div class="sidebar-box-content">
				<ul>
					<li><a href="/users">Thông tin tài khoản<i class="icons icon-right-dir"></i></a></li>
					<li><a href="change_account_info.html">Sửa thông tin tài khoản<i class="icons icon-right-dir"></i></a></li>
					<li><a href="/users/change_password">Sửa mật khẩu<i class="icons icon-right-dir"></i></a></li>
					<li><a href="/order_info">Giỏ hàng<i class="icons icon-right-dir"></i></a></li>
					<li><a href="wishlist.html">Wish list<i class="icons icon-right-dir"></i></a></li>
					<li><a href="orders_history.html">Lịch sử đơn hàng<i class="icons icon-right-dir"></i></a></li>
					<li><a href="coupon.htm">Coupon <i class="icons icon-right-dir"></i></a></li>
					<li><a href="/logout">Đăng xuất</a></li>
				</ul>
			</div>
			
		</div>
			
	</div>
	<!-- /Categories -->
    
</aside>