<form name="visaform">
    <div class="row">
    	
        <div class="col-lg-12 col-md-12 col-sm-12 register-account" id="visaform">
        	
            <div class="carousel-heading no-margin">
                <h4>Visa</h4>
            </div>
            
            <div class="page-content">
            	<div class="row">
                	
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    	<p><strong>Visa information</strong></p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Card number</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="cardnumber">
                    </div>	
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Expiration date and security code</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="row">
                    	<div class="col-lg-3 col-md-3 col-sm-3">
                    	<select class="form-control col-sm-2" name="expiry-month" id="expirymonth">
			                <option>Month</option>
			                <option value="01">1</option>
			                <option value="02">2</option>
			                <option value="03">3</option>
			                <option value="04">4</option>
			                <option value="05">5</option>
			                <option value="06">6</option>
			                <option value="07">7</option>
			                <option value="08">8</option>
			                <option value="09">9</option>
			                <option value="10">10</option>
			                <option value="11">11</option>
			                <option value="12">12</option>
			              </select>
			              </div>

			              <div class="col-lg-6 col-md-6 col-sm-6">
                    	<select class="form-control" name="expiry-year" id ="expirayyear">
			                <option value="13">2017</option>
			                <option value="14">2018</option>
			                <option value="15">2019</option>
			                <option value="16">2020</option>
			                <option value="17">2021</option>
			                <option value="18">2022</option>
			                <option value="19">2023</option>
			                <option value="20">2024</option>
			                <option value="21">2025</option>
			                <option value="22">2026</option>
			                <option value="23">2027</option>
			              </select>
			              </div>
			              <div class ="col-lg-3 col-md-3 col-sm-3">
			              	<input type="text" id="securitycode">
			              </div>
			              </div>
                    </div>	
                    
                </div>

                <div class="row">
                
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    	<p><strong>Billing information</strong></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Name</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="billingname">
                    </div>	
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>City</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="billingcity">
                    </div>	
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Billing address</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="billingaddress">
                    </div>	
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Zip or postal code</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="billingzipcode">
                    </div>	
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    	<p>Phone number</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                    	<input type="text" id="billingphone">
                    </div>	
                    
                </div>
            </div>
            
    	</div>
          
    </div>
    </form>