html, body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'iCielSamsungSharpSans-Bold';
  src: url("https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.woff2") format("woff2"), url("https://cdn.samsung.com/etc/designs/smg/vn/font/SamsungSharpSans-Bold-UTF8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-600C.eot);
  src: url(../fonts/SamsungOne-600C.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-800C.eot);
  src: url(../fonts/SamsungOne-800C.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-400.eot);
  src: url(../fonts/SamsungOne-400.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SamsungOne';
  src: url(../fonts/SamsungOne-200.eot);
  src: url(../fonts/SamsungOne-200.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
html {
  position: relative; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  height: 200%;
  z-index: 1;
  display: none;
  background: black;
  opacity: 0.2; }

.backdrop.appear {
  display: block; }

.backdrop.hide {
  display: none; }

#rewarddetail-mobile {
  display: none; }

#slogan {
  position: absolute;
  left: 18%;
  top: 9%; }

#slogan > h1 {
  font-family: 'SamsungOne';
  font-weight: 600;
  color: #064cab;
  font-size: 80px; }

#section0 {
  background-image: url(../images/bg/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center; }

#section1 {
  background-image: url(../images/bg/bg-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: hidden; }

#closebtn0.hide {
  display: none; }

#closebtn1.hide {
  display: none; }

.closebtn img {
  height: 25px;
  width: 25px; }

#stickyheader {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0; }

.header {
  /*.menu:hover .dropbtn {
  	display: none;
      background-color: transparent;
  }*/ }
  .header .logo {
    padding-top: 25px;
    padding-left: 25px;
    display: inline-block;
    position: relative; }
  .header #logoblue {
    display: block; }
  .header #logowhite {
    display: none; }
  .header #logoblue.hide {
    display: none; }
  .header #logowhite.appear {
    display: block; }
  .header .dropbtn {
    background-color: transparent;
    color: #0050a2;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 2; }
  .header .closebtn {
    background-color: transparent;
    color: #0050a2;
    padding-right: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer; }
  .header .dropbtn.hide {
    display: none; }
  .header #dropbtn0.hide {
    display: none; }
  .header #dropbtn1.hide {
    display: none; }
  .header .white {
    color: white; }
  .header .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    opacity: 0.7;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: right;
    white-space: nowrap !important; }
  .header .menu {
    position: relative;
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 10px; }
  .header .dropdown-content a {
    font-size: 22px;
    color: #0051b1;
    padding: 12px 10px;
    text-decoration: none;
    display: block; }
  .header .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #2058a2;
    font-weight: bold; }
  .header .dropdown-content a > img {
    opacity: 0;
    height: 20px;
    width: 20px; }
  .header .dropdown-content a:hover img {
    opacity: 1; }
  .header .dropdown-content a.first:hover {
    border-top-left-radius: 15px; }
  .header .dropdown-content a.last:hover {
    border-bottom-left-radius: 15px; }
  .header .menu:hover .dropdown-content {
    display: block; }
  .header .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    text-align: right;
    opacity: 0.7;
    border: none !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 2; }
  .header .dropdown-menu.hide {
    display: none; }
  .header #dropdown-menu0.hide {
    display: none; }
  .header #dropdown-menu1.hide {
    display: none; }
  .header .dropdown-menu a {
    font-size: 22px;
    color: #0051b1;
    padding: 12px 10px;
    text-decoration: none;
    display: block; }
  .header .dropdown-menu a.first:hover {
    border-top-left-radius: 15px; }
  .header .dropdown-menu a.last:hover {
    border-bottom-left-radius: 15px; }
  .header .dropdown-menu li {
    margin-top: 0;
    margin-bottom: 0; }
  .header .dropdown-menu > .active > a {
    font-weight: bold;
    background-color: white; }
  .header .dropdown-menu > .active > a:hover {
    color: #333; }
  .header .dropdown-menu > li > a > img {
    opacity: 0;
    height: 20px;
    width: 20px; }
  .header .dropdown-menu a:hover img {
    opacity: 1; }

#fanall {
  position: absolute;
  bottom: 0; }

#fanall img {
  height: 75%;
  width: 75%; }

#rewardtitle {
  color: white;
  position: fixed;
  top: 105%;
  left: 50%;
  /* bring your own prefixes */
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;
  font-family: 'SamsungOne';
  font-weight: 400; }
  #rewardtitle .rwd-break {
    display: none; }

#rewardtitle h1 {
  font-size: 60px; }

#rewardtitle h3 {
  font-size: 30px;
  line-height: 0px; }

/*#rewarddetail {
	background-color: #042351;
	width: 50%;
  	height: 60%;
  	padding-bottom: 30px;
}*/
#rewarddetail {
  position: fixed;
  background-color: #042351;
  opacity: 0.8;
  border-radius: 20px;
  top: 130%;
  left: 50%;
  width: 50%;
  height: 60%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center; }

#rewarddetail > #goal h4 {
  color: white;
  font-family: 'SamsungOne';
  font-weight: 400;
  font-size: 22px; }

#rewarddetail #round53 {
  width: 30%; }
#rewarddetail #round42 {
  width: 30%; }
#rewarddetail #round1 {
  width: 40%; }

.button-bg-half {
  position: absolute;
  margin-left: -20px;
  z-index: -1;
  display: inline-block;
  background-image: url(../images/slide-reward/button-bg-half.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 38px;
  width: 147px;
  color: white;
  font-family: 'SamsungOne';
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 38px; }

.button-bg {
  background-image: url(../images/slide-reward/button-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  color: white;
  font-family: 'SamsungOne';
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 38px; }

#round53 {
  text-align: left;
  transform: translateX(10%);
  -ms-transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -o-transform: translateX(10%);
  -moz-transform: translateX(10%);
  /*	transform: translateX(10%);*/ }

#round5 img {
  height: 149px;
  width: 77px;
  vertical-align: top;
  text-align: left; }
#round5 .amount {
  text-align: left;
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-top: 35px;
  display: inline-block; }
  #round5 .amount .number {
    font-size: 30px; }

#round3 {
  padding-top: 20px; }
  #round3 img {
    height: 143px;
    width: 70px;
    vertical-align: top; }
  #round3 .amount {
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-top: 60px;
    display: inline-block;
    text-align: left; }
    #round3 .amount .number {
      font-size: 30px; }

#round42 {
  text-align: center;
  transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -o-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  /*	transform: translateX(-10%);
  */ }

#round4 img {
  height: 146px;
  width: 73px;
  vertical-align: top;
  text-align: left; }
#round4 .amount {
  text-align: left;
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-top: 35px;
  display: inline-block; }
  #round4 .amount .number {
    font-size: 30px; }

#round2 {
  padding-top: 20px;
  padding-bottom: 30px; }
  #round2 img {
    width: 220px;
    vertical-align: top; }
  #round2 .amount {
    position: absolute;
    left: 20%;
    color: white;
    text-align: left;
    display: block; }
    #round2 .amount .number {
      font-size: 30px;
      line-height: 40px; }
  #round2 .button-bg-half {
    margin-left: -88px; }
  #round2 .amount {
    text-align: center;
    width: 200px; }

#round1 img {
  padding-top: 10px;
  height: 179px;
  width: 250px; }
#round1 .amount {
  color: white; }
  #round1 .amount .number {
    font-size: 30px; }

#specialrewarddetail {
  text-align: left;
  padding-left: 50px;
  padding-top: 20px; }

#specialrewarddetail h2 {
  font-size: 32px;
  color: white;
  font-family: 'SamsungOne';
  font-weight: 200; }

#eiffel {
  position: absolute;
  left: 50%;
  top: 45%; }

#eiffel img {
  height: auto;
  width: 120%; }

#rewarddetail-mobile {
  position: fixed;
  background-color: #042351;
  opacity: 0.8;
  border-radius: 20px;
  top: 135%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  /*transform: translateX(-50%);*/
  text-align: center; }

#rewarddetail-mobile > #goal-mobile h4 {
  color: white;
  font-family: 'SamsungOne';
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px; }

.carousel-inner {
  height: 50%; }

.carousel-inner > .item > .reward-mobile {
  padding-top: 10px;
  width: 225px;
  height: 225px;
  margin: 0 auto; }

.carousel-inner > .item > .reward-mobile > img {
  height: 100%; }

.carousel-caption {
  padding-bottom: 0;
  bottom: -80px; }
  .carousel-caption .number {
    font-size: 40px; }
  .carousel-caption .type {
    font-weight: bold; }
  .carousel-caption .model {
    font-weight: bold; }

.multilinecaption {
  bottom: -95px; }

.carousel-inner > .item > .landscapereward > img {
  padding-top: 70px;
  width: 100%;
  height: auto; }

.landscaperewardcaption {
  bottom: -50px; }

.carousel-inner > .item > .biggest > img {
  padding-top: 40px;
  width: 100%;
  height: auto; }

.carousel-control {
  bottom: 50%;
  /* top: -50%; */ }

.round5-mobile {
  top: 10%;
  left: 55%;
  width: 140px;
  text-align: right;
  padding-right: 10px; }

.round4-mobile {
  top: 10%;
  left: 55%;
  width: 140px;
  text-align: right;
  padding-right: 18px; }

.round3-mobile {
  top: 10%;
  left: 55%;
  width: 150px;
  text-align: right;
  padding-right: 15px; }

.round2-mobile {
  top: 40%;
  left: 55%;
  width: 150px;
  text-align: right;
  padding-right: 15px; }

.round1-mobile {
  position: absolute;
  height: auto;
  /*	transform: translateX(50%);
  */
  transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -o-transform: translateX(50%);
  -moz-transform: translateX(50%);
  top: 0%; }

#specialrewarddetail-mobile h2 {
  font-family: 'SamsungOne';
  font-weight: 200;
  color: white;
  font-size: 20px; }

.carousel-inner > .item > .special > img {
  width: 100%;
  height: auto; }

.carousel-control.left, .carousel-control.right {
  background-image: none !important; }

/*# sourceMappingURL=main.css.map */
