@media (min-width: 600px) {
  #fanall img {
    height: 60%;
    width: 60%; } }
@media (min-width: 900px) {
  #fanall img {
    height: 80%;
    width: 80%; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #fanall img {
    height: 50%;
    width: 50%; } }
@media (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  #fanall img {
    height: 60%;
    width: 60%; } }

@media (max-width: 599px) {
  #section0 {
    background-image: url(../images/bg-mobile/bg-1.jpg); } }
@media (min-width: 600px) {
  #section0 {
    background-image: url(../images/bg-mobile/bg-1.jpg);
    background-size: cover;
    background-position: center center; } }
@media (min-width: 900px) {
  #section0 {
    background-image: url(../images/bg/bg-1.jpg);
    background-size: cover;
    background-position: center center; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #section0 {
    background-image: url(../images/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  #section0 {
    background-image: url(../images/bg-mobile/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #section0 {
    background-position: center 30%; } }

@media (max-width: 599px) {
  .header .logo > #logoblue img {
    height: 60%;
    width: 60%; }
  .header .logo > #logowhite img {
    height: 60%;
    width: 60%; }
  .header .dropbtn {
    padding-top: 0px;
    padding-right: 10px; }
  .header .dropdown-content {
    min-width: 195px; }
  .header .dropdown-content a {
    font-size: 14px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .header .dropbtn {
    font-size: 45px; }
  .header .dropdown-content {
    min-width: 500px; }
  .header .dropdown-content a {
    padding-bottom: 18px;
    font-size: 40px; }
  .header .dropdown-content a > img {
    height: 30px;
    width: 30px; } }
@media (min-width: 900px) {
  .header .dropbtn {
    font-size: 45px; } }

@media (max-width: 599px) {
  #slogan {
    position: static;
    text-align: center;
    padding-top: 20px; }
    #slogan h1 {
      padding-top: 65px;
      font-weight: bold;
      font-size: 30px; } }
@media (min-width: 600px) {
  #slogan {
    position: static;
    text-align: center;
    padding-top: 10px; }
    #slogan h1 {
      font-weight: bold;
      font-size: 50px; } }
@media (min-width: 900px) {
  #slogan h1 {
    font-weight: bold;
    font-size: 70px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #slogan {
    position: absolute;
    left: 18%;
    top: 10%; }
    #slogan h1 {
      font-weight: bold;
      font-size: 50px; } }
@media (min-width: 1200px) {
  #slogan {
    position: absolute; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #slogan h1 {
    font-size: 55px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #slogan {
    position: absolute;
    padding-top: 0;
    left: 10%;
    top: 3%; }
    #slogan h1 {
      padding-top: 90px;
      font-size: 60px;
      /*        @include stroketext(1px,white);
      */ } }
@media (max-width: 320px) and (orientation: portrait) {
  #slogan h1 {
    padding-top: 35px;
    font-size: 25px; } }

@media (max-width: 599px) {
  #rewardtitle {
    position: absolute;
    top: 112%; }
    #rewardtitle .rwd-break {
      display: block; }
    #rewardtitle img {
      width: 210px;
      height: auto; }
    #rewardtitle h1 {
      font-size: 17px;
      margin-top: 15px;
      margin-bottom: 5px;
      white-space: nowrap; }
    #rewardtitle h3 {
      margin-top: 8px;
      font-size: 15px;
      line-height: 20px; } }
@media (max-width: 599px) {
  #rewardtitle img {
    width: 270px; }
  #rewardtitle h1 {
    white-space: nowrap; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #rewardtitle {
    top: 110%; }
    #rewardtitle h1 {
      font-size: 37px;
      margin-bottom: 5px;
      white-space: nowrap; }
    #rewardtitle h3 {
      line-height: 32px;
      margin-top: 0px; }
    #rewardtitle .rwd-break {
      display: block; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  #rewardtitle {
    top: 110%;
    width: 80%; }
    #rewardtitle h1 {
      font-size: 60px;
      margin-bottom: 5px;
      white-space: nowrap; }
    #rewardtitle h3 {
      font-size: 50px;
      line-height: 60px;
      margin-top: 0px; }
    #rewardtitle .rwd-break {
      display: block; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #rewardtitle {
    width: 80%; } }
@media (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  #rewardtitle {
    width: 80%; } }
@media (max-width: 320px) and (orientation: portrait) {
  #rewardtitle {
    top: 115%; }
    #rewardtitle img {
      width: 200px; } }

@media (min-width: 320px) and (max-width: 1199px) and (orientation: portrait) {
  #rewarddetail {
    display: none; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #rewarddetail {
    width: 80%;
    height: 65%; } }
@media (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  #rewarddetail {
    width: 80%; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #rewarddetail {
    height: 65%; } }

@media (min-width: 320px) and (max-width: 1199px) and (orientation: portrait) {
  #rewarddetail-mobile {
    display: block;
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #rewarddetail-mobile {
    width: 450px; } }
@media (max-width: 599px) {
  #rewarddetail-mobile {
    /*    width: 65%;
    */ } }

@media (max-width: 599px) {
  #rewardtitle h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #rewardtitle h1 {
    font-size: 35px;
    margin-top: 5px; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #rewardtitle h1 {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 30px; } }
@media (max-width: 320px) and (orientation: portrait) {
  #rewardtitle h1 {
    font-size: 15px; } }

@media (max-width: 599px) {
  #rewardtitle h3 {
    margin-top: 3px;
    margin-bottom: 3px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #rewardtitle h3 {
    font-size: 15px;
    margin-top: 10px; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #rewardtitle h3 {
    font-size: 20px;
    margin-top: 13px; } }
@media (max-width: 320px) and (orientation: portrait) {
  #rewardtitle h3 {
    margin-top: 2px;
    font-size: 12px;
    white-space: nowrap; }
    #rewardtitle h3 .rwd-break {
      display: none; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #rewarddetail > #goal h4 {
    font-size: 19px; } }

@media (min-width: 1200px) and (max-width: 1799px) {
  #specialrewarddetail {
    padding-top: 0; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #specialrewarddetail h2 {
    margin-top: 0px;
    font-size: 19px; }
    #specialrewarddetail h2 .rwd-breakspecial {
      display: none; } }
@media (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  #specialrewarddetail h2 {
    font-size: 40px; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #specialrewarddetail h2 {
    font-size: 22px; }
    #specialrewarddetail h2 .rwd-breakspecial {
      display: none; } }

#rewarddetail-mobile > #goal-mobile {
  white-space: nowrap; }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #rewarddetail-mobile > #goal-mobile h4 {
    font-size: 18px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  #rewarddetail-mobile > #goal-mobile h4 {
    font-size: 35px; } }
@media (max-width: 320px) and (orientation: portrait) {
  #rewarddetail-mobile > #goal-mobile h4 {
    font-size: 10px;
    margin-bottom: 0px; } }

@media (max-width: 599px) {
  .carousel-inner > .item > .reward-mobile {
    width: 150px;
    height: 150px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-inner > .item > .reward-mobile {
    height: 300px;
    width: 300px;
    /*    height:auto;
        width: auto;
        max-height: 60%;
        max-width: 100%;*/ } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-inner > .item > .reward-mobile {
    height: 550px;
    width: 550px; } }
@media (max-width: 599px) and (min-height: 610px) and (orientation: portrait) {
  .carousel-inner > .item > .reward-mobile {
    height: 200px;
    width: 200px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-caption {
    bottom: -120px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-caption {
    bottom: -117px; } }

@media (max-width: 599px) {
  .carousel-caption .number {
    font-size: 30px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-caption .number {
    font-size: 50px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-caption .number {
    font-size: 60px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .carousel-caption .number {
    font-size: 25px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-caption .type {
    font-size: 20px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-caption .type {
    font-size: 30px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-caption .model {
    font-size: 20px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-caption .model {
    font-size: 30px;
    white-space: nowrap; } }

@media (max-width: 320px) and (orientation: portrait) {
  .round5-mobile {
    width: 122px; } }
@media (max-width: 599px) {
  .round5-mobile {
    width: 128px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .round5-mobile {
    height: 50px;
    width: 200px;
    font-size: 22px;
    padding-right: 15px;
    padding-top: 5px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .round5-mobile {
    height: 60px;
    width: 300px;
    font-size: 30px;
    padding-right: 30px;
    padding-top: 10px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .round5-mobile {
    width: 122px; } }
@media (max-width: 599px) and (min-height: 610px) and (orientation: portrait) {
  .round5-mobile {
    width: 135px; } }

@media (max-width: 320px) and (orientation: portrait) {
  .round4-mobile {
    width: 120px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .round4-mobile {
    height: 50px;
    width: 200px;
    font-size: 22px;
    padding-right: 25px;
    padding-top: 5px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .round4-mobile {
    height: 60px;
    width: 280px;
    font-size: 30px;
    padding-right: 30px;
    padding-top: 10px; } }

@media (max-width: 599px) {
  .round3-mobile {
    width: 130px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .round3-mobile {
    height: 50px;
    width: 200px;
    font-size: 22px;
    padding-right: 13px;
    padding-top: 5px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .round3-mobile {
    height: 60px;
    width: 280px;
    font-size: 30px;
    padding-right: 30px;
    padding-top: 10px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .round3-mobile {
    width: 124px;
    padding-right: 7px; } }
@media (max-width: 599px) and (min-height: 610px) and (orientation: portrait) {
  .round3-mobile {
    width: 145px; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-inner > .item > .loa {
    height: 450px;
    width: 450px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .multilinecaption {
    bottom: -114px;
    line-height: 26px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .multilinecaption {
    bottom: -170px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .multilinecaption {
    bottom: -80px; } }

@media (max-width: 599px) {
  .round2-mobile {
    width: 128px;
    padding-right: 8px;
    top: 55%; } }
@media (max-width: 320px) and (orientation: portrait) {
  .round2-mobile {
    top: 41%;
    width: 120px;
    font-size: 12px;
    padding-right: 8px; } }
@media (max-width: 599px) and (min-height: 610px) and (orientation: portrait) {
  .round2-mobile {
    top: 41%;
    width: 138px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .landscaperewardcaption {
    bottom: -50px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .landscaperewardcaption {
    bottom: 20px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .landscaperewardcaption {
    bottom: -30px; } }

@media (max-width: 599px) {
  .landscaperewardcaption2 {
    bottom: -85px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .landscaperewardcaption2 {
    bottom: -90px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .round2-mobile {
    height: 50px;
    width: 200px;
    font-size: 22px;
    padding-right: 13px;
    padding-top: 5px;
    top: 48%; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .round2-mobile {
    height: 60px;
    width: 280px;
    font-size: 25px;
    padding-right: 30px;
    padding-top: 8px;
    top: 33%; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-inner > .item > .landscapereward > img {
    padding-top: 130px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-inner > .item > .landscapereward > img {
    padding-top: 130px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .carousel-inner > .item > .landscapereward > img {
    padding-top: 50px; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .round1-mobile {
    font-size: 22px;
    height: 40px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .round1-mobile {
    font-size: 22px;
    height: 40px; } }
@media (max-width: 320px) and (orientation: portrait) {
  .round1-mobile {
    top: 2%; } }

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .carousel-inner > .item > .biggest > img {
    padding-top: 40px; } }

@media (max-width: 599px) {
  #specialrewarddetail-mobile h2 {
    margin-top: -5px;
    font-size: 15px; } }
@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  #specialrewarddetail-mobile h2 {
    font-size: 25px; } }
@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  #specialrewarddetail-mobile h2 {
    font-size: 52px; } }
@media (max-width: 599px) and (min-height: 610px) and (orientation: portrait) {
  #specialrewarddetail-mobile h2 {
    font-size: 19px; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
  .carousel-inner > .item > .special > img {
    width: 108%; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #eiffel {
    left: 50%;
    top: 60%; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #eiffel {
    left: 40%;
    top: 50%; } }

@media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
  #eiffel img {
    width: 80%; } }
@media (min-width: 1200px) and (max-width: 1799px) {
  #eiffel img {
    width: 60%; } }

/*.carousel-inner>.item {
  @include for-snakktablet-portrait-only {
    height:auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
}*/

/*# sourceMappingURL=style.css.map */
