<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
		
		<!-- Container -->
		<div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>


  <!-- Content -->
      <div class="row content">
        
        
                
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
              <div class="row">
                
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    
                      
                      
                      <div class="page-content">
                        
                        <div class="row">
                        <div class="error404">
                        <h1>SORRY</h1>
                        <h2>we couldn't find that page</h2>
                        <h3>Try searching or go to <a href="/">Figaro gaming's home page</a></h3>
                        
                        </div>
                       </div>

                        </div>

                      </div>
                      
                </div>
                    
              
                        
                    
        </section>
        <!-- /Main Content -->
                
                
                
                
      </div>
      <!-- /Content -->

      <% include ./partials/footer.ejs %>
</div>

<% include ./partials/script.ejs %>
  </body>
</html>