<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
		
		<!-- Container -->
		<div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>


  <!-- Content -->
      <div class="row content">
        
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="breadcrumbs">
              <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
          </div>
        </div>
                
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
              <div class="row">
                
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    
                      <div class="carousel-heading no-margin">
                          <h4>About us</h4>
                      </div>
                      
                      <div class="page-content">
                        


                        <div class="row">
                        <div class="aboutteam">
                        
                        <div class="member col-lg-4 col-md-4 col-sm-4">
                        <img  src = "img/aboutus/hai.jpg">
                        <p><strong>Tra Ngoc Hai</strong></p>

                        <div class="memberinfo">
                        <p>something about me here</p>
                        </div>
          <div class="contact-bar">
            <a href="https://www.facebook.com/bokunokurumi" id="facebook" target="_blank"><i class="icons icon-facebook"></i></a> 
            <a href="https://plus.google.com/100653138412788535053" id="googleplus" target="_blank"><i class="icons icon-googleplus"></i></a> 
            <a href="https://twitter.com/thephantomqn" id="twitter" target="_blank"><i class="icons icon-twitter"></i></a>
            
          </div>


          </div> 
                        <div class="member col-lg-4 col-md-4 col-sm-4">
                        <img src = "img/aboutus/thao.jpg">
                        <p><strong>Nguyễn Thảo</strong></p>
                        <div class="memberinfo">
                        <p>something about me here</p>
                        </div>
          <div class="contact-bar">
            <a href="https://www.facebook.com/" id="facebook" target="_blank"><i class="icons icon-facebook"></i></a> 
            <a href="https://plus.google.com/" id="googleplus" target="_blank"><i class="icons icon-googleplus"></i></a> 
            <a href="https://twitter.com/" id="twitter" target="_blank"><i class="icons icon-twitter"></i></a>
            
          

                        </div>
                        </div>
                        <div class="member col-lg-4 col-md-4 col-sm-4">
                        <img src = "img/aboutus/xuan.jpg">
                        <p><strong>Chhoa Giang Nghinh Xuân</strong></p>

                        <div class="memberinfo">
                        <p>something about me here</p>
                        </div>
          <div class="contact-bar">
            <a href="https://www.facebook.com" id="facebook" target="_blank"><i class="icons icon-facebook"></i></a> 
            <a href="https://plus.google.com" id="googleplus" target="_blank"><i class="icons icon-googleplus"></i></a> 
            <a href="https://twitter.com" id="twitter" target="_blank"><i class="icons icon-twitter"></i></a>
            
          </div>
                        </div>
                          
                        
                        </div>

                          


                          
                      </div>
                      
                </div>
                    
              </div>
                        
                    
        </section>
        <!-- /Main Content -->
                
                
                
                
      </div>
      <!-- /Content -->

      <% include ./partials/footer.ejs %>
</div>

<% include ./partials/script.ejs %>
  </body>
</html>