<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<title><%= title%></title>
	</head>
	    
   	<body>
		<!-- Container -->
		<div class="container">
		<% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>			
			
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> 
                    		<a href="/users">Tài khoản</a>
                    		<i class="icons icon-right-dir"></i><%= title%></p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
					
                    <div class="row">
                        <!-- Heading -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Thông tin tài khoản</h4>
                                <!-- <div class="carousel-arrows">
									<a href="#"><i class="icons icon-reply"></i></a>
								</div> -->
                            </div>
                            
                        </div>
                        <!-- /Heading -->
					</div>	

                    <div class="page-content">
                    	                       	
						<div class="row">
	                        <div class="col-lg-3 col-md-3 col-sm-3">
	                        	<p>Email</p>
	                        </div>
	                        <div class="col-lg-9 col-md-9 col-sm-9">
	                        	<p><strong><%= user.local.email %></strong></p>
	                        	<!-- <input type="text" placeholder="Email hiện tại"> -->
	                        </div>	
	                    </div>

	                    <div class="row">
	                        <div class="col-lg-3 col-md-3 col-sm-3">
	                        	<p>Tên hiển thị</p>
	                        </div>
	                        <div class="col-lg-9 col-md-9 col-sm-9">
	                        	<p><strong><%= user.local.username %></strong></p>
	                        	<!-- <input type="text" placeholder="Tên hiển thị hiện tại"> -->
	                        </div>	
	                    </div>						


	                    <div class="row" id="changeaccountinfo">
	                    	 <a href="change_account_info.html"><p><strong>Thay đổi thông tin tài khoản<i class="icons icon-right-dir"></i></strong></p></a>
	                    	 <a href="/users/change_password"><p><strong>Thay đổi mật khẩu<i class="icons icon-right-dir"></i></strong></p></a>
	                    </div>
	                    
                    </div>
				</section>
				<!-- /Main Content -->
                
                <!-- Sidebar -->
				<% include ./partials/user_sidebar.ejs %>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
			
			<!-- Footer -->
			<% include ./partials/footer.ejs %>
			<!-- Footer -->
            <div id="back-to-top">
            	<i class="icon-up-dir"></i>
            </div>
            
		</div>
    	<!-- Container -->
		<!-- JavaScript -->
		<% include ./partials/script.ejs %>		
    </body>
    
</html>