<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Thêm coupon</title>
</head>
<body>
<!--container-->
	<div class="container">
		<!--header-->
		<header class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Main Header -->
            <div id="main-header">
                <div class="row">
                    <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                        <a href="/admin"><img src="/img/logo.png" alt="Logo"></a>
                    </div>
                    
                    <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
                        <ul class="pull-right">
                            <li class="login-create purple">
                                <i class="icons icon-user"></i>
                                <p>Admin <br> <a href="/logout">Log Out</a></p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
		<!--header-->

		<!-- Content -->
		<div class="row content">
			
            <div class="col-lg-12 col-md-12 col-sm-12">
            	<div class="breadcrumbs">
                	<p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Thêm coupon</p>
                </div>
            </div>

			<!--sidebar -->
            <% include ./partials/admin_sidebar.ejs %> 
            <!--sidebar-->

			<!--main content-->
    		<section class="main-content col-lg-9 col-md-9 col-sm-9">
				<div class="carousel-heading no-margin">
                    <h4>Thêm coupon</h4>
                </div>

                <div class="page-content">
                    <form action="/admin/add_coupon" method="post">
                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                	<div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Tên sản phẩm</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" name="name">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Mã coupon</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" name="code">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Ngày bắt đầu</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="startDate" placeholder="ví dụ: dd/mm/yy">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Ngày hết hạn</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="expiredDate" placeholder="ví dụ: dd/mm/yy">
                        </div>  
                    </div>
                    
                     <div class="row">
                    	<input class="big pull-right" type="submit" value="Thêm" id="submit-all">
                        <input class="big pull-right" type="reset" value="Hủy" onclick="location.href='/admin/coupon_list';" />
                    </div>

                    </form>
                </div>
    		</section>
			<!--main content-->

		</div>
        <!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
	</div>
<!--container-->
    <script src="/js/jquery-1.11.0.min.js"></script>
</body>
</html>