<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Thêm sản phẩm</title>
    <link rel="stylesheet" href="/css/dropzone.css">
    <script type="text/javascript" src="/js/dropzone.js"></script>
</head>
<body>
<!--container-->
	<div class="container">
		<!-- Header -->
        <% include ./partials/headerforadmin.ejs %>
        <!-- /Main Header -->

		<!-- Content -->
		<div class="row content">
			
            <div class="col-lg-12 col-md-12 col-sm-12">
            	<div class="breadcrumbs">
                	<p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Thêm sản phẩm</p>
                </div>
            </div>

			<!--sidebar -->
            <% include ./partials/admin_sidebar.ejs %> 
            <!--sidebar-->

			<!--main content-->
    		<section class="main-content col-lg-9 col-md-9 col-sm-9">
				<div class="carousel-heading no-margin">
                    <h4>Thêm sản phẩm</h4>
                </div>

                <div class="page-content">
                <% if ( formError === undefined || formError.length <= 0 ) { } else { %>
                    <div class="flash-message"><strong><%= formError %></strong></div>
                <% } %>
                    <form action="/admin/add_product" method="post">
                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                	<div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Tên sản phẩm</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" name="name">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Nhà phát hành</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" name="manufacturer">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Hạng mục</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        	<input type="text" name="category">
                        </div>	
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Thể loại</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" name="genre">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Số lượng</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<input type="text" value="0" name="availability">
                        </div>	
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Giá gốc</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="text" placeholder="ví dụ: $29.99" name="price">
                        </div>  
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Giá sale</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="text" placeholder="ví dụ: $29.99" name="pricesale">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2"><p>Thuộc tính</p></div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="button" id="btnSale" value="Giảm giá" name="btnSale">
                            <input type="hidden" name="attribSale" value="0">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="button" id="btnFeature" value="Nổi bật" name="featured">
                            <input type="hidden" name="attribFeature" value="0">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="button" id="btnNew" value="Mới ra mắt" name="recentlyrelease">
                            <input type="hidden" name="attribNew" value="0">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="button" id="btnBestseller" value="Bán chạy nhất" name="bestseller">
                            <input type="hidden" name="attribBestseller" value="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Hình ảnh</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <!-- <input type="file" name="img"> -->
                            <!-- <form method="post" action="/add_product" class="dropzone" id="dropzone-example">
                                <div class="fallback">
                                    <input name="img" type="file" />
                                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                                </div>
                            </form> -->
                          
                            <!-- <form method="post" action="/add_product" class="dropzone" id="drop">
                                <div class="fallback">
                                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                                    <input name="file" type="file" />
                                </div>
                            </form> -->
                            <!-- <form method="post" action='/add_product/POST' >
                            <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                                <input type="file" name="img" /><br><br>
                            </form> -->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Hình ảnh Fancybox</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="file" name="img">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Mô tả</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <textarea type="text" cols="40" rows="5" name="desc"></textarea>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Cấu hình</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <textarea type="text" cols="40" rows="5" name="requirement"></textarea>
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Tags</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="tag" placeholder="Liệt kê tag cách nhau bởi dấu phẩy (ví dụ: rpg,steam)">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Website</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="website">
                        </div>  
                    </div>
                    
                     <div class="row">
                    	<input class="big pull-right" type="submit" value="Thêm" id="submit-all">
                        <input class="big pull-right" type="reset" value="Hủy" onclick="location.href='/admin';" />
                    </div>

                    </form>
                </div>
    		</section>
			<!--main content-->

		</div>
        <!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
	</div>
<!--container-->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/admin_edit_product.js"></script>
    <script type="text/javascript" src="/js/upload.js"></script>
</body>
</html>