<!DOCTYPE html>

<html>

    <head>
        <% include ./partials/head.ejs %>
        <title><%= title%></title>
    </head>
    
    
    <body>
		
		<!-- Container -->
		<div class="container">
			
			<!-- Header -->
			<% var csrfToken= _csrfToken; 
			var username; 
			if(user != undefined) username = user.local.username; 
            var mycart = cart;
            var mycompare = compare; %>
			<% include ./partials/header.ejs %>
			<!-- /Header -->
			
			
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="home_v1.html">Home</a> <i class="icons icon-right-dir"></i> 
                    		Giỏ hàng</p>
                    		
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-12 col-md-12 col-sm-12" id="carttable">

                    <div class="row">

                         <div class="col-lg-12 col-md-12 col-sm-12">
							
							
							<div class="tabs">
                            
                                <!-- <div class="tab-heading margin-heading">
                                    <a href="" class="button big">Cart</a>
                                    
                                </div> -->
                                <div class="carousel-heading">
                                	<h4>Giỏ hàng</h4>
                                <!-- <div class="carousel-arrows">
									<a href="#"><i class="icons icon-reply"></i></a>
								</div> -->
                            	</div>
                                
                                <div class="tab-content no-padding">
                                	
                                    <div id="tab1">
									
                                    	<table class="cart-table-buy">
                                
											<!-- <tr>
												<th class="carttableimg">Image</th>
												<th class="cartproductname">Product name</t	h>
												<th>Price</th>
												<th>Discount</th>
												<th>Qty</th>
												<th>Total</th>
											</tr> 
											 -->
											 <tr>
											 	<th>Hinhf</th>>
												<th>Tên sản phẩm</th>
												<th>Giá gốc</th>
												<th>Giá sau khi giảm</th>
												<th>Số lượng</th>
												<th>Tổng tiền</th>
											</tr> 

											<% cart.forEach( function (product) { %>
												<tr>
													<td><%=product.item.name %></td>
													<td><%=product.item.price %></td>
                                                    <% if(product.item.pricesale) { %>
													   <td><%=product.item.pricesale %></td>
                                                    <% } else { %>
                                                        <td><%=product.item.price %></td>
                                                    <% } %>
													<td><%=product.quantity %></td>
													<td>$<%=product.price %></td>
												</tr>
											<%})%>

											<tr  id="item1">
												<td><img src="img/products/sample21.jpg"></td>
												<td>HITMAN™</td>
												
												<td>55.99$</td>
												<td>29.99$</td>
												<td><div class="numeric-input">
													<input type="text" value="1">
													<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
													<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
												</div>

												<button class="removecurrentcartitem" type="remove" onclick="deleteitemincart1()">
													    <i class="icons icon-cancel"></i>
												</button>

	                                            <!-- <input class="big" type="reset" value="Cancel" id="removecurrentitemincart"> -->
                                            	</td>
												<td>29.99$</td>
											</tr>
											
											<tr id="item2">
												<td><img src="img/products/sample5.jpg"></td>
												<td>Megadimension Neptunia</td>
												
												<td>39.99$</td>
												<td>39.99$</td>
												<td><div class="numeric-input">
													<input type="text" value="1">
													<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
													<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
												</div>
												<button class="removecurrentcartitem" type="remove" onclick="deleteitemincart2()">
													    <i class="icons icon-cancel"></i>
												</button></td>
												<td>39.99$</td>											
											</tr>
											
											<tr id="item3">
												<td><img src="img/products/sample22.jpg"></td>
												<td>BioShock™ Remastered</td>
												
												<td>6.59$</td>
												<td>6.59$</td>
												<td><div class="numeric-input">
													<input type="text" value="1">
													<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
													<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
												</div>
												<button class="removecurrentcartitem" type="remove" onclick="deleteitemincart3()">
													    <i class="icons icon-cancel"></i>
												</button></td>
												<td>6.59$</td>
											</tr>
											
											<tr>
												<td></td>
												<td class="align-right" colspan="4">Tax</td>
												<td><strong>$3.8</strong></td>
											</tr>

											<tr>
												<td></td>
												<td class="align-right" colspan="4">Discount</td>
												<td><strong>$0</strong></td>
											</tr>
											
																					
											<tr>
												<td></td>
												<td class="align-right" colspan="4"><span class="price big">Total</span></td>
												<td><span class="price big">$80.00</span></td>
											</tr>
											

											

										</table>
										
                                    </div>
									
								</div>
								
                            
                            </div>
							
                        </div>


                    </div>
                    
                    <div class= "row">
                        <div class= "col-lg-12 col-md-12 col-sm-12">
		                            <a href="home_v1.html" class="button big pull-left">Continue shopping</a>
		                            <a href="checkout.htm" class="button big pull-right">Checkout</a>
		                                    
		                    </div>
		                    </div>

                    
				</section>
				<!-- /Main Content -->
                
                
                
			</div>
			<!-- /Content -->
			
			
			


			
			<!-- Banner -->
			<section class="banner">
				
				<a href="#">
				<div class="left-side-banner banner-item icon-on-right gray">
					<h4>Support</h4>
					<p> 8am - 5pm PST</p>
					<!--<i class="icons icon-phone-outline"></i>-->
				</div>
				</a>
				<a href="#">
				<div class="middle-banner banner-item icon-on-left light-blue">
					<h4>Fast shipping</h4>
					<p>In maximum 10 minutes</p>
                    <!--<span class="button">Learn more</span>-->
					<i class="icons icon-truck-1"></i>
				</div>
				</a>
				
				<a href="#">
				<div class="right-side-banner banner-item orange">
					<h4>Crazy sale!</h4>
					<p>on selected items</p>
                    <!--<span class="button">Learn more</span>-->
				</div>
				</a>
				
			</section>
			<!-- /Banner -->
			
			

			
			<!-- Footer -->
			<footer id="footer" class="row">
				
				<!-- Upper Footer -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div id="upper-footer">
					
						<div class="row">
							
							<!-- Newsletter -->
							<div class="col-lg-7 col-md-7 col-sm-7">
								<form id="newsletter" action="http://inthe7heaven.com/homeshop-html/php/newsletter.php">
									<h4>Newsletter Sign Up</h4>
									<input type="text" name="newsletter-email" placeholder="Enter your email address">
									<input type="submit" name="newsletter-submit" value="Submit">
								</form>
							</div>
							<!-- /Newsletter -->
							
							
							<!-- Social Media -->
							<div class="col-lg-5 col-md-5 col-sm-5 social-media">
								<h4>Stay Connected</h4>
								<ul>
									<li class="social-googleplus tooltip-hover" data-toggle="tooltip" data-placement="top" title="Google+"><a href="#"></a></li>
									<li class="social-facebook tooltip-hover" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"></a></li>
									<li class="social-pinterest tooltip-hover" data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="#"></a></li>
									<li class="social-twitter tooltip-hover" data-toggle="tooltip" data-placement="top" title="Twitter"><a href="#"></a></li>
									<li class="social-youtube tooltip-hover" data-toggle="tooltip" data-placement="top" title="Youtube"><a href="#"></a></li>
								</ul>
							</div>
							<!-- /Social Media -->
							
						</div>
					
					</div>
					
				</div>
				<!-- /Upper Footer -->
				
				
				
								<!-- Main Footer -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div id="main-footer">
					
						<div class="row">
							
							<!-- Like us on Facebook -->
							<div class="col-lg-3 col-md-3 col-sm-6 facebook-iframe">
								<h4>Like us on Facebook</h4>
								<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=270&amp;height=250&amp;colorscheme=light&amp;header=false&amp;show_faces=true&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:100%; height:200px;"></iframe>
							</div>
							<!-- /Like us on Facebook -->


							<!-- Information -->
							<div class="col-lg-3 col-md-3 col-sm-6">
								<h4>Information</h4>
								<ul>
									<li><a href="about_us.html"><i class="icons icon-right-dir"></i> About Us</a></li>
									<li><a href="copyrightgame.html"><i class="icons icon-right-dir"></i> What is full copyright game?</a></li>
									<li><a href="privacy_policy.html"><i class="icons icon-right-dir"></i> Privacy Policy</a></li>
									<li><a href="terms _conditions.html"><i class="icons icon-right-dir"></i> Terms &amp; Conditions</a></li>
								</ul>
							</div>
							<!-- /Information -->

							<!-- The Service -->
							<div class="col-lg-3 col-md-3 col-sm-6">
								<h4>Customer service</h4>
								<ul>
									<li><a href="account_info.htm"><i class="icons icon-right-dir"></i> My account</a></li>
									<li><a href="contact.htm"><i class="icons icon-right-dir"></i> Contact</a></li>
									<li><a href="guarantee_policy.html"><i class="icons icon-right-dir"></i> Guarantee policy</a></li>
								</ul>
							</div>
							<!-- /The Service -->
														
							<!-- Contact Us -->
							<div class="col-lg-3 col-md-3 col-sm-6 contact-footer-info">
								<h4>Contact Us</h4>
								<ul>
									<li><i class="icons icon-location"></i>Đại học khoa học tự nhiên
										<br>227 Nguyễn Văn Cừ, p 4, Q 5, HCM</li>
                                    <li><i class="icons icon-phone"></i> +1 800 603 6035</li>
									<li><i class="icons icon-mail-alt"></i> mail@companyname.com</li>
									<li><i class="icons icon-skype"></i> Figaro team</li>
								</ul>
							</div>
							<!-- /Contact Us -->
							
						</div>
						
					</div>
					
				</div>
				<!-- /Main Footer -->
				
				
				
				<!-- Lower Footer -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div id="lower-footer">
					
						<div class="row">
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p class="copyright">Copyright 2017 <a href="#">Figaro team</a>. All Rights Reserved.</p>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<ul class="payment-list">
									<li class="payment1"></li>
									<li class="payment2"></li>
									<li class="payment3"></li>
									<li class="payment4"></li>
									<li class="payment5"></li>
								</ul>
							</div>
							
						</div>
						
					</div>
					
				</div>
				<!-- /Lower Footer -->
				
			</footer>
			<!-- Footer -->
			
            
            <div id="back-to-top">
            	<i class="icon-up-dir"></i>
            </div>
            
		</div>
    	<!-- Container -->
		
		
		
		<!-- JavaScript -->
		<script src="js/modernizr.min.js"></script>
		<script src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.raty.min.js"></script>
		
		<!-- Scroll Bar -->
		<script src="js/perfect-scrollbar.min.js"></script>
		
		<!-- Cloud Zoom -->
		<script src="js/zoomsl-3.0.min.js"></script>
		
		<!-- FancyBox -->
		<script src="js/jquery.fancybox.pack.js"></script>
		
		<!-- jQuery REVOLUTION Slider  -->
		<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>

		<!-- FlexSlider -->
		<script defer src="js/flexslider.min.js"></script>
		
		<!-- IOS Slider -->
		<script src = "js/jquery.iosslider.min.js"></script>
		
		<!-- noUi Slider -->
		<script src="js/jquery.nouislider.min.js"></script>
		
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		
		<!-- Cloud Zoom -->
		<script src="js/zoomsl-3.0.min.js"></script>
		
		<!-- SelectJS -->
        <script src="js/chosen.jquery.min.js" type="text/javascript"></script>
        
        <!-- Main JS -->
        <script defer src="js/bootstrap.min.js"></script>
        <script src="js/main-script.js"></script>

		
    </body>
    
</html>