<!DOCTYPE html>
<html>
    <head>
		<% include ./partials/head.ejs %>
		<title><%= title%></title>
	</head>
    
    <body>
		
		<!-- Container -->
		<div class="container">
			
			<!-- Header -->
			<% var csrfToken= _csrfToken; 
	        var username; 
	        if(user != undefined) username = user.local.username; 
	        var mycart = cart;
	        var mycompare = compare; %>
	        <% include ./partials/header.ejs %>	
			<!-- /Header -->
			
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> 
                    		<a href="/users">Tài khoản</a>
                    		<i class="icons icon-right-dir"></i><%= title%></p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
					
                    <div class="row">
                    
                        <!-- Heading -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Thay đổi mật khẩu</h4>
                                <div class="carousel-arrows">
									<a href="/users"><i class="icons icon-reply"></i></a>
								</div>
                            </div>
                            
                        </div>
                        <!-- /Heading -->
                        
					</div>	
                    
                    <form method="post" action="/users/update_password">
                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                    <div class="page-content">
						 <% if ( flashMessage === undefined || flashMessage.length <= 0 ) { } else { %>
		                    <div class="flash-message"><strong><%= flashMessage %></strong></div>
		                <% } %>
	                    <br class="clearfix">
						
						<div class="row">
	                        <div class="col-lg-3 col-md-3 col-sm-3">
	                        	<p>Mật khẩu cũ</p>
	                        </div>
	                        <div class="col-lg-9 col-md-9 col-sm-9">
	                        	<input type="password" name="oldpass">
	                        </div>	
	                    </div>		

	                    <div class="row">
	                        <div class="col-lg-3 col-md-3 col-sm-3">
	                        	<p>Mật khẩu mới</p>
	                        </div>
	                        <div class="col-lg-9 col-md-9 col-sm-9">
	                        	<input type="password" name="newpass">
	                        </div>	
	                    </div>	

	                    <div class="row">
	                        <div class="col-lg-3 col-md-3 col-sm-3">
	                        	<p>Xác nhận mật khẩu mới</p>
	                        </div>
	                        <div class="col-lg-9 col-md-9 col-sm-9">
	                        	<input type="password" name="newpassconf">
	                        </div>	
	                    </div>	

	                    <div class="row">
	                    	<input class="big pull-right" type="submit" value="Xác nhận">
	                        <input class="big pull-right" type="reset" value="Hủy">
	                    </div>
                    </div>
                     </form>
				</section>
				<!-- /Main Content -->
                
                
                <!-- Sidebar -->
				<% include ./partials/user_sidebar.ejs %>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
			
			<!-- Footer -->
			<% include ./partials/footer.ejs %>
			<!-- Footer -->
			
            <div id="back-to-top">
            	<i class="icon-up-dir"></i>
            </div>
            
		</div>
    	<!-- Container -->
		
		
		<!-- JavaScript -->
		<% include ./partials/script.ejs %>	
		
    </body>
    
</html>