<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
    <!-- Container -->
	<div class="container">
		<% var csrfToken= _csrfToken; 
		var username; 
		if(user != undefined) username = user.local.username; 
		var mycart = cart;
		var mycompare = compare; %>
		<% include ./partials/header.ejs %>
		<!-- Content -->
		<div class="row content">
						<section class="main-content col-lg-12 col-md-12 col-sm-12">
					
                    <div class="row">
                    
                        <!-- Heading -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>So sánh sản phẩm</h4>
                                <!-- <div class="carousel-arrows">
									<a href="#"><i class="icons icon-reply"></i></a>
								</div> -->
                            </div>
                            
                        </div>
                        <!-- /Heading -->
                        
					</div>	
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <table class="compare-table">
                            	
                                <tr>
                                	<th>Product Name</th>
                                	<% compare.forEach( function (product) { %>
                                    <td><h5><a href="/product_detail/<%=product.item._id.toString() %>"><%=product.item.name %></a></h5></td>
                                    
                                    <%})%>
                                </tr>
                                
                                <tr>
                                	<th>Image</th>
                                	<% compare.forEach( function (product) { %>
                                    <td class="compare-image"><img src="<%=product.item.img %>" alt="Product1"></td>
                                    <%})%>
                                </tr>
                                
								<!-- <tr>
									<th>Rating</th>
									<td><div class="rating readonly-rating" data-score="4"></div></td>
									<td><div class="rating readonly-rating" data-score="4"></div></td>
								</tr> -->
								
                                <tr>
                                	<th>Price</th>
                                	<% compare.forEach( function (product) { %>

                                	<% if(product.item.pricesale) { %>
													   <td><span class="price"><%=product.item.pricesale %></span></td>
                                                    <% } else { %>
                                                        <td><span class="price"><%=product.item.price %></span></td>
                                                    <% } %>

                                    <%})%>
                                </tr>
                                
                                
                                
                                <tr>
                                	<th>Developer</th>
                                	<% compare.forEach( function (product) { %>
                                    <td><%=product.item.manufacturer %></td>
                                    <%})%>
                                </tr>
                                
                                <tr>
                                	<th>Availability</th>
                                	<% compare.forEach( function (product) { %>
                                	<% if(product.item.availability == "0") { %>
													   <td><span class="red">Out of stock</span></td>
                                                    <% } else { %>
                                                        <td><span class="green">in stock <%=product.item.availability %> item(s)</span></td>
                                                    <% } %>
                                    
                                    <%})%>
                                    
                                </tr>
                                
                                
                                <tr>
                                	<th>Genre</th>
                                	<% compare.forEach( function (product) { %>
                                    <td><p><%=product.item.genre%></p></td>
                                    <%})%>
                                    
                                </tr>
                                
                                
                                
                                <tr>
                                	<th>Requirement</th>
                                	<% compare.forEach( function (product) { %>
                                    <td><p>
                                    	<p><strong>Minimum:</strong><br>
										<i class="icons icon-right-dir"></i> <%=product.item.requirement[0]%><br>
										<i class="icons icon-right-dir"></i> <%=product.item.requirement[1]%> <br>
										<i class="icons icon-right-dir"></i> <%=product.item.requirement[2]%> <br>
										<i class="icons icon-right-dir"></i> <%=product.item.requirement[3]%>  <br>
										<i class="icons icon-right-dir"></i> <%=product.item.requirement[4]%> <br>
										</p>
									</p></td>
									<%})%>
                                    </tr>
                                
                                <tr>
                                	<th>Actions</th>
                                	<% compare.forEach( function (product) { %>
                                    <td>
                                        <a href="/add_to_cart/<%=product.item._id.toString() %>">
                                            <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-basket-2"></i>
                                                    <span class="action-name">Add to cart</span>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="add-to-trash">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-trash-8"></i>
                                                    <span class="action-name">Remove</span>
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <%})%>
                                </tr>
                                
                                <tr>
                                	<th>Tags</th>
                                	<% compare.forEach( function (product) { %>
                                    <td><p>
                                    	<a href="#" class="tag-item"><%=product.item.category%></a>
										<a href="#" class="tag-item"><%=product.item.genre%></a>
										<a href="#" class="tag-item"><%=product.item.manufacturer%></a>
										<!-- <% if(product.item.featured) { %>
													   <td><a href="#" class="tag-item">featured</a></td>
                                                    <% }  %> -->
										
									</p></td>
									<%})%>
                                </tr>
                                
                            </table>
                            
                        </div>
                        
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
		</div>
				<!-- /Content -->
		<% include ./partials/footer.ejs %>
	</div>

	<% include ./partials/script.ejs %>
  </body>
</html>