<!DOCTYPE html>

<html>
    <head>
        <% include ./partials/head.ejs %>
        <title><%= title%></title>
    </head>
    
    <body>
		<!-- Container -->
		<div class="container">
			<% var csrfToken= _csrfToken; 
			var username; 
			if(user != undefined) username = user.local.username; 
			var mycart = cart;
            var mycompare = compare; %>
			<% include ./partials/header.ejs %>
			
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-7 col-md-7 col-sm-7">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>Thông tin liên hệ</h4>
                            </div>
                            
                            <div class="page-content contact-info">
                            	
                                
                                <iframe width="425" height="350" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.537339895218!2d106.6820268!3d10.7626391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1490722003071" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<div class="row">
                                	
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item green">
                                            <i class="icons icon-location-3"></i>
                                            <p>Đại học khoa học tự nhiên<br>                                       
												227 Nguyễn Văn Cừ, p 4, Q 5, HCM</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item blue">
                                            <i class="icons icon-mail"></i>
                                            <p><a href="#">info@companyname.com</a><br>
											<a href="#">sales@companyname.com</a>
											</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item orange">
                                            <i class="icons icon-phone"></i>
                                            <p>0812312312<br>
												0898798798
											</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item purple">
                                            <i class="icons icon-clock"></i>
                                            <p>Thứ hai - Thứ sáu: 08.00-20.00<br>
												Thứ bảy: 09.00-15.00<br>
												Chủ nhật: closed</p>
										</div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                    	</div>
                        
                        
                        <div class="col-lg-5 col-md-5 col-sm-5">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>Mẫu liên hệ</h4>
                            </div>
                            
                            <div class="page-content contact-form">
                            	
								<form id="contact-form">
								
									<label>Tên*</label>
									<input id="contact-name" name="contact-name" type="text">
									
									<label>Email*</label>
									<input id="contact-email" name="contact-email" type="text">
									
									<label>Tiêu đề</label>
									<input id="contact-subject" name="contact-subject" type="text">
									
									<label>Tin nhắn*</label>
									<textarea id="contact-message" name="contact-message"></textarea>
									
									<input class="big" type="submit" value="Gửi tin nhắn">
									
                                </form>
								
                            </div>
                            
                    	</div>
                        
                        
                  	</div>
                    
				</section>
				<!-- /Main Content -->
				
			</div>
			<!-- /Content -->
			<% include ./partials/footer.ejs %>
            
		</div>
		<% include ./partials/script.ejs %>
    </body>
    
</html>