<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
		
		<!-- Container -->
		<div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>

<!-- Content -->
      <div class="row content">
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="breadcrumbs">
                      <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                  </div>
                </div>
                
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                      
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          
                            <div class="carousel-heading no-margin">
                                <h4>Game bản quyền là gì</h4>
                            </div>
                            
                            <div class="page-content">
                              
                              <img src="img/crgamedef.png" alt="">
                                <p><strong>Game bản quyền thì lấy từ đâu?</strong></p>

                <p>Game bản quyền mình mua trực tiếp từ Steam Store do Steam cung cấp. Đảm bảo đúng game bản quyền chính hãng.

                Tuy nhiên do Steam chưa có hình thức thanh toán ở Việt Nam nên rất nhiều người không thể mua được game từ Steam do các thủ tục làm visa, mastercard phức tạp.

                Chính vì vậy Divine Shop là một lựa chọn rất tốt cho những người không có điều kiện mua hàng được trực tiếp từ Steam Store.<p>

                <p><strong>Steam, Origin, Uplay,..là gì?</strong></p>

                <p>Đây là những kênh phân phối, quản lý game trực tuyến dưới dạng Digital. Trong số đó Steam là lớn mạnh nhất, số đầu game trên steam hiện tại đã trên hơn 2 ngàn game với đủ các thể loại từ các NSX game lớn nhỏ khác nhau.</p>

                <p>Tại sao mua trực tiếp từ Steam mà giá lại rẻ như vậy ?

                Đây là câu hỏi mà rất nhiều bạn thắc mắc : tại sao có những game giá trên Steam là 10$ mà chỉ có 100.000 vnđ, game lậu chăng ?

                Xin trả lời bạn là Steam Store ở một số nước, khu vực được trợ giá nên có giá thấp hơn các nước khác từ 20% tới 60%. Game mình bán được lấy từ Malaysia, bản trợ giá dành riêng cho khu vực Đông Nam Á ( trong đó có cả Việt Nam ). Hơn nữa Steam tổ chức rất nhiều đợt giảm giá trong khắp cả năm, có những game giảm tới 95%. Mình thường mua lại trong lúc giảm giá nên có những game giá rất tốt.</p>

                <p><strong>Vậy bản game này có khác gì với bản quốc tế không ? Có bị giới hạn gì khi chơi không ?</strong></p>

                <p>Xin trả lời bạn là bản game này sau khi dùng thì hoàn toàn giống hệt với bản game quốc tế không có gì khác biệt. Bạn có thể chơi với tất cả mọi người trên thế giới, không hề bị giới hạn gì ?

                Nhưng do là bản trợ giá dành cho khu vực Đông Nam Á nên các bạn đang sinh sống ở các nước khác sẽ không thể kích hoạt được game này.</p>

 
                                
                            </div>
                            
                      </div>
                          
                    </div>
                        
                    
        </section>
        <!-- /Main Content -->
                
                
                
                
      </div>
      <!-- /Content -->

      <% include ./partials/footer.ejs %>
</div>

<% include ./partials/script.ejs %>
  </body>
</html>