<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Sửa sản phẩm</title>
</head>
<body>
<!--container-->
	<div class="container">
		<!--header-->
		<% include ./partials/headerforadmin.ejs %>
		<!--header-->

		<!-- Content -->
		<div class="row content">
			
            <div class="col-lg-12 col-md-12 col-sm-12">
            	<div class="breadcrumbs">
                	<p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Sửa sản phẩm</p>
                </div>
            </div>

			<!--sidebar -->
            <% include ./partials/admin_sidebar.ejs %> 
            <!--sidebar-->

			<!--main content-->
    		<section class="main-content col-lg-9 col-md-9 col-sm-9">
				<div class="carousel-heading no-margin">
                    <h4>Sửa sản phẩm</h4>
                </div>

                <div class="page-content">
                <form action="/admin/edit_product/<%=product._id.toString() %>" method="post">
                <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                	<div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Tên sản phẩm</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" value="<%=product.name %>" name="name">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Nhà phát hành</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                        	<input type="text" value="<%=product.manufacturer %>" name="manufacturer">
                        </div>	
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Hạng mục</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        	<input type="text" value="<%=product.category %>" name="category">
                        </div>	
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Thể loại</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" value="<%=product.genre %>" name="genre">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<p>Số lượng</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                        	<input type="text" value="<%=product.availability %>" placeholder="ví dụ: 10" name="availability">
                        </div>	
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Giá gốc</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="text" value="<%=product.price %>" placeholder="ví dụ: $29.99" name="price">
                        </div>  
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Giá sale</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="text" value="<%=product.pricesale %>" placeholder="ví dụ: $29.99" name="pricesale">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2"><p>Thuộc tính</p></div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <% if(product.onsale) {%>
                                <input class="dark-blue" type="reset" id="btnSale" value="Giảm giá" name="onsale">
                            <% } else { %>
                                <input type="reset" id="btnSale" value="Giảm giá" name="onsale">
                            <% } %>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <% if(product.featured) {%>
                                <input class="dark-blue" type="reset" id="btnFeature" value="Nổi bật" name="featured">
                            <% } else { %>
                                <input type="reset" id="btnFeature" value="Nổi bật" name="featured">
                            <% } %>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <% if(product.recentlyrelease) {%>
                                <input class="dark-blue" type="reset" id="btnNew" value="Mới ra mắt" name="recentlyrelease">
                            <% } else { %>
                                <input type="reset" id="btnNew" value="Mới ra mắt" name="recentlyrelease">
                            <% } %>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <% if(product.bestseller) {%>
                            <input class="dark-blue" type="reset" id="btnBestseller" value="Bán chạy nhất" name="bestseller">
                            <% } else { %>
                                <input type="reset" id="btnBestseller" value="Bán chạy nhất" name="bestseller">
                            <% } %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Hình ảnh</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="file" name="img">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Hình ảnh Fancybox</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <input type="file" name="img">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Mô tả</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <textarea type="text" cols="40" rows="5" id="desc" name="desc"></textarea>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Cấu hình</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <textarea type="text" cols="40" rows="5" name="requirement"></textarea>
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Tags</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="tag" value="<%=(product.tag).join() %>" name="tag">
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p>Website</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <input type="text" name="tag" value="<%=product.website %>" name="website">
                        </div>  
                    </div>
                    
                     <div class="row">
                    	<input class="big pull-right" type="submit" value="Sửa">
                        <input class="big pull-right" type="reset" value="Hủy" onclick="location.href='/admin';" />
                    </div>
                </form>
                </div>
    		</section>
			<!--main content-->

		</div>
        <!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
	</div>
<!--container-->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/admin_edit_product.js"></script>
</body>
</html>