<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>
         <div class="row content">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="breadcrumbs">
                      <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>


                <!-- Main Content -->
        <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                    <div class="row">
                    
                      <!-- Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">
              
              <div class="carousel-heading">
                <h4><%=title%></h4>
              </div>
              
            </div>
            <!-- /Heading -->
                        
                    </div>
                     
          <div class="row">
                      
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="category-heading">
                <label for="sel1">Sort</label>
                <select class="chosen-select" id="sel1">
                  <option>Default</option>
                  <option>Name(A->Z)</option>
                  <option>Name(Z->A)</option>
                  <option>Price(highest)</option>
                  <option>Price(lowest</option>
                  <option>Review(highest)</option>
                  <option>Review(lowest</option>
                </select>
                <div class="selectproductperpage">
                  <label for="sel1">Display</label>
                  <select class="chosen-select">
                    <option>15</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option> 
                  </select>
                </div>
                               
                <div class="category-buttons">
                  <i class="icons icon-th-3 " onclick="changetogridview();" id="gridviewbtn"></i>
                  <i class="icons icon-th-list-4 active-button" onclick="changetolistview();" id="listviewbtn"></i>
                </div>
              </div>
            </div>                            
         </div>

         
                   
               <div class="row"> 
                <div id="listproduct">
              
              <% products.forEach( function(product) { %>
                <% include ./partials/product_thumb_list.ejs %>
              <% })  %>

              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="category-results">
                      <p>Results 1-15 of 21</p>
                      </div>
              </div>

                      
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="pagination">
                      <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                      <a href="#"><div class="page-button">1</div></a>
                      <a href="#"><div class="page-button">2</div></a>
                      <a href="#"><div class="page-button">3</div></a>
                      <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                  </div>
              </div> 
              </div>




        <div id ="gridproduct">
            <% products.forEach( function(product) { %>
              <% include ./partials/product_thumb_grid.ejs %>
            <% })  %>
              
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="category-results">
                    <p>Results 1-15 of 21</p>
                    </div>
            </div>
              
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pagination">
                    <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                    <a href="#"><div class="page-button">1</div></a>
                    <a href="#"><div class="page-button">2</div></a>
                    <a href="#"><div class="page-button">3</div></a>
                    <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                </div>
            </div>
          </div>
      </div>
        </section>
        <!-- /Main Content -->



        <aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9"> 
        <% include ./partials/sidebarforgenre.ejs %>
        </aside>
        <!-- /Sidebar -->


         </div>
      <!-- /Content -->




    <% include ./partials/footer.ejs %>
  </div>

  <% include ./partials/script.ejs %>
  </body>
</html>