<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
		
		<!-- Container -->
		<div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>
      <!-- Content -->
      <div class="row content">
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="breadcrumbs">
                      <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>
                
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                      
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          
                            <div class="carousel-heading no-margin">
                                <h4>Bảo hành</h4>
                            </div>
                            
                            <div class="page-content">

                              <div class="row">
                              <div class="aboutteam">
                              <img src = "img/guaranteed-for-life.png">
                              
                              </div>
                              <br><br><br><br>
                              <div class="row">
                              <div class="aboutteam">
                              <img src = "img/guaranteework.jpg">
                              </div>

                
                                
                            </div>
                            
                      </div>
                          
                    </div>
                        
                    
        </section>
        <!-- /Main Content -->
                
                
                
                
      </div>
      <!-- /Content -->



      <% include ./partials/footer.ejs %>
</div>

<% include ./partials/script.ejs %>
  </body>
</html>