<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
    <!-- Container -->
	<div class="container">
		<% var csrfToken= _csrfToken; 
		var username; 
		if(user != undefined) username = user.local.username; 
		var mycart = cart;
		var mycompare = compare; %>
		<% include ./partials/header.ejs %>
		<!-- Content -->
		<div class="row content">
			<!-- Main Content -->
			<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
				<section class="slider">
					<div class="tp-banner-container">
						<div class="tp-banner" >
							<ul>
								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
									<!-- MAIN IMAGE -->
									<img src="img/slide1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<div class="tp-caption skewfromrightshort fadeout"
										data-x="450"
										data-y="350"
										data-speed="500"
										data-start="1200"
										data-easing="Power4.easeOut"><a class="button big red" href="#">Buy Now</a>
									</div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
									<!-- MAIN IMAGE -->
									<img src="img/slide3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<div class="tp-caption skewfromrightshort fadeout"
										data-x="180"
										data-y="330"
										data-speed="500"
										data-start="1200"
										data-easing="Power4.easeOut"><a class="button big red" href="#">Buy Now</a>
									</div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
									<!-- MAIN IMAGE -->
									<img src="img/slide2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<div class="tp-caption skewfromrightshort fadeout"
										data-x="450"
										data-y="360"
										data-speed="500"
										data-start="1200"
										data-easing="Power4.easeOut"><a class="button big red" href="#">Buy Now</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
			  	</section>
				
				<!-- Featured Products -->
				<div class="products-row row">
					
					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">
						
						<div class="carousel-heading">
							<h4>Featured Products</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>
						
					</div>
					<!-- /Carousel Heading -->
					
					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
						
						<div class="owl-carousel" data-max-items="3">
							<% featuredproducts.forEach( function(product) { %>
								<% include ./partials/product_thumbnail.ejs %>
							<% })  %>
						</div>
					</div>
					<!-- /Carousel -->
					
				</div>
				<!-- /Featured Products -->
						
				
				<!-- New Collection -->
				<div class="products-row row">
					
					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">
						
						<div class="carousel-heading">
							<h4>Top sellers</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>
						
					</div>
					<!-- /Carousel Heading -->
					
					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
						
						<div class="owl-carousel" data-max-items="3">
							<% bestsellerproducts.forEach( function(product) { %>
								<% include ./partials/product_thumbnail.ejs %>
							<% })  %>
						</div>
					</div>
					<!-- /Carousel -->
					
				</div>
				<!-- /New Collection -->
				
				<!-- Recent release -->
				<div class="products-row row">
					
					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">
						
						<div class="carousel-heading">
							<h4>Recently release</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>
						
					</div>
					<!-- /Carousel Heading -->
					
					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
						
						<div class="owl-carousel" data-max-items="3">
							<% recentlyreleaseproducts.forEach( function(product) { %>
								<% include ./partials/product_thumbnail.ejs %>
							<% })  %>
						</div>
					</div>
					<!-- /Carousel -->
					
				</div>
				<!-- /Recent release -->


				
				<!-- On sale -->
				<div class="products-row row">
					
					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">
						
						<div class="carousel-heading">
							<h4>On sale</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>
						
					</div>
					<!-- /Carousel Heading -->
					
					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
						
						<div class="owl-carousel" data-max-items="3">
							<% onsaleproducts.forEach( function(product) { %>
								<% include ./partials/product_thumbnail.ejs %>
							<% })  %>
						</div>
					</div>
					<!-- /Carousel -->
					
				</div>
				<!-- /On sale -->
				
			
			</section>
				<!-- /Main Content -->
			<!-- Sidebar -->
			<aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
				
			<% include ./partials/sidebar.ejs %>
				
			</aside>
			<!-- /Sidebar -->
				
		</div>
		<!-- /Content -->
		<% include ./partials/footer.ejs %>
	</div>

	<% include ./partials/script.ejs %>
  </body>
</html>
