<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Danh sách tài khoản</title>
</head>
<body>
<!--container-->
    <div class="container">
        <!--header-->
        <header class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Main Header -->
            <div id="main-header">
                <div class="row">
                    <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                        <a href="/admin"><img src="/img/logo.png" alt="Logo"></a>
                    </div>
                    
                    <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
                        <ul class="pull-right">
                            <li class="login-create purple">
                                <i class="icons icon-user"></i>
                                <p>Admin <br> <a href="/logout">Log Out</a></p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /Main Header -->

    <!-- Content -->
    <div class="row content">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumbs">
                <p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Danh sách tài khoản</p>
            </div>
        </div>

        <!--sidebar -->
        <% include ./partials/admin_sidebar.ejs %> 
        <!--sidebar-->

        <!--main content-->
        <section class="main-content col-lg-9 col-md-9 col-sm-9">
            <div class="carousel-heading no-margin">
                <h4>Danh sách tài khoản</h4>
                <div class="pull-right" style="padding: 5px 5px;">
                <select class="chosen-select" style="color: #1f2228">
                    <!-- <option>Mã tài khoản</option> -->
                    <option>Tên tài khoản</option>
                    <option>Email</option>
                </select>
                <input type="text" style="color: #1f2228" placeholder="Tìm kiếm" >
                <button type="button" class="btn btn-primary"><i class="icons icon-search-1" style="color: #1f2228;"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="product-table" style="margin:0; padding: 0; width: 100%">
                        <tr>
                            <!-- <th>Mã tài khoản</th> -->
                            <th>Tên tài khoản</th>
                            <th>Email</th>
                            <th>Khóa</th>
                            <th>Xóa</th>
                        </tr>

                        <% users.forEach(function(user){ %>
                            <tr>
                                <% if(user.local.type != 'admin'){ %>
                                <td><p><%=user.local.username%></p></td>
                                <td><p><%=user.local.email%></p></td>
                                <% if(user.local.locked) { %>
                                    <td><p><a href="/admin/unlock_account/<%=user._id.toString() %>" class="btn btn-default">Mở khóa</a></p></td>
                                <% } else { %>
                                    <td><p><a href="/admin/lock_account/<%=user._id.toString() %>" class="btn btn-default">Khóa</a></p></td>
                                <% } %>
                                <form action="/admin/delete_account" method="post">
                                <input type="hidden" name="id" value="<%=user._id.toString() %>" >
                                <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                                <td><p><button><i class="icons icon-cancel" type="submit"></i></button></p></td>
                                </form>
                                <% } %>
                            </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
        </section>
        <!--/main content-->

    </div>
    <!-- /Content -->
    <!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
    </div>
</body>
</html>