<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
    <!-- Container -->
	<div class="container">
		<% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>

		<!-- Content -->
			<div class="row content">
				
				<!-- Main Content -->
					<section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading">
                                <h4>News</h4>
                            </div>
                            
                    	</div>

                    </div>
                    
                     <!-- Product Item -->

                     	<% news.forEach( function(news) { %>

                        <div class="grid-view product">
                                <div class="blog-image col-lg-4 col-md-4 col-sm-4">
                                    <img src="<%=news.img %>" alt="Product1">
                                   
                                </div>
                                
                                <div class="col-lg-8 col-md-8 col-sm-8 product-content no-padding">
                                	<div class="product-info">
                                        <h5><strong><a href="/news_detail/<%=news._id.toString() %>"><%=news.title %></a></strong></h5>
                                        <span><small> <%=news.time %></small></span>
                                         <p><%=news.summary %>
    									</p>		
									</div>



                            	</div>
                            </div>

                            <% })  %>
                        <!-- Product Item -->

                        
                        
                       



                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pagination">
                                <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                        

                  
                    </section>
                  
                 

                        

				<!-- /Main Content -->


				  <aside class="sidebar col-lg-3 col-md-3 col-sm-3  right-sidebar">

				  <% include ./partials/sidebar.ejs %>

				  </aside>

				  		</div>
		<!-- /Content -->
		<% include ./partials/footer.ejs %>
	</div>

	<% include ./partials/script.ejs %>
  </body>
</html>