<!DOCTYPE html>
<html>
  <head>
    <title><%= news.title%></title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Container -->

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=304225336677046";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div class="container">
		<% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username;
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>

        <div class="row content">
        <section class="main-content col-lg-9 col-md-9 col-sm-9">
          <div class="row">
          
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="carousel-heading">
                  <h4><%=news.title %></h4>
              </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="blog-item">
                
                <img src="<%=news.img%>" alt="">
                <div class="blog-info">
                  <div class="blog-meta">
                    <span class="date"><i class="icons icon-clock"></i> <%=news.time %></span>
                  </div>

                  <p><strong><%=news.summary %></strong></p>
                  <p><%=news.description.text[0]%></p>
                  <p><%=news.description.text[1]%></p>
                  <div class = "newsvideo">
                    <iframe width="560" height="315" src="<%=news.description.youtubelink[0]%>" frameborder="0" allowfullscreen 
                    align="middle"></iframe>
                  </div>
                  <p><%=news.description.text[2]%></p>
			</div>

              <div class="product-actions blog-actions-big">
                <span class="product-action blue">
                  <span class="action-wrapper">
                    <i class="icons icon-facebook"></i>
                    <span class="action-name"><a onclick="window.open('http://www.facebook.com/share.php?u=' + encodeURIComponent(location.href),'','height=368,width=600,left=100,top=100,menubar=0')">Share on facebook</a>
                    
                    <!-- "+currentURL,"","height=368,width=600,left=100,top=100,menubar=0") -->
                    </span>
                  </span>

                  </span>
                </span>

                <span class="product-action red">
                  <span class="action-wrapper">
                    <i class="icons icon-twitter"></i>
                    <span class="action-name"><a  onclick="window.open('https://twitter.com/share?url=' + encodeURIComponent(location.href),'','height=368,width=600,left=100,top=100,menubar=0')">Share on twitter</a></span>
                  </span>
                </span>
                <span class="product-action home-green">
                  <span class="action-wrapper">
                    <i class="icons icon-googleplus-rect"></i>
                    <span class="action-name"><a onclick="window.open('https://plus.google.com/share?url' + encodeURIComponent(location.href),'','height=368,width=600,left=100,top=100,menubar=0')">Share on google+</a></span>
                  </span>
                </span>
              </div>
  
              </div>
                
            </div>
        </div>


        </section>

        <aside class="sidebar col-lg-3 col-md-3 col-sm-3  right-sidebar">
        <% include ./partials/sidebar.ejs %>
        </aside>
        </div>
    <% include ./partials/footer.ejs %>
  </div>

  <% include ./partials/script.ejs %>
  </body>
</html>

