<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
        <title><%= title%></title>
    </head>
    
    <body>
		<!-- Container -->
		<div class="container">
			<!-- Header -->
			<% var csrfToken= _csrfToken; 
			var username; 
			if(user != undefined) username = user.local.username; 
            var mycart = cart;
            var mycompare = compare; %>
			<% include ./partials/header.ejs %>
			<!-- /Header -->
			
			
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="/"">Home</a> <i class="icons icon-right-dir"></i> 
                    		<a href="account_info.htm">Tài khoản</a>
                    		<i class="icons icon-right-dir"></i><a href="orders_history.html">Lịch sử đơn hàng</a>
                    		<i class="icons icon-right-dir"></i>Thông tin đơn hàng</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading">
                                <h4>Order Information</h4>
                                <div class="carousel-arrows">
									<a href="orders_history.html"><i class="icons icon-reply"></i></a>
								</div>
                            </div>
                            
                            <table class="orderinfo-table">
                            	
                                <tr>
                                	<th>Order number</th>
                                    <td>21512512</td>
                                </tr> 
                                
                                <tr>
                                	<th>Order date</th>
                                    <td>2013-07-12</td>
                                </tr>
                                
                                <tr>
                                	<th>Order status</th>
                                    <td>Completed</td>
                                </tr>

    
								<tr>
                                	<th>Payment</th>
                                    <td>PayPal</td>
                                </tr>
								
								<tr>
                                	<th>Comment</th>
                                    <td>No comment</td>
                                </tr>

                                <tr>
                                	<th>Total</th>
                                    <td><span class="price">$281.00</span></td>
                                </tr>                    
                                
                            </table>
                            
                        </div>
                        
                    </div>
                    
                    <div class="row">
                    	
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading">
                                <h4>Bill to</h4>
                            </div>
                            
                            <table class="orderinfo-table">
                            	
                                <tr>
                                	<th>Email</th>
                                    <td>eroge@gmail.com</td>
                                </tr> 
                                

                                
                                <tr>
                                	<th>Name</th>
                                    <td>Ayakurumi</td>
                                </tr>
                                

                                
                                                              
                                <tr>
                                	<th>Phone</th>
                                    <td>098467846</td>
                                </tr>                   
                                
                            </table>
                            
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	
                            <div class="carousel-heading">
                                <h4>Ship to</h4>
                            </div>
                            
                            <table class="orderinfo-table">
                                
                                <tr>
                                	<th>Email</th>
                                    <td>allanweko@gmail.com</td>
                                </tr> 

                                <tr>
                                	<th>Name</th>
                                    <td>Allan</td>
                                </tr>
                        
                                <tr>
                                	<th>Phone</th>
                                    <td>098467826</td>
                                </tr> 
                                
                   
                                                
                                
                            </table>
                            
                        </div>
                        
                         <div class="col-lg-12 col-md-12 col-sm-12">
							
							
							<div class="tabs">
                            
                                <div class="tab-heading margin-heading">
                                    <a href="#tab1" class="button big">Order Items</a>
                                    
                                </div>
                                
                                <div class="tab-content no-padding">
                                	
                                    <div id="tab1">
									
                                    	<table class="orderinfo-table">
                                
											<tr>
												<th>ID</th>
												<th>Tên sản phẩm</th>
												<th>Giá gốc</th>
												<th>Giá sau khi giảm</th>
												<th>Số lượng</th>
												<th>Tổng tiền</th>
											</tr> 
											
											<% cart.forEach( function (product) { %>
												<tr>
													<td><a href="/product_detail/<%=product.item._id.toString() %>"><%=product.item._id.toString() %></a></td>
													<td><%=product.item.name %></td>
													<td><%=product.item.price %></td>
                                                    <% if(product.item.pricesale) { %>
													   <td><%=product.item.pricesale %></td>
                                                    <% } else { %>
                                                        <td><%=product.item.price %></td>
                                                    <% } %>
													<td><%=product.quantity %></td>
													<td>$<%=product.price %></td>
												</tr>
											<%})%>
																					
											<tr>
												<td></td>
												<td class="align-right" colspan="4"><span class="price big">Total</span></td>
                                                <%if(!session.cart){ %>
                                                <td><span class="price big">0</span></td>
                                                <% } else { %>
												<td><span class="price big"><%='$' + (session.cart.totalPrice).toFixed(2) %></span></td>
                                                <% } %>
											</tr>
											
										</table>
										
                                    </div>
									
								</div>
								
                            
                            </div>
							
                        </div>
                        
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
                
                
				<!-- Sidebar -->
				<% include ./partials/user_sidebar.ejs %>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
			
			<!-- Footer -->
			<% include ./partials/footer.ejs %>
			<!-- Footer -->
		</div>
    	<!-- Container -->
		
		<!-- JavaScript -->
		<% include ./partials/script.ejs %>
    </body>
    
</html>