<!DOCTYPE html>

<html>

    <head>
        
       <% include ./partials/head.ejs %>
        <title><%= title%></title>
        
    </head>
    
    
    <body>
		
		<!-- Container -->
        <div class="container">
            <!-- Header -->
            <% var csrfToken= _csrfToken; 
            var username; 
            if(user != undefined) username = user.local.username; 
            var mycart = cart;
            var mycompare = compare; %>
            <% include ./partials/header.ejs %>
            <!-- /Header -->
			
			
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="/">Home</a> <i class="icons icon-right-dir"></i> 
                    		<a href="cart.html">Giỏ hàng</a>
                    		<i class="icons icon-right-dir"></i>Thanh toán
                    		</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
					
                    <div class="row">
                    
                        <!-- Heading -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Payment</h4>
                                <div class="carousel-arrows">
									<a href="checkout.htm"><i class="icons icon-reply"></i></a>
								</div>
                            </div>
                            
                        </div>
                        <!-- /Heading -->
                        
					</div>	
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
							<div class="payment-checkbox">
                            	
                            	<div class = payment-guide>
								<p>Select your payment method</p>
								</div>
								
								<form >
								<div class = payment-method>
									<div class= "name">
										<input type="radio" onclick="getpaymentform();" name="paymentmethod" value="w1" id="paypal" ">Paypal
									</div>
									<div class = "img">
										<img src= "img/paypal.png">
									</div>
								</div>
                                <div class = payment-method>
                                	<div class= "name">
                                		<input type="radio" onclick="getpaymentform();" name="paymentmethod" value="w2" id="mastercard" >MasterCard
                                	</div>
                                	<div class ="img">
                                		<img src= "img/mastercard.png">
                                	</div>
                                </div>
                                <div class = payment-method>
                                	<div class= "name">
                                		<input type="radio" onclick="getpaymentform();" name="paymentmethod" value="w3" id="visa"  >Visa
                                	</div>
                                	<div class ="img">
                                		<img src= "img/visa.png">
                                	</div>  
                                </div>
                                <div class = payment-method>
                                	<div class= "name">
                                		<input type="radio" onclick="getpaymentform();" name="paymentmethod" value="w4" id="americanexpress" >AmericanExpess
                                	</div>
                                	<div class= "img">
                                		<img src= "img/americanexpress.png">
                                	</div>
                                </div>
                                <div class = payment-method>
                                	<div class = "name">
                                		<input type="radio" onclick="getpaymentform();" name="paymentmethod" value="w5" id="discovernetwork" >Discover Network
                                	</div>
                                	<div class = "img">
                                		<img src= "img/discovernetwork.png">
                                	</div>
                                </div>
								</form>
                              
							</div>
								
                        </div>
                        
                    </div>
                    
                    <!--paypalform-->
                    <% include ./partials/paypal.ejs %>
                    <!--/paypalform-->

                    <!--mastercardform-->
                    <% include ./partials/mastercard.ejs %>
                    <!--.mastercardform-->

                    <!--visaform-->
                    <% include ./partials/visa.ejs %>
                    <!--/visaform-->

                    <!-- americanexpressform -->
                    <% include ./partials/americanexpress.ejs %>
                    <!-- /americanexpressform -->

                    <!--discovernetworkform-->
                    <% include ./partials/discover.ejs %>
                    <!--/discovernetworkform-->
                    
                    <form name="paypalform" action="/payment_method/realpay" method="post">
                    
                    <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12 register-account" id="confirmform">
                        	                            
                            <div class="page-content">

						    <div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                    	<p>I agree to the terms of service</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                    	<input type="checkbox" id="i-agree-to-terms"><label for="i-agree-to-terms"></label>
                                    </div>	
                                    
                                </div>

                               <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12" id="confirmbuttons">
                                    	<input class="big pull-right" type="submit" value="Confirm" id="confirmpaymentbutton" action="/realpay">
                                        <!-- onclick="validatepaymentinfo()"> -->
                                        <input class="big" type="reset" value="Cancel" id="cancelpaymentbutton">
                                    </div>
                               </div>

                            </div>
                            
                    	</div>
                          
                    </div>
                    </form>


                    
				</section>
				<!-- /Main Content -->
                
                <!-- Payment form-->

                <!-- /Payment form-->
                
				<!-- Sidebar -->
                <% include ./partials/user_sidebar.ejs %>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
			
			
            <!-- /Content -->
            
            <!-- Footer -->
            <% include ./partials/footer.ejs %>
            <!-- Footer -->
        </div>
        <!-- Container -->
        
        <!-- JavaScript -->
        <% include ./partials/script.ejs %>
    </body>
    
</html>