<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
		
		<!-- Container -->
		<div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username;
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>

        <!-- Content -->
      <div class="row content">
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="breadcrumbs">
                      <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>
                
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                      
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          
                            <div class="carousel-heading no-margin">
                                <h4>Chính sách bảo mật</h4>
                            </div>
                            
                            <div class="page-content">
                              
                              <p>Để mua hàng tại Figaro team, bạn có thể sẽ được yêu cầu cung cấp cho chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. Figaro team  không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.
                              <br><br>
                <strong>1.Mục đích thu thập thông tin</strong><br>

                Figaro team  thu thập và sử dụng thông tin cá nhân bạn với mục đích sau:

                – Giao hàng và liên hệ với người mua.

                – Hỗ trợ, tư vấn về sản phẩm, dịch vụ theo yêu cầu của khách hàng.

                – Giải quyết các vấn đề khiếu nại, tranh chấp phát sinh liên quan đến việc sử dụng website Figaro team.<br><br>
                <strong>2.Phạm vi thu thập thông tin :</strong><br>

                Khi khách hàng mua sản phẩm tại  Figaro team chúng tôi sẽ thu thập các thông tin bắt buộc sau:

                – Họ và tên.

                – Số điện thoại di động.

                – Địa chỉ email.

                Divine Shop không chịu mọi trách nhiệm liên quan đến pháp luật nếu thông tin khai báo của khách hàng không hợp lệ và không chính xác.

                Ngoài ra, các thông tin giao dịch gồm: lịch sử mua hàng, giá trị giao dịch, phương thức vận chuyển và thanh toán cũng được lưu trữ tại hệ thống website Figaro team nhằm giải quyết những vấn đề có thể phát sinh về sau.<br><br>

                <strong>3.Thời gian lưu trữ thông tin :</strong><br>

                Figaro team sẽ lưu trữ thông tin của trong khoảng thời gian luật pháp quy định hoặc đến khi khách hàng đề nghị điều chỉnh sửa đổi, xóa thông tin trên hệ thống. Tuy nhiên chúng tôi sẽ lưu lại những thông tin bị thay đổi để chống các hành vi xóa dấu vết gian lận.<br><br>

                <strong>4.Lưu trữ và quản lý  thông tin cá nhân:</strong><br>

                Chúng tôi lưu trữ và xử lý thông tin cá nhân của bạn tại các máy chủ đặt tại Việt Nam.
                Chúng tôi quản lý những thông tin này bằng nhiều phương tiện điện tử (máy chủ) và quy trình làm việc của đội ngũ nhân viên vận hành.<br><br>

                <strong>5.Lưu trữ và quản lý  thông tin cá nhân:</strong><br>

                Bất cứ khi nào bạn sử dụng dịch vụ của chúng tôi, chúng tôi đều cung cấp cho bạn quyền truy cập và cập nhập thông tin cá nhân của mình . Ngoài ra bạn cũng có thể liên hệ với bộ phận CSKH của chúng tôi để được hỗ trợ thay đổi thông tin cá nhân của mình thông qua phương thức liên hệ trực tiếp qua bảng chat hoặc email tới địa chỉ : divine.shop.sell@gmail.com

                Nếu thông tin đó không đúng, chúng tôi cố gắng cung cấp cho bạn các cách để thay đổi thông tin nhanh chóng trừ khi chúng tôi phải giữ thông tin đó cho mục đích pháp lý hoặc kinh doanh hợp pháp. Khi cập nhật thông tin cá nhân của bạn, chúng tôi có thể yêu cầu bạn xác minh danh tính của mình trước khi chúng tôi xử lý yêu cầu của bạn.

                Chúng tôi cố gắng duy trì các dịch vụ của mình theo cách bảo vệ thông tin không bị phá hoại do vô tình hay cố ý. Do vậy, sau khi bạn xóa thông tin khỏi dịch vụ của chúng tôi, chúng tôi có thể không xóa ngay bản sao còn lại khỏi máy chủ đang hoạt động của mình và có thể không xóa thông tin khỏi hệ thống sao lưu của chúng tôi.<br><br>

                <strong>6.Cam kết bảo mật thông tin khách hàng :</strong><br>

                Figaro team cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Chúng tôi chỉ thu thập thông tin của bạn theo điều 2 thỏa thuận này.

                Chúng tôi khuyên quý khách rằng quý khách không nên đưa thông tin chi tiết về việc thanh toán với bất kỳ ai bằng e-mail, chúng tôi không chịu trách nhiệm về những mất mát quý khách có thể gánh chịu trong việc trao đổi thông tin của quý khách qua internet hoặc email.

                Quý khách tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.

                Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
                Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và tòa án Việt Nam có thẩm quyền xem xét.<br><br>

                <strong>7.Thông tin khác :</strong><br>

                Mọi thắc mắc, góp ý, hỏi đáp về chính sách bảo mật thông tin của Figaro team , quý khách vui lòng liên hệ qua email:  hoặc Số điện thoại : </p>

                
                                
                            </div>
                            
                      </div>
                          
                    </div>
                        
                    
        </section>
        <!-- /Main Content -->
                
                
                
                
      </div>
      <!-- /Content -->


      <% include ./partials/footer.ejs %>
</div>

<% include ./partials/script.ejs %>
  </body>
</html>