<!DOCTYPE html>
<html>
  <head>
     <title><%= product.name%></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <!-- Container -->
	  <div class="container">
		  <% var csrfToken= _csrfToken; 
      var username; 
      if(user != undefined) username = user.local.username;
      var mycart = cart;
      var mycompare = compare; %>
      <% include ./partials/header.ejs %>

      <div class= "row content">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="breadcrumbs">
            <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <a href="/<%=product.category%>"><%=product.category %></a> <i class="icons icon-right-dir"></i><%=product.name %></p>
          </div>
        </div>

        <section class="main-content col-lg-9 col-md-9 col-sm-9">
          <div id="product-single">
          
            <!-- Product -->
            <div class="product-single">
              
              <div class="row">
                <!-- Product Images Carousel -->
                <div class="col-lg-5 col-md-5 col-sm-5 product-single-image">
                  
                  <div id="product-slider">
                    <ul class="slides">
                      <li>
                        <img class="cloud-zoom" src=<%=product.img%> data-large=<%=product.img%> alt="" />
                        <a class="fullscreen-button" href="<%=product.img%>">
                          <div class="product-fullscreen">
                            <i class="icons icon-resize-full-1"></i>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div id="product-carousel">
                    <ul class="slides">
                      <% include ./partials/fancyimgproduct.ejs %>
                    </ul>
                    <div class="product-arrows">
                      <div class="left-arrow">
                        <i class="icons icon-left-dir"></i>
                      </div>
                      <div class="right-arrow">
                        <i class="icons icon-right-dir"></i>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- /Product Images Carousel -->
                
                <div class="col-lg-7 col-md-7 col-sm-7 product-single-info">
                  
                  <h2><%=product.name%></h2>
                  <div class="rating-box">
                    <!-- <div class="rating readonly-rating" data-score="4"></div> -->
                    <span>1 Review(s)</span>
                  </div>
                  <table>
                    <tr>
                      <td>Nhà phát hành:</td>
                      <td><%=product.manufacturer%></a></td>
                    </tr>
                    <tr>
                      <td>Tình trạng:</td>
                      <td>
                      <% if(product.availability == '0') { %>
                        <span class="red">Hết hàng</span>
                      <% } else { %>
                        <span class="green">Còn hàng</span>
                      <% } %>
                       <%=product.availability%> món</td>
                    </tr>
                    
                  </table>

                  <span class="price">
                    <% if(product.onsale == true) { %>
                      <del><%=product.price %></del><%=product.pricesale%>
                    <% } else{ %>
                      <%=product.price%>
                    <% } %>
                  </span>
                  
                  <table class="product-actions-single">
                    <tr>
                      <td>Số lượng:</td>
                      <td>
                        <form action="/add_to_cart" method="post">
                        <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                        <input type="hidden" name="id" value="<%=product._id.toString() %>" >
                          <div class="numeric-input">
                            <input type="text" name="quantity" value="1">
                            <span class="arrow-up"><i class="icons icon-up-dir"></i></span>
                            <span class="arrow-down"><i class="icons icon-down-dir"></i></span>
                          </div>
                        <!-- <a href="/add_to_cart/<%=product._id.toString() %>?quantity="> -->
                          <span class="add-to-cart">
                            <span class="action-wrapper">
                              <i class="icons icon-basket-2"></i>
                              <!-- <span class="action-name">Thêm vào giỏ</span> -->
                              <input type="submit" class="orange" value="Thêm vào giỏ">
                            </span >
                          </span>
                        <!-- </a> -->
                        </form>
                      </td>
                    </tr>
                  </table> 
                  
                  <div class="product-actions">
                    <span class="add-to-favorites">
                      <span class="action-wrapper">
                        <i class="icons icon-heart-empty"></i>
                        <span class="action-name">Add to wishlist</span>
                      </span>
                    </span>
                    <span class="add-to-compare">
                      <span class="action-wrapper">
                        <i class="icons icon-docs"></i>
                        <span class="action-name">Add to compare</span>
                      </span>
                    </span>
                    <span class="green product-action">
                      <span class="action-wrapper">
                        <i class="icons icon-info"></i>
                        <span class="action-name">Ask a question</span>
                      </span>
                    </span>
                  </div>
                  
                  <div class="social-share">
                    <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" style="border:none; overflow:hidden; height:21px; width:100px;"></iframe>
                  </div>

                  <div class="social-share">
                    <iframe
                      src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=localhost:3000/product_detail/<%=product._id.toString() %>&text=Share%20<%=product.name %>%20localhost:3000/product_detail/<%=product._id.toString() %>"
                      width="140"
                      height="50"
                      title="Twitter Tweet Button"
                      style="border: 0; overflow: hidden;">
                    </iframe>
                  </div>
                  
                </div>
                
              </div>
              
            </div>
            <!-- /Product -->
            
            
            <!-- Product Tabs -->
            <div class="row">
              
              <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="tabs">
                
                  <div class="tab-heading">
                    <a href="#tab1" class="button big">Mô tả</a>
                    <a href="#tab2" class="button big">Yêu cầu hệ thống</a>
                    <a href="#tab3" class="button big">Bình luận</a>
                  </div>
                  
                  <div class="page-content tab-content">
                    
                    <div id="tab1">
                    <% if(product.descriptions != undefined){ %>
                      <% if(product.descriptions.text[0] != undefined)%>
                        <p><%=product.descriptions.text[0]%></p>
                      <% if(product.descriptions.header[0] != undefined)%>
                        <p><strong><%=product.descriptions.header[0]%></strong></p>
                      <ul>
                      <% (product.descriptions.list).forEach(function(line){ %>
                        <li><i class="icons icon-right-dir"></i> <%=line%> </li>
                      <% }) %>
                      </ul>
                      <% if(product.descriptions.header[1] != undefined)%>
                        <p><strong><%=product.descriptions.header[1]%></strong></p>
                      <% if(product.descriptions.text[1] != undefined)%>
                        <p><%=product.descriptions.text[1]%></p>
                     <% } %>   
                      <p class="tags home-green"><strong>Tags:</strong> 
                      <a href="#" class="tag-item"><%=product.category %></a>
                      <a href="#" class="tag-item"><%=product.genre %></a>
                      <a href="#" class="tag-item"><%=product.manufacturer %></a></p>
                    </div>
                    
                    <div id="tab3">
                      
                      <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="category-results">
                            <p>Results 1-1 of 1</p>
                          </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="pagination">

                            <a href="#"><div class="page-button">1</div></a>

                          </div>
                        </div>
                      
                      </div>
                      
                      <ul class="comments">
                        <% (product.review).forEach(function(comment){ %>
                          <li>
                            <p><strong><a href="#"><%=comment.postedBy %></a></strong></p>
                            <span class="date"><%=comment.time %></span>
                            <i class="icons green icon-thumbs-up-alt"></i>
                            <i class="icons sum no-pointer green-sum">1</i>
                            <i class="icons red icon-thumbs-down-alt"></i>
                            <i class="icons icon-reply"></i>
                            <div class="rating-box">
                              <div class="rating readonly-rating" data-score="5"></div>
                            </div>
                            <br>
                            <p><%=comment.text %></p>
                            
                          </li>
                        <% }) %>

                      </ul>
                      
                      <h3>WRITE A REVIEW</h3>
                      <p>Bình luận sản phẩm</p><!-- (min. 200, max. 2000 characters) -->
                      <textarea id="review-textarea"></textarea>
                      <p>Đánh giá sản phẩm 1 sao (thấp nhất) - 5 sao (tốt nhất)</p>
                      <div class="rating-box">
                        Rating: 
                        <div class="rating rate" data-score="3"></div>
                      </div>
                      <div class="char-counter">
                        <label>Tell us who you are:</label>
                        <input data-target="#review-textarea" type="text">
                      </div>
                      <br>
                      <input type="submit" class="dark-blue big" value="Submit a review">
                      
                      
                    </div>
                    
                    <div id="tab2">

                    
                    <p><strong>Minimum:</strong></p>
                      <ul>
                      <% (product.requirement).forEach(function(req) { %>
                        <li><i class="icons icon-right-dir"></i> <%=req %> </li>
                      <% })  %>
                      </ul>
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>
            <!-- /Product Tabs -->
          
          </div>
                    

          
          <!-- Product Buttons -->
          <div class="row button-row">
            
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a class="button grey regular" href="/category/<%=product.category%>"><i class="icons icon-reply"></i> BACK TO: <%=product.category%></a>
            </div>
            
          
          </div>
          <!-- /Product Buttons -->
          
          
        </section>
        <!-- /Main Content -->
 <aside class="sidebar col-lg-3 col-md-3 col-sm-3  right-sidebar">
        <% include ./partials/sidebarforproduct.ejs %>
        </aside>
        </div>
    <% include ./partials/footer.ejs %>
  </div>

  <% include ./partials/script.ejs %>
  </body>
</html>