<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>	
	<title>Danh sách sản phẩm</title>
	
</head>
<body>
	<div class="container">
	<!-- Header -->
	<% include ./partials/headerforadmin.ejs %>
	<!-- /Main Header -->

	<!-- Content -->
	<div class="row content">

		<div class="col-lg-12 col-md-12 col-sm-12">
        	<div class="breadcrumbs">
            	<p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Danh sách sản phẩm</p>
            </div>
        </div>

		<!--sidebar -->
		<% include ./partials/admin_sidebar.ejs %>	
		<!--sidebar-->

		<!--main content-->
		<section class="main-content col-lg-9 col-md-9 col-sm-9">
			<div class="carousel-heading no-margin">
                <h4>Danh sách sản phẩm</h4>
                <div class="pull-right" style="padding: 5px 5px;">
                <select class="chosen-select" style="color: #1f2228">
                	<option>Tên sản phẩm</option>
                   	<option>Nhà phát hành</option>
                    <option>ID</option>
                    <option>Tags</option> 
                </select>
				<input type="text" style="color: #1f2228" placeholder="Tìm kiếm" >
				<button type="button" class="btn btn-primary"><i class="icons icon-search-1" style="color: #1f2228;"></i></button>
				</div>
            </div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="product-table" style="margin:0; padding: 0; width: 100%">
						<tr>
							<th>ID</th>
							<th>Tên sản phẩm</th>
							<th>Nhà phát hành</th>
							<th>Giá gốc</th>
							<th>Giá sale</th>
							<th>Chỉnh sửa</th>
							<th>Xóa</th>
						</tr>
						
						<% products.forEach(function(product) { %>
						
						<tr>
							<td><a href="/product_detail/<%=product._id.toString() %>">
							<%=product._id.toString() %></a></td>
							<td><%=product.name %></td>
							<td><%=product.manufacturer %></td>
							<td><%=product.price %></td>
							<% if(product.pricesale) { %>
							   <td><%=product.pricesale %></td>
                            <% } else { %>
                                <td>-</td>
                            <% } %>

							<td><p><a href="/admin/edit_product/<%=product._id.toString() %>" class="btn btn-default">Sửa</a></p></td>
							<form action="/admin/delete_product" method="post">
								<input type="hidden" name="id" value="<%=product._id.toString() %>" >
								<input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
								<td><p><button><i class="icons icon-cancel" type="submit"></i></button></p></td>
							</form>
						</tr>  
						<% })  %> 
						
					</table>
				</div>
			</div>
		</section>
		<!--/main content-->

	</div>
	<!-- /Content -->

	<!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
	</div>
</body>
</html>