<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>	
	<title>Báo cáo</title>
	<script type="text/javascript" src="/js/Chart.min.js"></script>
	<script type="text/javascript" src="/js/Chartnew.min.js"></script>
	
	
</head>
<body>
	<div class="container">
	<!-- Header -->
	<% var csrfToken= _csrfToken; %>
	<% include ./partials/headerforadmin.ejs %>
	<!-- /Main Header -->

	<!-- Content -->
	<div class="row content">

		<div class="col-lg-12 col-md-12 col-sm-12">
        	<div class="breadcrumbs">
            	<p><a href="/admin">Quản lý</a> <i class="icons icon-right-dir"></i>Báo cáo</p>
            </div>
        </div>

		<!--sidebar -->
		<% include ./partials/admin_sidebar.ejs %>	
		<!--sidebar-->

		

		<!--main content-->
		<section class="main-content col-lg-9 col-md-9 col-sm-9">
			<div class="carousel-heading no-margin">
                <h4>Báo cáo tài chính </h4>
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:white;">
            <br>
            <form action="/admin/report" method="get">
            <div id = "linechart">          
            <p> Doanh thu trong tháng <select class="chosen-select" name="curmonth" onchange="this.form.submit()">
							                <option value="0" <%if(curmonth==0){%>selected<%}%>>1</option>
							                <option value="1" <%if(curmonth==1){%>selected<%}%>>2</option>
							                <option value="2" <%if(curmonth==2){%>selected<%}%>>3</option>
							                <option value="3" <%if(curmonth==3){%>selected<%}%>>4</option>
							                <option value="4" <%if(curmonth==4){%>selected<%}%>>5</option>
							                <option value="5" <%if(curmonth==5){%>selected<%}%>>6</option>
							                <option value="6" <%if(curmonth==6){%>selected<%}%>>7</option>
							                <option value="7" <%if(curmonth==7){%>selected<%}%>>8</option>
							                <option value="8" <%if(curmonth==8){%>selected<%}%>>9</option>
							                <option value="9" <%if(curmonth==9){%>selected<%}%>>10</option>
							                <option value="10" <%if(curmonth==10){%>selected<%}%>>11</option>
							                <option value="11" <%if(curmonth==11){%>selected<%}%>>12</option>
							              </select> năm 

							              <select class="chosen-select" name="curyear" onchange="this.form.submit()">
							                <option value="2015" <%if(curyear==2015){%>selected<%}%>>2015</option>
							                <option value="2016" <%if(curyear==2016){%>selected<%}%>>2016</option>
							                <option value="2017" <%if(curyear==2017){%>selected<%}%>>2017</option>

							                </select>

							              </p>

            <canvas id="<%=charid%>" width="800" height="200"></canvas>
            </div>
            </form>	
            <div id = "linechart">
            <p> Doanh thu trong năm <%=profits.year %> </p> 

            <canvas id="yearincome" width="850" height="200"></canvas>
            </div>
            <!-- <div id = "barchart">
            <p> Doanh thu các năm  </p>
            <canvas id="" width="400" height="200"></canvas>+
            </div> -->
            <div id = "linechart">
            <p> Doanh thu trong năm <%=profits.year %> </p>
            <canvas id="genre" width="850" height="500"></canvas>
            </div>
            </div>
            <br>
		</section>


		<!--/main content-->

	</div>
	<!-- /Content -->

	<!-- Lower Footer -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div id="lower-footer">
            
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="copyright">Copyright 2017 <a href="#"></a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Lower Footer -->
	</div>
	<script>
				var d = new Date();
    			var n = d.getMonth();


				var janprofit = [<%=profits.jan%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);

				var febprofit = [<%=profits.feb%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);

				var marprofit = [<%=profits.mar%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);

				var aprprofit = [<%=profits.apr%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var mayprofit = [<%=profits.may%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var juneprofit = [<%=profits.june%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var julyprofit = [<%=profits.july%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var augprofit = [<%=profits.aug%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var septprofit = [<%=profits.sept%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var octprofit = [<%=profits.oct%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);				 
				
				var novprofit = [<%=profits.nov%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);
				var decprofit = [<%=profits.dec%>,
								 ].reduce(function (a, b) {
							  return a + b;
							}, 0);


				var d = new Date();
    			var n = d.getMonth();





			// line chart data

			var ctx = "dayincomejan";
			var dayincomejan = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.jan%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			// line chart data

			var ctx = "dayincomefeb";
			var dayincomefeb = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.feb%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});


			var ctx = "dayincomemar";
			var dayincomemar = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.mar%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomeapr";
			var dayincomemar = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.apr%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomemay";
			var dayincomemay = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.may%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomejune";
			var dayincomemay = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.june%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomejuly";
			var dayincomemay = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.july%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomeaug";
			var dayincomeaug = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.aug%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomesept";
			var dayincomesept = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.sept%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomeoct";
			var dayincomeoct = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.oct%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomenov";
			var dayincomenov = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.nov%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});

			var ctx = "dayincomedec";
			var dayincomedec = new Chart(ctx, {
			    type: 'line',
			    data: {
			    labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],
			    datasets: [
			        {
			            label: "Doanh thu tính theo $",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: [<%=profits.dec%>],					      
		                spanGaps: false,
						        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : false,
					animateScale : true
			    }
			});
			// line chart data
			//
			var ctx = "genre";
			var genre = new Chart(ctx, {
			    type: 'polarArea',
			    data: {
			    labels: [
			    	"tháng 1",
			        "tháng 2",
			 		"tháng 3",
			        "tháng 4",
			        "tháng 5",
			        "tháng 6",
			        "tháng 7",
			        "tháng 8",
			 		"tháng 9",
			        "tháng 10",
			        "tháng 11",
			        "tháng 12"
			    ],
			    datasets: [
			        {	
			            data: [janprofit, febprofit, marprofit, aprprofit,mayprofit,juneprofit,julyprofit,augprofit,septprofit,octprofit,novprofit,decprofit],
			            backgroundColor: [
			                "#ffed6f",
			                "#ccebc5",
			                "#bc80bd",
			                "#d9d9d9",
			                "#fccde5",
			                "#80b1d3",
			                "#fdb462",
			                "#b3de69",
			                "#fb8072",
			                "#bebada",
			                "#ffffb3",
			                "#8dd3c7"

			            ]
			        }]
			},
			    options: {
			       segmentShowStroke : false,
					animateScale : true
			    }
			});
			//

			// line chart data

			// var ctx = "monthincome";
			// var monthincome = new Chart(ctx, {
			//     type: 'line',
			//     data: {
			//     labels: ["January", "February", "March", "April", "May", "June","July","August","September","October","November","December"],
			//     datasets: [
			//         {
			//             label: "Doanh thu tính theo $",
			//             fill: false,
			//             lineTension: 0.1,
			//             backgroundColor: "rgba(75,192,192,0.4)",
			//             borderColor: "rgba(75,192,192,1)",
			//             borderCapStyle: 'butt',
			//             borderDash: [],
			//             borderDashOffset: 0.0,
			//             borderJoinStyle: 'miter',
			//             pointBorderColor: "rgba(75,192,192,1)",
			//             pointBackgroundColor: "#fff",
			//             pointBorderWidth: 1,
			//             pointHoverRadius: 5,
			//             pointHoverBackgroundColor: "rgba(75,192,192,1)",
			//             pointHoverBorderColor: "rgba(220,220,220,1)",
			//             pointHoverBorderWidth: 2,
			//             pointRadius: 1,
			//             pointHitRadius: 10,
			//             data: [janprofit, febprofit, marprofit, aprprofit,mayprofit,juneprofit,julyprofit,augprofit,septprofit,octprofit,novprofit,decprofit],
			//             spanGaps: false,
			// 			        }]
			// 			},
			//     options: {
			//     	legend: {
			//         display: false
			//     },
			//        segmentShowStroke : false,
			// 		animateScale : true
			//     }
			// });

			// line chart data

			

			var ctx = "yearincome";
			var yearincome = new Chart(ctx, {
			    type: 'bar',
			    data: {
			    labels: ["January", "February", "March", "April", "May", "June","July","August","September","October","November","December"],
			    datasets: [
			            {
			            backgroundColor: [
			                "#ffed6f",
			                "#ccebc5",
			                "#bc80bd",
			                "#d9d9d9",
			                "#fccde5",
			                "#80b1d3",
			                "#fdb462",
			                "#b3de69",
			                "#fb8072",
			                "#bebada",
			                "#ffffb3",
			                "#8dd3c7"
			            ],
			            borderColor: [
			                "#ffed6f",
			                "#ccebc5",
			                "#bc80bd",
			                "#d9d9d9",
			                "#fccde5",
			                "#80b1d3",
			                "#fdb462",
			                "#b3de69",
			                "#fb8072",
			                "#bebada",
			                "#ffffb3",
			                "#8dd3c7"
			            ],
			            borderWidth: 1,
			            data: [janprofit, febprofit, marprofit, aprprofit,mayprofit,juneprofit,julyprofit,augprofit,septprofit,octprofit,novprofit,decprofit]
			        }]
						},
			    options: {
			    	legend: {
			        display: false
			    },
			       segmentShowStroke : true,
					animateScale : true
			    }
			});
			    


			</script>
			<% include ./partials/script.ejs %>
</body>

</html>