<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title><%= title%></title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
        <% var csrfToken= _csrfToken; 
        var username; 
        if(user != undefined) username = user.local.username; 
        var mycart = cart;
        var mycompare = compare; %>
        <% include ./partials/header.ejs %>
         <div class="row content">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="breadcrumbs">
                      <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>


                <!-- Main Content -->
        <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                    <div class="row">
                    
                      <!-- Heading -->
            <div class="col-lg-12 col-md-12 col-sm-12">
              
              <div class="carousel-heading">
                <h4>Kết quả tìm kiếm "<%=searchPhrase %>"</h4>
              </div>
              
            </div>
            <!-- /Heading -->
                        
                    </div>
                     
          <div class="row">
                      
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="category-heading">
                <label for="sel1">Sort</label>
                <select class="chosen-select" id="sel1">
                  <option>Default</option>
                  <option>Name(A->Z)</option>
                  <option>Name(Z->A)</option>
                  <option>Price(highest)</option>
                  <option>Price(lowest</option>
                  <option>Review(highest)</option>
                  <option>Review(lowest</option>
                </select>
                <div class="selectproductperpage">
                  <label for="sel1">Display</label>
                  <select class="chosen-select">
                    <option>15</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option> 
                  </select>
                </div>
                               
                <div class="category-buttons">
                  <i class="icons icon-th-3 " onclick="changetogridview();" id="gridviewbtn"></i>
                  <i class="icons icon-th-list-4 active-button" onclick="changetolistview();" id="listviewbtn"></i>
                </div>
              </div>
            </div>                            
         </div>

         
                   
               <div class="row"> 
                <div id="listproduct">
                    

                    <% products.forEach( function(product) { %>

                    <!-- Product Item -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="grid-view product">
                            <div class="blog-image col-lg-5 col-md-5 col-sm-5">
                                <img src=<%=product.img %> alt="Product1">
                            </div>
                            
                            <div class="col-lg-7 col-md-7 col-sm-7 product-content no-padding">
                              <div class="product-info">
                                    <h5><a href="/product_detail/<%=product._id.toString() %>"><%=product.name %></a></h5>
                                    <span class="price"><% if(product.onsale == true) { %>
                      <del><%=product.price %></del><%=product.pricesale%>
                    <% } else{ %>
                      <%=product.price%>
                    <% } %></span>
                <div class="rating-box">
                  <div class="rating readonly-rating" data-score="4"></div>
                  <span>3 Review(s)</span>
                </div>
                                    <p><%product.description%>
                  </p>    
              </div>


                                <div class="product-actions full-width">
                                    <span class="add-to-cart">
                                        <span class="action-wrapper">
                                            <i class="icons icon-basket-2"></i>
                                            <span class="action-name">Add to cart</span>
                                        </span>
                                    </span>
                                    <span class="add-to-favorites">
                                        <span class="action-wrapper">
                                            <i class="icons icon-heart-empty"></i>
                                            <span class="action-name">Wishlist</span>
                                        </span>
                                    </span>
                                    <span class="add-to-compare">
                                        <span class="action-wrapper">
                                            <i class="icons icon-docs"></i>
                                            <span class="action-name">Compare</span>
                                        </span>
                                    </span>
                                </div>
                          </div>
                        </div>
                        
                    </div>
                    <!-- Product Item -->

                    <% })  %>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="category-results">
                            <p>Results 1-15 of 21</p>
                            </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="pagination">
                            <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                            <a href="#"><div class="page-button">1</div></a>
                            <a href="#"><div class="page-button">2</div></a>
                            <a href="#"><div class="page-button">3</div></a>
                            <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                        </div>
                    </div>
                    
                </div>




        <div id ="gridproduct">

             <% products.forEach( function(product) { %>

            <!-- Product Item -->
            <div class="col-lg-4 col-md-4 col-sm-4 product">
                
                <div class="product-image">
                    <img src=<%=product.img %> alt="Product1">
                    <a href="/product_detail/<%=product._id.toString() %>" class="product-hover">
                <i class="icons icon-eye-1"></i> Quick View
              </a>
                </div>
                
                <div class="product-info">
                    <h5><a href="/product_detail/<%=product._id.toString() %>"><%=product.name %></a></h5>
                    <span class="price"><% if(product.onsale == true) { %>
              <del><%=product.price %></del><%=product.pricesale%>
            <% } else{ %>
              <%=product.price%>
            <% } %></span>
                    <div class="rating readonly-rating" data-score="4"></div>
                </div>
                
                <div class="product-actions">
              <span class="add-to-cart">
                                            <span class="action-wrapper">
                                                <i class="icons icon-basket-2"></i>
                                                <span class="action-name">Add to cart</span>
                                            </span >
                                        </span>
              <span class="add-to-favorites">
                                            <span class="action-wrapper">
                                                <i class="icons icon-heart-empty"></i>
                                                <span class="action-name">Add to wishlist</span>
                                            </span>
                                        </span>
              <span class="add-to-compare">
                                            <span class="action-wrapper">
                                                <i class="icons icon-docs"></i>
                                                <span class="action-name">Add to Compare</span>
                                            </span>
                                        </span>
            </div>
                
            </div>
            <!-- Product Item -->
            <% })  %>
            
            

            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="category-results">
                    <p>Results 1-15 of 21</p>
                    </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pagination">
                    <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                    <a href="#"><div class="page-button">1</div></a>
                    <a href="#"><div class="page-button">2</div></a>
                    <a href="#"><div class="page-button">3</div></a>
                    <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                </div>
            </div>
        </div>
      </div>
        </section>
        <!-- /Main Content -->



        <aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9"> 
        <% include ./partials/sidebarforgenre.ejs %>
        </aside>
        <!-- /Sidebar -->


         </div>
      <!-- /Content -->




    <% include ./partials/footer.ejs %>
  </div>

  <% include ./partials/script.ejs %>
  </body>
</html>