<!DOCTYPE html>

<html>
    <head>
        <!-- Meta Tags -->
        <% include ./partials/head.ejs %>
        <title><%= title%></title>
    </head>
    
    
    <body>
        <!-- Container -->
        <div class="container">
            <% var csrfToken= _csrfToken; 
            var username; 
            var mycart = cart;
            var mycompare = compare; %>
            <% include ./partials/header.ejs %>
            
            <!-- Content -->
            <div class="row content">
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumbs">
                        <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i> <%= title%></p>
                    </div>
                </div>
                
                <!-- Main Content -->
                <section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <form action="/login" method="post">
                                <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                                <div class="carousel-heading no-margin">
                                    <h4>Đăng nhập</h4>
                                </div>
                                
                                <div class="page-content">
                                    <% if ( loginMessage.length > 0 ) { %>
                                      <div class="flash-message"><strong><%= loginMessage %></strong></div>
                                    <% } else{%>
                                    <p>Đăng nhập nếu bạn đã có tài khoản</p>
                                    <%}%>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="iconic-input">
                                                <input type="text" id="username" name="username" placeholder="Tên đăng nhập">
                                                <i class="icons icon-user-3"></i>
                                            </div>
                                        
                                            <div class="iconic-input">
                                                <input type="password" id="password" name="password" placeholder="Mật khẩu">
                                                <i class="icons icon-lock"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <input type="checkbox" id="login-remember-2"> <label for="login-remember-2">Remember me</label>
                                    <br/><br/>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 align-left">
                                            <input type="submit" class="orange" value="Login">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 align-right">
                                            <small>
                                                <a class="align-right" href="#">Quên mật khẩu?</a>
                                                <!-- <br>
                                                <a class="align-right" href="#">Forgot your username?</a>
                                                <br> -->
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                          
                    
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 register-account">
                            <form action="/signup" method="post">
                            <input type="hidden" value="<%= _csrfToken%>" name="_csrf"/>
                            <div class="carousel-heading no-margin">
                                <h4>Đăng ký</h4>
                            </div>

                            <div class="page-content">
                                <div class="row">

                                    <% if ( signupMessage.length > 0 ) { %>
                                      <div class="flash-message"><strong><%= signupMessage %></strong></div>
                                    <% } %>

                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <p>Email*</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" id="email" name="email" class="form-control" required autofocus>
                                    </div>  
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <p>Tên tài khoản*</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" id="username" name="username" class="form-control" required>
                                    </div>  
                                    
                                </div>
                                                                                               
                                <div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <p>Mật khẩu*</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="password" id="password" name="password" class="form-control" required>
                                    </div>  
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <p>Xác nhận mật khẩu*</p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="password" id="passwordconf" name="passwordconf" class="form-control" required>
                                    </div>  
                                    
                                </div>

                                <div class="g-recaptcha" data-sitekey="6LefSB4UAAAAAIfnexQhOZoIEoIoMhW8TjzOtboL"></div>
                                
                               <!--  <div class="g-recaptcha" data-sitekey="6Lfn8xoUAAAAAIN0pk_B7-V-XKxnye39Pz8zQzR5"></div> -->
                                <div class="row" style="margin-left: 25%; margin-right: auto">
                                    <div>
                                    <p style="display: inline">Tôi đồng ý với <a href="#">Điều khoản dịch vụ</a></p>
                                        <input type="checkbox" id="i-agree-to-terms" checked><label for="i-agree-to-terms"></label>
                                    
                                    </div>
                                </div>
                                

                                
                                <div class="row">                            
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <!-- <input class="big" type="reset" value="Hủy bỏ"> -->
                                        <input class="big pull-right" type="submit" value="Đăng ký">
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                          
                    </div>
                        
                    
                </section>
                <!-- /Main Content -->
                
                
                <!-- Sidebar -->
                <aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">
                    
                    <!-- Categories -->
                    <div class="row sidebar-box purple">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                                <i class="icons icon-folder-open-empty"></i>
                                <h4>Categories</h4>
                            </div>
                            
                            <div class="sidebar-box-content">
                                <ul>
                                    <li><a href="#">Top Sellers<i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">Recently Release <i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">On sale <i class="icons icon-right-dir"></i></a></li>
                                    <li><a class="purple" href="#">All Categories</a></li>
                                </ul>
                            </div>
                            
                        </div>
                            
                    </div>
                    <!-- /Categories -->

                            <!-- Genre -->
                    <div class="row sidebar-box purple">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                                <i class="icons icon-folder-open-empty"></i>
                                <h4>Browse by genre</h4>
                            </div>
                            
                            <div class="sidebar-box-content">
                                <ul>
                                    <li><a href="#">Action games<i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">RPG games <i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">Sport games<i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">Adventure games<i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">FPS games<i class="icons icon-right-dir"></i></a></li>
                                    <li><a href="#">Strategy games<i class="icons icon-right-dir"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
                            
                    </div>
                    <!-- /Genre -->
                    
                    <!-- Carousel -->
                    <div class="row sidebar-box">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
                            
                            <!-- Slider -->
                            <section class="sidebar-slider">
                                <div class="sidebar-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide1.jpg" alt="Slide1"/></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide2.jpg" alt="Slide1"/></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide3.jpg" alt="Slide1"/></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slider-nav"></div>
                            </section>
                            <!-- /Slider -->
                            
                        </div>
                        
                    </div>
                    <!-- /Carousel -->
                    
                    
                    <!-- Bestsellers -->
                    <div class="row sidebar-box red">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                            <i class="icons icon-award-2"></i>
                                <h4>Recently viewed</h4>
                            </div>
                            
                            <div class="sidebar-box-content">
                                <table class="bestsellers-table">
                                    
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="img/products/sample28.jpg" alt="Product1"></a></td>
                                        <td class="product-info">
                                            <p><a href="#">Elsword</a></p>
                                            <span class="price">9.9$</span>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="img/products/sample27.jpg" alt="Product1"></a></td>
                                        <td class="product-info">
                                            <p><a href="#">World of Warcraft®</a></p>
                                            <span class="price">19.99$</span>
                                        </td>
                                    </tr>
                                                        
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="img/products/sample16.jpg" alt="Product1"></a></td>
                                        <td class="product-info">
                                            <p><a href="#">PAYDAY 2</a></p>
                                            <div class="rating readonly-rating" data-score="4"></div>
                                            <span class="price">19.99$</span>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- /Bestsellers -->
                    
                    
                    <!-- Tag Cloud -->
                    <div class="row sidebar-box green">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="sidebar-box-heading">
                                <i class="icons icon-tag-6"></i>
                                <h4>Tags Cloud</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                                <a href="#" class="tag-item">steam</a>
                                <a href="#" class="tag-item">action</a>
                                <a href="#" class="tag-item">fps</a>
                                <a href="#" class="tag-item">strategy</a>
                                <a href="#" class="tag-item">nexon</a>
                            </div>
                                
                        </div>
                        
                    </div>
                    <!-- /Tag Cloud -->
                </aside>
                <!-- /Sidebar -->
                
            </div>
            <!-- /Content -->
            <% include ./partials/footer.ejs %>
            
        </div>
        <!-- Container -->
        
        
        
<% include ./partials/footer.ejs %>

        
    </body>
    
</html>