<!DOCTYPE html>
<html>
    <head>
    <title><%= title%></title>
        <% include ./partials/head.ejs %>
    </head>

    <body>
		<!-- Container -->
        <div class="container">
		  <% var csrfToken= _csrfToken; 
            var username; 
            if(user != undefined) username = user.local.username;
            var mycompare = compare;
            var mycart = cart; %>
            <% include ./partials/header.ejs %>

            <!-- Content -->
            <div class="row content">
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumbs">
                        <p><a href="/">Trang chủ</a> <i class="icons icon-right-dir"></i>  Terms &amp; Conditions</p>
                    </div>
                </div>
                
                <!-- Main Content -->
                <section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading no-margin">
                                <h4>Điều khoản dịch vụ</h4>
                            </div>
                            
                            <div class="page-content">
                                <p>
                                <strong>A/ CAM KẾT DỊCH VỤ:</strong><br>

                                Chúng tôi cam kết tất cả các sản phẩm bán ra đều chính hãng từ các nhà cung cấp như Steam, Nexon, Battle.net v.v.

                                Tất cả các sản phẩm bán ra đều hợp pháp với pháp luật Việt Nam

                                Cam kết hỗ trợ khách hàng sau khi mua sản phẩm<br><br>

                                <strong>B/ QUI ĐỊNH HÀNG HÓA </strong><br>

                                Tất cả các sản phẩm bán ra đều là hàng chính hãng từ các nhà cung cấp Steam, Nexon, Battle.net v.v.

                                Tất cả các sản phẩm phần mềm đều kích hoạt vĩnh viễn.

                                Hỗ trợ đổi mới hoặc hoàn lại tiền với bất kì sản phẩm nào gặp lỗi<br><br>

                                <strong>C/ QUI ĐỊNH CHUYỂN GIAO HÀNG HÓA :</strong><br>

                                Sau khi quý khách đặt hàng tại figaro team . Sản phẩm  sẽ được gửi đến địa chỉ email của quý khách (Đổi với cả sản phẩm trực tuyến) và giao hàng tận nơi đối với các sản phẩm vật lý<br><br>

                                <strong>D/ CHÍNH SÁCH BẢO HÀNH :</strong><br>

                                Bảo hành trọn đời với mọi phần mềm.

                                Cam kết đổi mới hoặc hoàn lại tiền nếu sản phẩm gặp lỗi.<br><br>

                                <strong>E/ PHƯƠNG THỨC THANH TOÁN:</strong><br>

                                Chúng tôi chấp nhận các hình thức thanh toán như :<br>

                                - Paypal , Visa, Master card, American Express, Dicover network

 
                                <p>
                            </div>
                            
                        </div>
                          
                    </div>
                    
                </section>
                <!-- /Main Content -->
            </div>
            <!-- /Content -->
    <% include ./partials/footer.ejs %>
    </div>

    <% include ./partials/script.ejs %>
  </body>
</html>