@font-face {
	font-family:'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular.ttf') format('truetype'),
	url('../fonts/Montserrat-Regular.svg#assets/fonts/Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Light.ttf') format('truetype'),
	url('../fonts/Montserrat-Light.svg#assets/fonts/Montserrat-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DIN-BoldAlternate';
	src: url('../fonts/DIN-BoldAlternate.eot');
	src: url('../fonts/DIN-BoldAlternate.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DIN-BoldAlternate.ttf') format('truetype'),
	url('../fonts/DIN-BoldAlternate.svg#assets/fonts/DIN-BoldAlternate') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat-ExtraLight';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
	url('../fonts/Montserrat-ExtraLight.svg#assets/fonts/Montserrat-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat-Thin';
	src: url('../fonts/Montserrat-Thin.eot');
	src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Thin.ttf') format('truetype'),
	url('../fonts/Montserrat-Thin.svg#assets/fonts/Montserrat-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Montserrat-Black';
	src: url('../fonts/Montserrat-Black.eot');
	src: url('../fonts/Montserrat-Blackeot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Black.ttf') format('truetype'),
	url('../fonts/Montserrat-Black.svg#assets/fonts/Montserrat-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}

$primary-color: #223264;


$bigspeech: url(../images/speechbubble.png);
$smallspeech: url(../images/speechsquare.png);

html , body {
	height: 100% !important;
	overflow: hidden !important;
	position: relative;
	background-color: $primary-color;
}

.main-content {
	height: 100% !important;
	overflow: hidden !important;
	position: relative;
}

.logo {
	padding-top: 10px;
	padding-left: 10px;
}

.footer {
	padding-left: 10px;
}
.main-content {
	height: 100%;
}

#logosmall {
	display: none;
}


#group {
	padding-top: 100px;
}
#content {
	transition: all .3s;
}

#content.faded {
	opacity: 0;
	visibility: hidden;
}

#content p {
	color: white;
}

#content > h1 {
	font-family: 'Montserrat-Black';
	font-size: 45px;
	text-align: right;
	color: white;
}

#content > h2 {
	font-family: 'Montserrat-Thin';
	font-size: 40px;
	color: white;
}

#content > #pophere {
	margin-top: 40px;
}
#content > #pophere >h3 {

	font-size: 30px;
	font-family: 'Montserrat-ExtraLight';

	margin: 0;

	text-align: right;
	color: yellow;
}


.bigger {
	font-size: 150%;
}

#emailregis input {
	width: 75%;
	font-family: 'Montserrat-ExtraLight';
	font-size: 20px;
	float: left;
	vertical-align: middle;
}


#emailregis input:focus {
	outline: none;
}

/*#emailregis button {
	font-family: 'Montserrat-Regular';
	font-size: 20px;
	height: 39px;
	float: left;
	width: 25%;
	margin-left: -2px;
}
*/
#emailregis input#mce-EMAIL.email {
	padding-left: 10px;
	width: 70%;
	font-family: 'Montserrat-ExtraLight';
	font-size: 20px;
	float: left;
	vertical-align: middle;
	border:none;
	box-sizing: border-box;

}

#emailregis input#mce-EMAIL.email:focus {
 outline: none;
}


#emailregis input#mc-embedded-subscribe {

	cursor:pointer; background-color: yellow; border: none;
}

#emailregis input#mc-embedded-subscribe.button {

	font-family: 'Montserrat-Regular';
	font-size: 20px;
	height: 39px;
	float: right;
	width: 30%;
	margin-left: -2px;
	text-align: center;
}




.form:after {
	content:'';
	clear:both;
	display:table;
}


#mc_embed_signup:after {
	content:'';
	clear:both;
	display:table;
}



.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

}
.footer p {
	font-family: 'Montserrat-Regular';
	font-size: 20px;
	color: white;

}

.wrapper {
	position: absolute;
	top: 10%;
	right: 10%;
	white-space: nowrap;
}

#bottlegif {
	/*position: absolute;
	right: 10.2%;
	top: 59.5%;*/
}

#bottlegif img {
	width: 280px;
	height: auto;
}
/*

#box {
	right: 15%;
	position: absolute;
	top: 10%;
}*/

@import 'mixin';

#box{

	@include border-radius(15px);
	@include transform(0deg);
	@include transform-origin(50%, 90%);
	transition: all .2s ease-in;
	padding-left: 80px;
  margin-bottom: -68px;
}

#box img {
	width: 115px;
}

#box.opener {
	@include transformtranslate (15deg,0px,-80px) ;
}



#speech{
	z-index: 9999;
	display:none;
	position: absolute;
	top: 0;
	right: -50px;
	float: right; background-image: url(../images/speechbubble.png); background-repeat: no-repeat;
	width: 656px;
	height: 468px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#speech h2 {
	font-family: 'Montserrat-Thin';
}

#emailregis{
	width: 50%; margin: 0 auto; padding-top: 20%;
}


#pophere {
	white-space: nowrap;
}


#group {
	position: relative;
	display: inline-block;

}

#bottle{
	display: inline-block;
	vertical-align: top;
	pointer-events: none;
}

.footer {
	pointer-events: none;
}


@import "style";
