@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#assets/fonts/Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#assets/fonts/Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN-BoldAlternate';
  src: url("../fonts/DIN-BoldAlternate.eot");
  src: url("../fonts/DIN-BoldAlternate.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-BoldAlternate.ttf") format("truetype"), url("../fonts/DIN-BoldAlternate.svg#assets/fonts/DIN-BoldAlternate") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#assets/fonts/Montserrat-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.ttf") format("truetype"), url("../fonts/Montserrat-Thin.svg#assets/fonts/Montserrat-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Blackeot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#assets/fonts/Montserrat-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100% !important;
  overflow: hidden !important;
  position: relative;
  background-color: #223264; }

.main-content {
  height: 100% !important;
  overflow: hidden !important;
  position: relative; }

.logo {
  padding-top: 10px;
  padding-left: 10px; }

.footer {
  padding-left: 10px; }

.main-content {
  height: 100%; }

#logosmall {
  display: none; }

#group {
  padding-top: 100px; }

#content {
  transition: all .3s; }

#content.faded {
  opacity: 0;
  visibility: hidden; }

#content p {
  color: white; }

#content > h1 {
  font-family: 'Montserrat-Black';
  font-size: 45px;
  text-align: right;
  color: white; }

#content > h2 {
  font-family: 'Montserrat-Thin';
  font-size: 40px;
  color: white; }

#content > #pophere {
  margin-top: 40px; }

#content > #pophere > h3 {
  font-size: 30px;
  font-family: 'Montserrat-ExtraLight';
  margin: 0;
  text-align: right;
  color: yellow; }

.bigger {
  font-size: 150%; }

#emailregis input {
  width: 75%;
  font-family: 'Montserrat-ExtraLight';
  font-size: 20px;
  float: left;
  vertical-align: middle; }

#emailregis input:focus {
  outline: none; }

/*#emailregis button {
	font-family: 'Montserrat-Regular';
	font-size: 20px;
	height: 39px;
	float: left;
	width: 25%;
	margin-left: -2px;
}
*/
#emailregis input#mce-EMAIL.email {
  padding-left: 10px;
  width: 70%;
  font-family: 'Montserrat-ExtraLight';
  font-size: 20px;
  float: left;
  vertical-align: middle;
  border: none;
  box-sizing: border-box; }

#emailregis input#mce-EMAIL.email:focus {
  outline: none; }

#emailregis input#mc-embedded-subscribe {
  cursor: pointer;
  background-color: yellow;
  border: none; }

#emailregis input#mc-embedded-subscribe.button {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  height: 39px;
  float: right;
  width: 30%;
  margin-left: -2px;
  text-align: center; }

.form:after {
  content: '';
  clear: both;
  display: table; }

#mc_embed_signup:after {
  content: '';
  clear: both;
  display: table; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

.footer p {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  color: white; }

.wrapper {
  position: absolute;
  top: 10%;
  right: 10%;
  white-space: nowrap; }

#bottlegif {
  /*position: absolute;
  right: 10.2%;
  top: 59.5%;*/ }

#bottlegif img {
  width: 280px;
  height: auto; }

/*

#box {
	right: 15%;
	position: absolute;
	top: 10%;
}*/
#box {
  border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform-origin: 50% 90%;
  -ms-transform-origin: 50% 90%;
  -webkit-transform-origin: 50% 90%;
  -o-transform-origin: 50% 90%;
  -moz-transform-origin: 50% 90%;
  transition: all .2s ease-in;
  padding-left: 80px;
  margin-bottom: -68px; }

#box img {
  width: 115px; }

#box.opener {
  transform: rotate(15deg) translate(0px, -80px);
  -ms-transform: rotate(15deg) translate(0px, -80px);
  -webkit-transform: rotate(15deg) translate(0px, -80px);
  -o-transform: rotate(15deg) translate(0px, -80px);
  -moz-transform: rotate(15deg) translate(0px, -80px); }

#speech {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 0;
  right: -50px;
  float: right;
  background-image: url(../images/speechbubble.png);
  background-repeat: no-repeat;
  width: 656px;
  height: 468px;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#speech h2 {
  font-family: 'Montserrat-Thin'; }

#emailregis {
  width: 50%;
  margin: 0 auto;
  padding-top: 20%; }

#pophere {
  white-space: nowrap; }

#group {
  position: relative;
  display: inline-block; }

#bottle {
  display: inline-block;
  vertical-align: top;
  pointer-events: none; }

.footer {
  pointer-events: none; }

@media (max-width: 1300px) {
  #speech {
    right: -60px;
    width: 656px;
    height: 468px; } }
@media (max-width: 1200px) {
  #speech {
    width: 656px;
    height: 468px; } }
@media (max-width: 768px) {
  #logosmall {
    display: block; }

  #logobig {
    display: none; }

  body {
    position: relative; }

  .footer p {
    font-size: 16px; }

  #content > h1 {
    font-size: 40px; }

  #content > h2 {
    font-size: 35px; }

  #content > #pophere > h3 {
    font-size: 30px; }

  .wrapper {
    right: -5%; }

  #speech {
    height: 374px;
    width: 524px;
    left: 50%;
    top: 50px;
    right: auto;
    transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    -moz-transform: translateX(-70%); }

  #emailregis {
    width: 58%; }

  .main-content .wrapper {
    padding-right: 35px; }

  #emailregis {
    padding-top: 18%; }

  #emailregis input#mce-EMAIL.email {
    font-size: 20px;
    width: 70%; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 20px;
    width: 30%; } }
@media (max-width: 550px) {
  .footer p {
    font-size: 10px; }

  #content {
    padding-right: 0px; }

  #content > h1 {
    font-size: 33px; }

  #content > h2 {
    font-size: 28px; }

  #content > #pophere > h3 {
    font-size: 25px; }

  #speech {
    background-image: url(../images/speechsquare.png);
    background-size: 100% 100%; }

  #speech {
    height: 400px;
    width: 400px;
    top: 18%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }

  #emailregis {
    width: 75%; }

  #emailregis input {
    height: 39px;
    vertical-align: middle;
    font-size: 15px;
    width: 75%; }

  #emailregis button {
    vertical-align: middle;
    font-size: 15px;
    width: 25%; } }
@media (max-width: 416px) {
  #group {
    right: 60%; }

  #content > h1 {
    font-size: 30px; }

  #content > h2 {
    font-size: 25px; }

  #content > #pophere > h3 {
    font-size: 20px; }

  .wrapper {
    right: -60px; }

  #group {
    position: static;
    margin-right: -50px; }

  #block {
    padding-top: 2px; }

  #speech {
    background-image: url(../images/speechsquare.png);
    background-size: 100% 100%; }

  #speech {
    position: fixed;
    height: 300px;
    width: 300px;
    top: 18%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }

  #emailregis input#mce-EMAIL.email {
    font-size: 15px;
    width: 70%; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 15px;
    width: 30%; }

  .footer p {
    font-size: 9px; } }
@media (min-width: 768px) and (max-width: 900px) {
  #bottle {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    top: 8%; } }
@media (max-width: 320px) {
  #bottle {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0; }

  .main-content .wrapper {
    padding-right: 0px; }

  #emailregis input#mce-EMAIL.email {
    font-size: 12px; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 12	px; } }
@media (max-height: 400px) {
  .wrapper {
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0; } }

/*# sourceMappingURL=main.css.map */
