@mixin transform ($degree){

  transform:rotate($degree);
	-ms-transform:rotate($degree);
	-webkit-transform:rotate($degree);
	-o-transform:rotate($degree);
	-moz-transform:rotate($degree);
}

@mixin transformscale ($scale){
  transform: scale($scale);
  -ms-transform:scale($scale);
  -webkit-transform:scale($scale);
  -o-transform:scale($scale);
  -moz-transform:scale($scale);
}


@mixin transformX ($xpercent){

  transform:translateX($xpercent);
	-ms-transform:translateX($xpercent);
	-webkit-transform:translateX($xpercent);
	-o-transform:translateX($xpercent);
	-moz-transform:translateX($xpercent);
}


@mixin transformY ($ypercent){

  transform:transformY($ypercent);
	-ms-transform:transformY($ypercent);
	-webkit-transform:transformY($ypercent);
	-o-transform:transformY($ypercent);
	-moz-transform:transformY($ypercent);
}

@mixin transform-origin ($xpercent ,  $ypercent){
  transform-origin: $xpercent $ypercent;
  -ms-transform-origin:$xpercent $ypercent;
  -webkit-transform-origin:$xpercent $ypercent;
  -o-transform-origin:$xpercent $ypercent;
  -moz-transform-origin:$xpercent $ypercent;
}

@mixin border-radius ($radius){
  border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin translateX ($X) {
  transform: translateX($X);
  -ms-transform:translateX($X);
  -webkit-transform:translateX($X);
  -o-transform:translateX($X);
  -moz-transform:translateX($X);
}

@mixin translateY ($Y) {
  transform: translateY($Y);
  -ms-transform:translateY($Y);
  -webkit-transform:translateY($Y);
  -o-transform:translateY($Y);
  -moz-transform:translateY($Y);
}

@mixin transformtranslate ( $degree, $xpixel ,  $ypixel) {
  transform:rotate($degree) translate($xpixel, $ypixel);
  -ms-transform:rotate($degree) translate($xpixel, $ypixel);
  -webkit-transform:rotate($degree) translate($xpixel, $ypixel);
  -o-transform:rotate($degree) translate($xpixel, $ypixel);
  -moz-transform:rotate($degree) translate($xpixel, $ypixel);
}
