@media (max-width: 1300px) {
  #speech {
    right: -60px;
    width: 656px;
    height: 468px; } }
@media (max-width: 1200px) {
  #speech {
    width: 656px;
    height: 468px; } }
@media (max-width: 768px) {
  #logosmall {
    display: block; }

  #logobig {
    display: none; }

  body {
    position: relative; }

  .footer p {
    font-size: 16px; }

  #content > h1 {
    font-size: 40px; }

  #content > h2 {
    font-size: 35px; }

  #content > #pophere > h3 {
    font-size: 30px; }

  .wrapper {
    right: -5%; }

  #speech {
    height: 374px;
    width: 524px;
    left: 50%;
    top: 50px;
    right: auto;
    transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    -moz-transform: translateX(-70%); }

  #emailregis {
    width: 58%; }

  .main-content .wrapper {
    padding-right: 35px; }

  #emailregis {
    padding-top: 18%; }

  #emailregis input#mce-EMAIL.email {
    font-size: 20px;
    width: 70%; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 20px;
    width: 30%; } }
@media (max-width: 550px) {
  .footer p {
    font-size: 10px; }

  #content {
    padding-right: 0px; }

  #content > h1 {
    font-size: 33px; }

  #content > h2 {
    font-size: 28px; }

  #content > #pophere > h3 {
    font-size: 25px; }

  #speech {
    background-image: url(../images/speechsquare.png);
    background-size: 100% 100%; }

  #speech {
    height: 400px;
    width: 400px;
    top: 18%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }

  #emailregis {
    width: 75%; }

  #emailregis input {
    height: 39px;
    vertical-align: middle;
    font-size: 15px;
    width: 75%; }

  #emailregis button {
    vertical-align: middle;
    font-size: 15px;
    width: 25%; } }
@media (max-width: 416px) {
  #group {
    right: 60%; }

  #content > h1 {
    font-size: 30px; }

  #content > h2 {
    font-size: 25px; }

  #content > #pophere > h3 {
    font-size: 20px; }

  .wrapper {
    right: -60px; }

  #group {
    position: static;
    margin-right: -50px; }

  #block {
    padding-top: 2px; }

  #speech {
    background-image: url(../images/speechsquare.png);
    background-size: 100% 100%; }

  #speech {
    position: fixed;
    height: 300px;
    width: 300px;
    top: 18%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }

  #emailregis input#mce-EMAIL.email {
    font-size: 15px;
    width: 70%; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 15px;
    width: 30%; }

  .footer p {
    font-size: 9px; } }
@media (min-width: 768px) and (max-width: 900px) {
  #bottle {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    top: 8%; } }
@media (max-width: 320px) {
  #bottle {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0; }

  .main-content .wrapper {
    padding-right: 0px; }

  #emailregis input#mce-EMAIL.email {
    font-size: 12px; }

  #emailregis input#mc-embedded-subscribe.button {
    font-size: 12	px; } }
@media (max-height: 400px) {
  .wrapper {
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0; } }

/*# sourceMappingURL=style.css.map */
