
@import 'mixin';

@media (max-width: 1300px){
	#speech {
		right: -60px;
		width: 656px;
		height: 468px;
	}

}



@media (max-width: 1200px){
	#speech {
		width: 656px;
		height: 468px;
	}

}
@media (max-width: 768px){

	#logosmall {
		display: block;
	}

	#logobig {
		display: none;
	}

	html, body {

	}
	body {
		position: relative
	}

	.footer p {
		font-size: 16px;
	}



	#content > h1 {
		font-size: 40px;
	}

	#content > h2 {
		font-size: 35px;
	}

	#content > #pophere >h3 {

		font-size: 30px;
	}

	.wrapper {
		right: -5%;
	}

	#speech {
		height: 374px;
		width: 524px;
		left: 50%;
		top: 50px;
		right: auto;

		@include translateX(-70%);
	}

	#emailregis{
		width: 58%;
	}



	.main-content .wrapper {
		padding-right: 35px;
	}

	#emailregis {
		padding-top: 18%;
	}

	#emailregis input#mce-EMAIL.email {
		font-size: 20px;
		width: 70%;
	}
	#emailregis input#mc-embedded-subscribe.button {
		font-size: 20px;
		width: 30%;
	}
}
@media (max-width: 550px){


	.footer p {
		font-size: 10px;
	}




	#content {
		padding-right: 0px;
	}
	#content > h1 {
		font-size: 33px;
	}

	#content > h2 {
		font-size: 28px;
	}

	#content > #pophere >h3 {

		font-size: 25px;
	}
	#speech
	{
		background-image: url(../images/speechsquare.png);
		background-size: 100% 100%;
	}
	#speech {
		height: 400px;
		width: 400px;
		top: 18%;
		left: 50%;
		right: auto;

		@include transformX(-50%);
	}

	#emailregis{
		width: 75%;
	}

	#emailregis input{
		height: 39px;
		vertical-align: middle;
		font-size: 15px;
		width: 75%;
	}

	#emailregis button{
		vertical-align: middle;
		font-size: 15px;
		width: 25%;
	}

}

@media (max-width: 416px){

	#group {
		right: 60%;
	}

	#content > h1 {
		font-size: 30px;
	}

	#content > h2 {
		font-size: 25px;
	}

	#content > #pophere >h3 {

		font-size: 20px;
	}



	.wrapper {

		right: -60px;
	}

	#group{
		position: static;
		margin-right: -50px;
	}
	#block {
		padding-top: 2px;
	}

	#speech
	{

		background-image: url(../images/speechsquare.png);
		background-size: 100% 100%;
	}
	#speech {
		position: fixed;
		height: 300px;
		width: 300px;
		top: 18%;
		left: 50%;
		right: auto;
		@include translateX(-50%);
	}

	#emailregis input#mce-EMAIL.email {
		font-size: 15px;
		width: 70%;
	}
	#emailregis input#mc-embedded-subscribe.button {
		font-size: 15px;
		width: 30%;
	}

	.footer p{
		font-size: 9px;
	}

}

@media (min-width: 768px) and (max-width: 900px) {
	#bottle {

		@include transformscale(1.1);
		@include transform-origin (100%,0);

    	top: 8%;
	}
}

@media (max-width: 320px) {
	#bottle {

		@include transformscale(0.8);
		@include transform-origin(100%,0);


	}
	.main-content .wrapper {
		padding-right: 0px;
	}

	#emailregis input#mce-EMAIL.email {
		font-size: 12px;

	}
	#emailregis input#mc-embedded-subscribe.button {
		font-size: 12	px;
	}
}


@media (max-height: 400px){
	.wrapper {
		@include transformscale(0.5);
		@include transform-origin(100%,0);
	}
}
