
h1 {
	font-size: 100px;
}
.item{
	margin: 0 auto;
	width: 400px;
	height: 1800px;
	background-color: black;
	border: 2px;
	border-radius: 20px;
}

.id{
	background-color: #f5a623;
	height: 200px;
	text-align: center;
}

.id > h1 {
	padding-top: 40px;
}

.id >p {
}


.mainimg {
	height: 400px;
	background-image: url("http://i.imgur.com/2B1pcxW.png");
}



/*.smallimg {
	float:left;
	height: 200px;
	width: 50%;
	background-image: url("http://i.imgur.com/2B1pcxW.png");
}*/


.brand {
	height: 200px;
	width: 200px;
}