@font-face {
	font-family:'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.svg#assets/fonts/Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.ttf') format('truetype'),
		url('../fonts/Montserrat-Light.svg#assets/fonts/Montserrat-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DIN-BoldAlternate';
	src: url('../fonts/DIN-BoldAlternate.eot');
	src: url('../fonts/DIN-BoldAlternate.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DIN-BoldAlternate.woff2') format('woff2'),
		url('../fonts/DIN-BoldAlternate.woff') format('woff'),
		url('../fonts/DIN-BoldAlternate.ttf') format('truetype'),
		url('../fonts/DIN-BoldAlternate.svg#assets/fonts/DIN-BoldAlternate') format('svg');
	font-weight: normal;
	font-style: normal;
}

.yellow-block {
	width:  100%;
	height:  20px;
	background-color: #ffc845;
}
.main {
	max-width: 1280px;
	margin:  auto;
	font-family: "Montserrat-Light";

}
#header {
	padding:  10px 24px;
	border-bottom: 2px solid #bdbdbd;
}
#header .logo {
	display: inline-block;
}
#header .search-bar {
	float: right;
	font-family: "Montserrat-Light";
	font-size: 12px;
	line-height: 16px;
	color:  #4a4a4a;
	position: relative;
	padding-top: 15px;
}
/* #header .search-bar:before {
	display: block;
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color:#4a4a4a ;
	position: absolute;
	top: 0px;
	left: 0px;
} */

#header .search-bar input {
	border: none;
	font-family: "Montserrat-Light";
	font-size: 10px;
	line-height: 12px;
	color: #bdbdbd;
}
#header .search-bar input:hover,#header .search-bar input:focus {
	border:  none;
	outline: none;
}

#header .search-bar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	font-family: "Montserrat-Light";
	font-size: 10px;
	line-height: 12px;
	color: #bdbdbd;
}
#header .search-bar input:-moz-placeholder { /* Firefox 19+ */
  	font-family: "Montserrat-Light";
	font-size: 10px;
	line-height: 12px;
	color: #bdbdbd;
}
#header .search-bar input:-ms-input-placeholder { /* IE 10+ */
 	 font-family: "Montserrat-Light";
	font-size: 10px;
	line-height: 12px;
	color: #bdbdbd;
}
#header .search-bar input:-moz-placeholder { /* Firefox 18- */
  	font-family: "Montserrat-Light";
	font-size: 10px;
	line-height: 12px;
	color: #bdbdbd;
}
.greenArrow {
	position: absolute;
	top: -30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 999;
	display: none;
}

.main-content .bx-viewport {
	padding: 50px 0;
}
.main-content {
	padding:  65px 80px 65px;
	box-sizing: border-box;
		background-color: #0c1436;

}
.main-content .wrapper .item .number {
	padding:  10px 23px 14px;
	background-color: #f6a623;
	border-radius: 15px 15px 0 0;
	text-align: center;
}
.main-content .wrapper .item:hover .greenArrow {
	display: block;
}
.main-content .wrapper .item {
	border: 5px solid transparent;
}
.main-content .wrapper .item:hover {
	border: 5px solid #01d890;
	border-radius: 20px;
}
.main-content .wrapper .item .number p {
	margin: 15px 0 0;
}
.main-content .wrapper .item .number .stt {
	font-size: 50px;
	line-height: 50px;
	font-family:'Montserrat-Regular';
	color: #000;
	padding-right: 10px;
}
.main-content .wrapper .item .number .date {
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	font-family:'Montserrat-Regular';
	color: #000;
}
 
 .main-content .wrapper .item .total-bottle p {
 	font-weight: bold;
 }
.main-content .wrapper .item .total-bottle p img  {
	margin-bottom: -3px;
	padding-left: 10px;
}
.main-content .wrapper .item .number .address-open a{
	font-size: 20px;
	line-height: 22px;
	font-family:'Montserrat-Regular';
	color: #fff;
	text-decoration: underline;
}
.main-content .wrapper .item .bottle-lid img {
	width: 100%;
}
.main-content .wrapper .item .bottle-lid {
	position: relative;
	max-height: 400px;
}

.clearfix:before{
	display: table;
	content: "";
}
.clearfix:after{
	display: table;
	content: "";
	clear: both;
}
.main-content .wrapper .item .bottle-lid-small:before{
	display: table;
	content: "";
}
.main-content .wrapper .item .bottle-lid-small:after{
	display: table;
	content: "";
	clear: both;
}
.main-content .wrapper .item .bottle-lid-small .small-bottle{
	float: left;
	width: 50%;
	}
.main-content .wrapper .item {
	width: 18%;
	float: left;
	margin: 0.5%;
	position: relative;
	margin-bottom: 50px;
}
.main-content .wrapper .item .bottle-lid-small .small-bottle img{
	width: 100%;
}

.main-content .wrapper .item .bottle-lid  .open-info{
	position: absolute;
	bottom: 10px;	
	right: 10px;
	text-align: right;
	font-size: 10px;
	line-height: 15px;
	color: #fff;
	font-family:'Montserrat-Regular';
}
.main-content .wrapper .item .total-bottle p,
.main-content .wrapper .item .total-bottle h3 {
	margin:  0px;
}
.main-content .wrapper .item .total-bottle {
	padding: 25px 23px 5px;
	background-color: #f8e81c;
	text-align: center;
}
.main-content .wrapper .item .total-bottle h3 {
	font-size: 80px;
	line-height: 100px;
	color: #000;
	font-family: "Montserrat-Regular";
	font-weight: bold;
}

.main-content .wrapper .item .total-bottle p {
	font-size: 10px;
	line-height: 20px;
	color: #000;
	font-family: "Montserrat-Regular";
}
.main-content .wrapper .item .list-beer-brand ul {
	padding: 20px;
	margin: 0px;
}

.main-content .wrapper .item .list-beer-brand ul li {
	list-style: none;
	position: relative;
	padding:  2px 0;
}
.main-content .wrapper .item .list-beer-brand ul li .percentage {
	display: inline-block;
	 position: relative;
	 text-align: center;
	 width: 44px;
}
.main-content .wrapper .item .list-beer-brand {
	background-color: #f8f8f8;
	border-radius: 0 0 15px 15px;
}
.main-content .wrapper .item .list-beer-brand ul li .percentage:before {
	display: block;
	width: 40px;
	height: 40px;
	content: "";
	position: absolute;

	border: 1.5px solid #000;
	border-radius: 100px;
}
.main-content .wrapper .item .list-beer-brand ul li .beer-brand {
	position: absolute;
	width: 100%;
	top:  50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0px;
	padding-left: 50px;
	text-align: center;
	box-sizing: border-box;
}
.main-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
	display: inline-block;
	padding: 25px;
}

.main-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item  a{
	text-decoration: none;
	color: white;


}
.main-content .bx-wrapper .bx-controls {
	position: relative;
}
.main-content .bx-wrapper .bx-controls .bx-pager {
	text-align: right;
	padding-right: 50px;
}
.main-content .bx-wrapper .bx-controls .bx-controls-direction a {
	position: relative;
}
.main-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before{
	color: white;
	content: "\f137";
}
.main-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before{
	color: white;
	content: "\f138";
}
.main-content .bx-wrapper .bx-controls .bx-controls-direction a:before{
	position: absolute;
	top: -8px;
	left:  0px;
	display: inline-block;
	font-size: 16px;
	height: 20px;
	font-family: FontAwesome;
	color: #000;
}

.main-content .bx-wrapper .bx-controls .bx-controls-direction {
	position: absolute;
	top:  50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-content .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
	float:  right;
}
@media (max-width: 1200px){
	.main-content {
	    padding: 65px 24px 65px;
	    box-sizing: border-box;
	}
	.main-content .wrapper .item {
	    width: 30%;
	}
	.main-content .wrapper .item .bottle-lid {
	    position: relative;
	    max-height: inherit;
	}
}
@media (max-width: 768px){ 
		.main-content .wrapper .item {
	    width: 47%;
	}
}
@media (max-width: 550px){ 
	.main-content .wrapper .item {
	    width: 100%;
	    margin: 0px 0 50px;
	}
	#header .search-bar {
	    float: none;
	}
}
