/* header social links */
header .social1 {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social1 li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social1 li a { color: #fff; }
header .social1 li a:hover { color: #11ABB0; }

/* social links */
footer .social1-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social1-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}