
/* ========================= */
/*       GLOBAL STYLES       */
/* ========================= */


html, body{
	overflow-x:hidden;
}

body{
	background:#7fcae8 url('../img/background.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font: 300 16px 'Roboto', Helvetica, Arial, sans-serif;
	line-height:21px;
	color:#596067;
}

.container{
	background: #656d6f; /* Old browsers */
	background: -moz-linear-gradient(top, #656d6f 82%, #dde3e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(82%,#656d6f), color-stop(100%,#dde3e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #656d6f 82%,#dde3e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #656d6f 82%,#dde3e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #656d6f 82%,#dde3e6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #656d6f 82%,#dde3e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656d6f', endColorstr='#dde3e6',GradientType=0 ); /* IE6-9 */
}

img{
	max-width:100%;
}

.align-center{
	text-align:center;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.align-right>small{
	text-align:right;
}

img.align-left{
	float:left;
	margin:10px 20px 10px 0;	
}

img.align-right{
	float:right;
	margin:10px 0 10px 20px;	
}

.no-padding{
	padding:0!important;	
}

.no-margin{
	margin:0!important;	
}

.col-lg-fifth{
	width:20%;
	padding:0 15px;
	float:left;
}

iframe{
	border:none;
}



/* ==================================== */
/*              TYPOGRAPHY              */
/* ==================================== */


h1{
	font-size:28px;
	font-weight:300;
}

h2{
	font-size:24px;
	font-weight:300;
}

h3{
	font-size:20px;
	font-weight:300;
}

h4{
	font-size:18px;
	font-weight:300;
}

h5{
	font-size:16px;
	font-weight:300;
}

h6{
	font-size:14px;
	font-weight:300;
}

a{
	color:#1f2228;
	transition:color 0.1s, background 0.2s;
	-webkit-transition:color 0.1s, background 0.2s;
	-moz-transition:color 0.1s, background 0.2s;
	-ms-transition:color 0.1s, background 0.2s;
	-o-transition:color 0.1s, background 0.2s;
}

a:hover{
	color:#3498db;
	text-decoration:none;
}

a:active{
	text-decoration:none;
}

span.green{
	color:#2ecc71;
}

span.red, span.error{
	color:#e74c3c;
}







/* ==================================== */
/*                HEADER                */
/* ==================================== */




/* Top Header */

#top-header{
	background:#fff;
}

#top-header.style2, #top-header.style4, #top-header.style5{
	background:transparent;	
}

#top-header ul{
	list-style:none;
	margin:0;
	padding:5px 10px 8px;
}

#top-header.style2 ul, #top-header.style4 ul, #top-header.style5 ul{
	padding:5px 0;	
}


#top-header li{
	float:left;
	padding:0 10px;
	position:relative;
}

#top-header li:last-child{
	padding-right:0;	
}

#top-header #top-navigation li:after{
	content: '';
    display: block;
	height:10px;
	position:absolute;
	top:7px;
	right:0;
	border-right:1px solid #bdc3c7;
}

#top-header #top-navigation li:last-child:after{
	display:none;
	border:none;
}

#top-header li a{
	color:#1f2228;
	font-size:13px;
	font-weight:300;
	background:transparent!important;
}

#top-header li a:hover{
	color:#3498db;
}

#top-header .icons{
	color:#bdc3c7;	
}

#top-header li.purple:hover>a, #top-header li.purple:hover>a .icons{
	color:#9b59b6;	
}

li.purple:hover .box-dropdown .box-wrapper{
	border-color:#9b59b6;	
}

li.purple .box-dropdown:after{
	border-bottom:10px solid #9b59b6;
}

#top-header a.flag>span{
	display:inline-block;
	margin-right:5px;	
}


/* Login Dropdown */

#top-header li:hover ul{
	display:block;	
	width:auto;
	height:auto;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	top:100%;
}

.box-dropdown{
	position:absolute;
	z-index:5000;
	right:0;
	line-height:20px;
	top:200%;
	padding-top:13px !important;
	z-inex:9999;
	overflow:hidden;
	width:0;
	height:0;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.box-dropdown .box-wrapper{
	border-top:3px solid #34495e;
	background:#fff;
	overflow:hidden;
	display:block;
	position:relative;
	padding:10px 15px 15px;
}

.box-dropdown:after{
	content:'';
	width:10px;
	height:10px;
	display:block;
	border-bottom:10px solid #34495e;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	position:absolute;
	right:30px;
	top:5px;
}

.box-dropdown input[type="text"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}
.box-dropdown input[type="password"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}
.box-dropdown .footer{
	height:70px;
}

.box-dropdown .footer h4{
	margin:10px 0 0;	
}

.box-dropdown a.button{
	display:inline-block;
	vertical-align:middle;
	background:#34495e;
	font-size:14px !important;
	text-transform:uppercase;
	padding:10px 20px;
	color:#fff!important;	
	margin-left:2px;
}

.box-dropdown a{
	font-weight:300;
	font-size:14px;
}

#login-dropdown a.button{
	background:#34495e!important;
}

#login-dropdown a.button:hover{
	background:#2c3e50!important;
}

#login-dropdown .pull-right{
	text-align:right;
}

#login-dropdown .pull-right>a{
	text-align:right;
}

.iconic-input{
	position:relative;	
	margin-bottom:15px;
	width:100%;
}

.box-dropdown h4{
	margin:20px 0;
}

.box-dropdown .iconic-input{
	width:350px;	
}

.iconic-input input[type="text"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}

.iconic-input input[type="password"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}
.iconic-input .icons{
	position:absolute;
	color:#7a8188!important;
	z-inex:9999;
	left:auto!important;
	top:10px!important;
	right:10px!important;
}

.box-dropdown p{
	font-size:13px;	
}

.box-dropdown label{
	padding-left:10px;
	font-size:14px;	
}
.box-dropdown .footer{
	background:#f7f7f7;
	display:block;	
	padding:15px;
	overflow:hidden;
}






/* Main Header */

#logo{
                   margin-top:-30px;
	padding-left:30px;
}


#main-header{
	padding-top:30px;
	padding-bottom:30px;
}

#main-header.style2, #main-header.style4{
	padding-top:10px;	
}

#middle-navigation ul{
	list-style:none;
	margin:0;
	padding:0;
}

#middle-navigation li{
	float:left;
	margin-left:1px;
	position:relative;
}

#middle-navigation>ul>li>a{
	width:70px;
	height:70px;
	display:block;
	background:#34495e;
	color:#fff;
	text-align:center;
	padding:10px 0;
	font-size:13px;
}

#middle-navigation>ul>li>a:hover{
	background:#2c3e50;
}

#middle-navigation .icons{
	font-size:18px;
	display:block;
	color:#fff;
	margin-bottom:5px;
}

#middle-navigation>ul>li:hover ul{
	display:block;	
	width:auto;
	height:auto;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	top:100%;
}

#middle-navigation .box-dropdown:after{
	right:10px;
}

#middle-navigation .login-create{
	background:#fff;
	color:#7a8188;
	font-size:14px;
	height:70px;	
	position:relative;
	padding:15px;
	padding-left:50px;
}

#middle-navigation .login-create>a{
	color:#1f2228;	
}

#middle-navigation .login-create>a:hover{
	background:none;
}

#middle-navigation .login-create>p>a:hover{
	color:#9b59b6;
}


#middle-navigation .login-create .icons{
	position:absolute;
	left:15px;
	top:20px;	
	color:#9b59b6;
}

#middle-navigation .login-create p{
	margin:0;	
}

#middle-navigation a.flag>span{
	margin:5px auto 9px;
	height:12px;
	display:block;	
}

.flag span{
	width:19px;
	height:12px;
	background:url('../img/language-icons.png') no-repeat;
	margin-right:5px;
	display:block;
}


.currency-table, .language-table{
	margin:5px 0;
}

.language-table a{
	font-size:13px;	
	color:#7a8188;
}

.language-table td.flag{
	vertical-align:middle;	
	padding:2px 0 2px 8px;	
}

.language-table td.country{
	vertical-align:middle;	
	padding:2px 8px 2px 5px;	
}

.language-table tr:hover, .currency-table tr:hover{
	background:#f7f7f7;	
}

.language-table tr:hover a, .currency-table tr:hover a{
	color:#1f2228;	
}

span.english-flag{
	background-position:0 0;	
}

span.german-flag{
	background-position:-19px 0;	
}

span.french-flag{
	background-position:-38px 0;	
}

span.italian-flag{
	background-position:-57px 0;	
}

span.spanish-flag{
	background-position:-75px 0;	
}

.currency-table td{
	padding:2px 10px!important;
	white-space:nowrap;	
	font-size:13px;
}



span.light{
	color:#7a8188;		
}

span.quantity{
	font-size:13px;
	display:block;	
	margin-bottom:10px;
}

.checkout-table td{
	padding:5px;	
}

.cart-table h6{
	font-size:14px;	
	margin:0;
}

.no-border{
	border:none!important;	
}






/* ========================= */
/*        NAVIGATION         */
/* ========================= */

#main-navigation{
	position:relative;
}

#main-navigation>ul, #main-navigation>ul>li>ul, #main-navigation>ul>li>ul>li>ul, #main-navigation>ul>li>ul>li>ul>li>ul{
	list-style:none;
	margin:0;
	padding:0;
	display:table;
	width:100%;
}

#main-navigation>ul{
	table-layout:fixed;
}

#main-navigation>ul>li{
	border-right:1px solid #e2f6f9;
	display:table-cell;
	background:#34495e;
}

#main-navigation>ul>li:hover>a>.icons{
	left:0px;
}

#main-navigation>ul>li>a{
	padding:5px 20px 13px;
	background:#34495e;
	color:#fff;
	display:block;
}

#main-navigation>ul>li>a .nav-caption{
	margin-top:15px;
}

#main-navigation.style2>ul>li>a .nav-caption,
#main-navigation.style3>ul>li>a .nav-caption,
#main-navigation.style5>ul>li>a .nav-caption{
	margin-top:5px;
}

span.nav-caption{
	display:block;
	font-size:18px;
	text-transform:uppercase;
}

span.nav-description{
	display:block;
	font-size:14px;
}

#main-navigation>ul>li>a .icons{
	font-size:18px;
	display:block;
	color:#fff;
	text-align:right;
	margin-bottom:5px;
	position:relative;
	left:10px;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

#main-navigation.style1>ul>li:hover>a,
#main-navigation.style1>ul>li:hover,
#main-navigation.style1>ul>li.current-item,
#main-navigation.style1>ul>li.current-item>a{
	background:#34495e!important;
}

#main-navigation.style2>ul>li>a{
	padding:15px 20px;	
}

#main-navigation.style2>ul>li:hover>a,
#main-navigation.style2>ul>li:hover,
#main-navigation.style2>ul>li.current-item,
#main-navigation.style2>ul>li.current-item>a{
	background:#34495e!important;
}

#main-navigation.style3>ul>li>a{
	padding:15px 20px;	
	background:#34495e!important;
}

#main-navigation.style4>ul>li>a{
	background:#34495e!important;
}

#main-navigation.style3>ul>li>a:hover, #main-navigation.style3>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation.style4>ul>li>a:hover, #main-navigation.style4>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation.style5>ul>li>a{
	padding:15px 20px;	
}

#main-navigation.style5>ul>li:hover>a,
#main-navigation.style5>ul>li:hover,
#main-navigation.style5>ul>li.current-item,
#main-navigation.style5>ul>li.current-item>a{
	background:#34495e!important;
}	

#main-navigation.style6>ul>li>a{
	padding:15px 20px;	
	background:#34495e!important;
}

#main-navigation.style6>ul>li>a:hover, #main-navigation.style6>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation li ul.normal-dropdown{
	color:#fff;
	padding:1px 0 0 0;
	position:absolute;
	overflow:visible;
	z-index:9999;
	width:200px;
	display:none;
}

#main-navigation li ul.normal-dropdown li{
	background:#1abc9c;
	position:relative;
	display:block;
}

#main-navigation li ul.normal-dropdown li:first-child{
	padding-top:12px;
}

#main-navigation li ul.normal-dropdown li:last-child{
	padding-bottom:12px;
}

#main-navigation li ul.normal-dropdown a{
	padding:8px 20px;
	color:#fff;
	display:block;
}

#main-navigation li ul.normal-dropdown li:hover>a{
	background:#16a085;
}

#main-navigation li ul.normal-dropdown li ul{
	position:absolute;
	left:100%;
	top:-12px;
	padding-top:0;
	padding-left:1px;
	color:#fff;
	z-index:9999;
	display:none;
}

#main-navigation li ul.normal-dropdown li:hover ul{
	display:block;
}

#main-navigation li ul.normal-dropdown li:first-child ul{
	top:0;
	z-index:9999;
}

#main-navigation li:hover>ul.normalAnimation, #main-navigation ul.normal-dropdown li:hover > ul.normalAnimation{
	display:block;
}

#main-navigation ul.wide-dropdown{
	display:none;
	z-index:9999;
	border-top:1px solid #e5f5f9;
	padding-top:1px;
	width:auto;
	overflow:hidden;
	position:absolute;
}

#main-navigation ul.wide-dropdown>li{
	float:left;
	min-width:300px;
	padding:16px 0;
}

#main-navigation ul.wide-dropdown ul a, #main-navigation ul.wide-dropdown .nav-caption{
	padding:8px 20px;
	display:block;
	color:#fff;
}

#main-navigation>ul>li>ul.normal-dropdown .icons{
	font-size:16px;
	display:inline-block;
	color:#fff;
	position:relative;
	left:10px;
	float:right;
}

#main-navigation li.home-green>a, #main-navigation .home-green ul.wide-dropdown, #main-navigation li.home-green{
	background:#1abc9c;
}

#main-navigation li.red>a, #main-navigation .red ul.wide-dropdown, #main-navigation li.red{
	background:#e74c3c;
}

#main-navigation li.blue>a, #main-navigation .blue ul.wide-dropdown, #main-navigation li.blue{
	background:#3498db;
}

#main-navigation li.orange>a, #main-navigation .orange ul.wide-dropdown, #main-navigation li.orange{
	background:#f5791f;
}

#main-navigation li.green>a, #main-navigation .green ul.wide-dropdown, #main-navigation li.green{
	background:#2ecc71;
}

#main-navigation li.purple>a, #main-navigation .purple ul.wide-dropdown, #main-navigation li.purple{
	background:#9b59b6;
}







/* ========================= */
/*        SEARCH BOX         */
/* ========================= */


#main-navigation .nav-search{
	z-index:2000;
	position:relative;
	cursor:pointer;
	width:70px;
	text-align:center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	vertical-align:middle;
	background:#1abc9c;
}

#main-navigation .nav-search:hover{
	background:#16a085!important;	
}

#main-navigation .nav-search .icons{
	font-size:16px;
	display:inline-block;
	color:#fff;
	text-align:center;
	margin-bottom:0;
	left:0;
	height:20px;
	width:30px;
}

#main-navigation .nav-search.searchbar-visible{
	background:#34495e;
	width:50px;
}

#main-navigation .nav-search.searchbar-visible:hover{
	background:#2c3e50!important;
}

#main-navigation .nav-search .icons:before{
	content:'\ef88';
}

#main-navigation .nav-search.searchbar-visible .icons:before{
	content:'\ecf6';
}

#search-bar{
	background:#34495e;
	position:absolute;
	z-index:1000;
	color:#fff;
	padding:15px 120px 0 0;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
}

#search-bar input{
	width:100%;
	color:#555;
	font-size:14px;
}

.style3 #search-bar, .style5 #search-bar{
	padding-top:7px;	
}

.style3 #search-bar input, .style5 #search-bar input{
	padding:0 10px;
	height:35px;	
}

.style3 #search-bar .chosen-single, .style5 #search-bar .chosen-single{
	height:35px;
	padding-top:4px;
}

.style3 #search-bar .chosen-single div, .style5 #search-bar .chosen-single div{
	top:5px;
}

#search-bar p{
	margin:0 0 5px;
	font-size:14px;
}

.style2 #search-bar p{
	position:relative;
	top:-40px;
	margin-bottom:-20px;
	color:#121212;
}

.style3 #search-bar p{
	position:relative;
	top:-30px;
	margin-bottom:-20px;
	color:#121212;
}

.style5 #search-bar p{
	position:relative;
	top:-30px;
	margin-bottom:-20px;
	color:#121212;
}

.style2 #search-bar p>a,
.style3 #search-bar p>a,
.style5 #search-bar p>a{
	color:#121212;
}

.style2 #search-bar p>a:hover,
.style3 #search-bar p>a:hover,
.style5 #search-bar p>a:hover,
.style6 #search-bar p>a:hover{
	color:#1abc9c;	
}

#search-bar-table{
	width:100%;	
}

.search-column-1{
	width:70%;	
}

.search-column-2{
	width:30%;
	padding-left:5px;
}

#search-button{
	position:absolute;
	right:49px;
	top:0;
	bottom:0;
	width:70px;
	z-index:9999!important;
	vertical-align:middle;
	cursor:pointer;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}

#search-button input[type="submit"]{
	height:100%;
	background:#1abc9c;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

#search-bar .chosen-single{
	height:40px	;
	padding: 6px 0 0 8px;
	 background-color: #fff;
	 color:#7a8188;
}

#search-bar .chosen-single div {
  top:7px;
}

#search-bar .chosen-drop li {
  padding:8px 6px;
}

#search-button:hover input[type="submit"]{
	background:#16a085;
}

#search-button .icons{
	font-size:20px;
	position:absolute;
	top:50%;
	left:0;
	margin-top:-10px;
	margin-left:22px;
}

span.grey{
	color:#b1b6bb;	
}

#search-bar p a{
	color:#fff;
}

#search-bar p a:hover{
	color:#1abc9c;	
}







/* ========================= */
/*          COLORS           */
/* ========================= */


/* Blue Color */

li.blue>a, 
input.blue, 
.button.blue, 
#main-navigation li.blue li, 
span.product-action.blue{
	background:#3498db!important;
}

li.blue>a:hover, 
#main-navigation .blue ul.wide-dropdown ul a:hover, 
input.blue:hover,.button.blue:hover, 
li.blue.current-item>a, 
li.blue.current-item, 
.icons.blue:hover, 
span.product-action.blue:hover{
	background:#2980b9!important;
}

li.blue .parent-background{
	background:#3498db;
}

li.blue .parent-border{
	border-color:#3498db;
}

li.blue .parent-arrow:after{
	border-bottom-color:#3498db;
}

li.blue .parent-color, 
a.blue{
	color:#3498db;
}



/* Dark Blue Color */

li.dark-blue>a, 
input.dark-blue, 
.button.dark-blue, 
#main-navigation li.dark-blue li, 
span.product-action.dark-blue{
	background:#34495e!important;
}

li.dark-blue>a:hover, 
#main-navigation .dark-blue ul.wide-dropdown ul a:hover, 
input.dark-blue:hover,
.button.dark-blue:hover, 
li.dark-blue.current-item>a, 
li.dark-blue.current-item, 
.icons.dark-blue:hover, 
span.product-action.dark-blue:hover{
	background:#2c3e50!important;
}

li.dark-blue .parent-background{
	background:#34495e;
}

li.dark-blue .parent-border{
	border-color:#34495e;
}

li.dark-blue .parent-arrow:after{
	border-bottom-color:#34495e;
}

li.dark-blue .parent-color, 
a.dark-blue{
	color:#34495e;
}



/* Red Color */

li.red>a, 
input.red, 
.button.red, 
#main-navigation li.red li, 
span.product-action.red{
	background:#e74c3c!important;
}

li.red>a:hover, 
#main-navigation .red ul.wide-dropdown ul a:hover, 
input.red:hover , 
.button.red:hover, 
li.red.current-item>a, 
li.red.current-item, 
.icons.red:hover, 
span.product-action.red:hover{
	background:#c0392b!important;
}

li.red .parent-background{
	background:#e74c3c;
}

li.red .parent-border{
	border-color:#e74c3c;
}

li.red .parent-arrow:after{
	border-bottom-color:#e74c3c;
}

li.red .parent-color, 
a.red, 
.red-hover:hover{
	color:#e74c3c;
}



/* Grey Color */

li.grey>a, 
input.grey, 
.button.grey, 
#main-navigation li.grey li, 
span.product-action.grey{
	background:#f7f7f7!important;
	color:#1f2228;
}

li.grey>a:hover, 
#main-navigation .grey ul.wide-dropdown ul a:hover, 
input.grey:hover , 
.button.grey:hover, 
li.grey.current-item>a, 
li.grey.current-item, 
.icons.grey:hover, 
span.product-action.grey:hover{
	background:#dde3e6!important;
}

li.grey .parent-background{
	background:#f7f7f7;
}

li.grey .parent-border{
	border-color:#f7f7f7;
}

li.grey .parent-arrow:after{
	border-bottom-color:#f7f7f7;
}

li.grey .parent-color, 
a.grey{
	color:#f7f7f7;
}





/* Home Green Color */

li.home-green>a, 
input.home-green, 
.button.home-green, 
#main-navigation li.home-green li, 
span.product-action.home-green{
	background:#1abc9c!important;
}

li.home-green>a:hover, 
#main-navigation .home-green ul.wide-dropdown ul a:hover, 
input.home-green:hover, 
.button.home-green:hover, 
li.home-green.current-item>a, 
li.home-green.current-item, 
.icons.home-green:hover, 
span.product-action.home-green:hover{
	background:#16a085!important;
}

li.home-green .parent-background{
	background:#1abc9c;
}

li.home-green .parent-border{
	border-color:#1abc9c;
}

li.home-green .parent-arrow:after{
	border-bottom-color:#1abc9c;	
}

li.home-green .parent-color, 
a.home-green{
	color:#1abc9c;
}



/* Green Color */

li.green>a, 
input.green, 
.button.green, 
#main-navigation li.green li, 
span.product-action.green{
	background:#2ecc71!important;
}

li.green>a:hover, 
#main-navigation .green ul.wide-dropdown ul a:hover, 
input.green:hover, 
.button.green:hover, 
li.green.current-item>a, 
li.green.current-item, 
.icons.green:hover, 
span.product-action.green:hover{
	background:#21bf64!important;
}

li.green .parent-color, 
a.green{
	color:#2ecc71;
}

li.green .parent-background{
	background:#2ecc71;
}

li.green .parent-border{
	border-color:#2ecc71;
}

li.green .parent-arrow:after{
	border-bottom-color:#2ecc71;	
}



/* Purple Color */

li.purple>a, 
input.purple, 
.button.purple, 
#main-navigation li.purple li, 
span.product-action.purple{
	background:#9b59b6!important;
}

li.purple>a:hover, 
#main-navigation .purple ul.wide-dropdown ul a:hover, 
input.purple:hover, 
.button.purple:hover, 
li.purple.current-item>a, 
li.purple.current-item, 
.icons.purple:hover, 
span.product-action.purple:hover{
	background:#8e44ad!important;
}

li.purple .parent-color, 
a.purple{
	color:#9b59b6;
}

li.purple .parent-background{
	background:#9b59b6;
}

li.purple .parent-border{
	border-color:#9b59b6;
}

li.purple .parent-arrow:after{
	border-bottom-color:#9b59b6;	
}


/* Orange Color */

li.orange>a, 
input.orange, 
.button.orange, 
#main-navigation li.orange li, 
span.product-action.orange{
	background:#f5791f!important;
}

li.orange>a:hover, 
#main-navigation .orange ul.wide-dropdown ul a:hover, 
input.orange:hover, 
.button.orange:hover, 
li.orange.current-item>a, 
li.orange.current-item, 
.icons.orange:hover, 
span.product-action.orange:hover{
	background:#d35400!important;
}

li.orange .parent-color, 
a.orange{
	color:#f5791f;
}

li.orange .parent-background{
	background:#f5791f;
}

li.orange .parent-border{
	border-color:#f5791f;
}

li.orange .parent-arrow:after{
	border-bottom-color:#f5791f;	
}






/* ==================================== */
/*               SIDEBAR                */
/* ==================================== */

.sidebar-box{
	margin-bottom:30px;
	color:#7a8188;
}

.sidebar-box .padding-box{
	padding:15px;	
}

.sidebar-box-heading{
	color:#fff;
	text-transform:uppercase;
	background:#34495e;
	overflow:hidden;
	height:50px;
	padding:12px 20px 12px 40px;
}

.sidebar-box-heading .icons{
	position:absolute;
	left:30px;
}

.sidebar-box-heading h4{
	margin:0;
	display:inline-block;
	padding-left:5px;
}

.sidebar-box-content{
	background:#fff;
}

.sidebar-box-content.sidebar-padding-box{
	padding:20px 15px;
}

.sidebar-box-content>*{
	margin:0;
}

.sidebar-box-content ul{
	margin:0;
	padding:0;
	list-style:none;
}

.sidebar-box-content>ul{
	padding:20px 0;
}

.sidebar-box-content>ul>li{
	position:relative;	
}

.sidebar-box-content>ul>li>a{
	display:block;
	padding:8px 35px 8px 20px;
}

.sidebar-box-content>ul>li>a .icons{
	position:absolute;
	right:15px;
	top:10px;
	font-size:14px;
}

.sidebar-box-content>ul>li>a:hover{
	background:#f7f7f7;
}

.sidebar-box-content>ul>li:hover .sidebar-dropdown{
	display:table;
}

.sidebar-dropdown{
	position:absolute;
	left:100%;
	top:-10px;	
	z-index:6000;
	display:none;
	background:#9b59b6;
}

.sidebar-chosen{
	color: #e6e6e6;
	background: #9b59b6;
}

.sidebar-box .chosen-single{
	height:40px;
	font-size:14px;
	color:#7a8188;
	padding: 8px 0 0 8px;
	border:1px solid #e6e6e6;
	margin-top:5px;
}

.sidebar-box .chosen-results{
	border:1px solid #e6e6e6;
	border-top:none;
}

.sidebar-box .chosen-results li{
	padding:10px 6px;
}

.sidebar-box .chosen-single div {
  top:8px;
}

.right-sidebar .sidebar-dropdown{
	left:auto;
	right:100%;	
}

.sidebar-dropdown>li{
	overflow:hidden;
	display:table-cell;
	vertical-align:top;
}

.sidebar-dropdown>li>ul{
	float:left;
	width:250px;
	padding:10px 0;
	display:table;
}

.sidebar-dropdown>li>ul>li>a{
	padding:8px 20px;
	display:block;	
	color:#fff;
}

.sidebar-dropdown>li>ul>li>a:hover{
	background:#8e44ad;	
}

.sidebar-dropdown>li:last-child{
	margin:0;	
}

.sidebar-slider{
	position:relative;
	display:block;
	overflow:hidden;
}

.sidebar-slider .flex-control-nav{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
}

.sidebar-slider .flex-control-paging li a {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	width:9px;
	height:9px;
	background:#ccc;
}

.sidebar-slider .flex-control-paging li a:hover,  .sidebar-slider .flex-control-paging li a.flex-active{
	background:#27ae60;
}

.sidebar-slider .slider-nav{
	background:#f7f7f7;
	display:block;
	height:30px;
}

.bestsellers-table, .compare-table{
	width:100%;
	background:#fff;
}

.bestsellers-table tr, .compare-table tr{
	padding-left:20px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.bestsellers-table tr:hover{
	background:#f7f7f7;
}

.bestsellers-table .product-thumbnail, .compare-table .product-thumbnail{
	width:45%;
	padding:10px 10px 10px 15px;
}

.bestsellers-table .product-thumbnail img, .compare-table .product-thumbnail img{
	width:100%;
}

.bestsellers-table .product-info, .compare-table .product-info{
	background:transparent;
	overflow:hidden;
	padding:5px 20px 5px 5px;
}

.bestsellers-table .product-info p, .bestsellers-table .product-info span.price, .compare-table .product-info p{
	font-size:14px;
	margin:0 0 5px;
}

.sidebar .product{
	margin-bottom:0;
}

a.remove{
	font-size:12px;
	color:#e74c3c;	
}

a.tag-item{
	display:inline-block;
	background:#f7f7f7;
	margin-bottom:5px;
	padding:5px 10px;
	vertical-align:top;
	font-size:14px;
}

a.tag-item:hover{
	color:#fff;
	background:#1abc9c;
}

.orange .carousel-heading{
	background:#f5791f;
}

.orange .carousel-arrows i:hover{
	background:#d35400;	
}

.noUi-base {
	background:#f7f7f7;
	border:none
}

.noUi-background{
	box-shadow:none;
}

.noUiSlider{
	margin-top:10px;	
	border-radius:0;
	height:12px;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
}

.noUi-horizontal .noUi-handle {
	width: 15px;
	height: 22px;
	left: -5px;
	background:#a1aaaf;
	border:none;
	top: -6px;
	box-shadow:none;
	border-radius:0;
	cursor:pointer;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
	height:1px;
	width:5px;
	left:5px;
	top:9px;
	background:#ccc;
}

.noUi-connect{
	background:#2ecc71;
}

.noUi-horizontal .noUi-handle:after{
	top:11px;	
}

span.price-range-max{
	float:right;
	color:#1f2228;
	font-size:14px;
}

span.price-range-min{
	color:#1f2228;
	font-size:14px;
}

label.color-checkbox.red{
	background:#e74c3c;
}

label.color-checkbox.white{
	background:#fff;
}

label.color-checkbox.black{
	background:#000;
}

label.color-checkbox.blue{
	background:#3498db;
}

label.color-checkbox.green{
	background:#00a847;
}

label.color-checkbox{
	width:30px;
	height:30px;
	border:2px solid #fff;
	margin-right:10px!important;
	outline:1px solid #eee;
}

label.color-checkbox:before{
	display:none!important;
	width:0!important;
	height:0!important;
}

input[type="checkbox"]:checked + label.color-checkbox{
	outline:1px solid #34495e;	
}

/* Colors */

.purple .sidebar-box-heading, .purple a.tag-item:hover{
	background:#9b59b6;
}	

.purple .sidebar-box-content>ul>li>a:hover{
	color:#9b59b6;
}

.blue .sidebar-box-heading, .blue a.tag-item:hover{
	background:#3498db;
}	

.blue .sidebar-box-content>ul>li>a:hover{
	color:#3498db;
}

.red .sidebar-box-heading, .red a.tag-item:hover{
	background:#e74c3c;
}	

.red .sidebar-box-content>ul>li>a:hover{
	color:#e74c3c;
}

.green .sidebar-box-heading, .green a.tag-item:hover{
	background:#1abc9c;
}	

.green .sidebar-box-content>ul>li>a:hover{
	color:#1abc9c;
}

.orange .sidebar-box-heading, .orange a.tag-item:hover{
	background:#f5791f;
}	

.orange .sidebar-box-content>ul>li>a:hover{
	color:#f5791f;
}

.home-green .sidebar-box-heading, .orange a.tag-item:hover{
	background:#1abc9c;
}	

.home-green .sidebar-box-content>ul>li>a:hover{
	color:#1abc9c;
}





/* ==================================== */
/*               CONTENT                */
/* ==================================== */

.content{
	margin-top:30px;
	margin-bottom: 30px;
}


.signinform{
	margin: 0 auto !important;
	background: red;
}



/* ========================= */
/*     REVOLUTION SLIDER     */
/* ========================= */

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}
.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
	margin-bottom:30px;
}


.tp-leftarrow.default, .tp-rightarrow.default{
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
}

.tp-banner-container:hover .tp-leftarrow.default, .tp-banner-container:hover .tp-rightarrow.default{
	opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	-ms-opacity:0.6;
	-o-opacity:0.6;
}

.tp-banner-container:hover .tp-leftarrow.default:hover, .tp-banner-container:hover .tp-rightarrow.default:hover{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}

.tp-banner{
	width:100%;
	position:relative;
	color:#2c3e50;
}

.tp-banner-fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
}

.tp-banner strong{
	font-weight:700;
}

.tp-banner h2{
	font-size:36px;
	color:#2c3e50;
	line-height:38px;
}

.tp-banner h3{
	font-size:24px;
	color:#2c3e50;
}

.tp-banner span{
	font-size:18px;
	color:#2c3e50;
}

.tp-banner span.price{
	font-size:24px;
	color:#2c3e50;
}

.tp-banner a.button.big{
	font-size:18px;
	padding-top:18px;
}





/* ========================= */
/*        IOS SLIDER         */
/* ========================= */

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width:100%;
	height: 400px;
	height: 400px;
	margin-bottom:30px;
	background-color:#fff;
}

.iosSlider:hover .prevButton, .iosSlider:hover .nextButton{
	opacity:0.8;
	-webkit-opacity:0.8;
	-moz-opacity:0.8;
	-ms-opacity:0.8;
	-o-opacity:0.8;
}

.iosSlider .prevButton {
	position: absolute;
	top: 175px;
	left: 10px;
	width: 50px;
	height: 50px;
	background: url(../assets/large_left.png) no-repeat left bottom;
	z-index: 2;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-moz-transition.:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}

.iosSlider .nextButton {
	position: absolute;
	top: 175px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url(../assets/large_right.png) no-repeat left bottom;
	z-index: 2;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-moz-transition.:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}

.iosSlider .nextButton:hover, .iosSlider .prevButton:hover{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .scrollbar1{
	background:#ccc!important;
}

.iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	margin: 0;
}

.iosSlider .slider .item .image {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 400px;
	background-color:#fff;
	background-size:auto 100%;
	background-position:right bottom;
}

.iosSlider .slider .item .image .bg {
	border-right: 0;
	height: 180px;
	width: 340px;
	opacity: 0.5;
	display: none;
}

.iosSlider .slider .item .text {
	position: absolute;
	top:60px;
	left:40px;
}

.iphoneUI .iosSlider .slider .item .text {
	display: none;
}

.iosSlider .slider .item .title {
	position: relative;
	text-indent: -1px;
}

.iosSlider .slider .item .desc {
	position: relative;
}

.iosSlider .slider .item .desc span {
}

.iosSlider .slider .item .button {
}

.iosSlider strong{
	font-weight:700;
}

.iosSlider h2{
	font-size:36px;
	color:#2c3e50;
	line-height:38px;
	margin:0;
}

.iosSlider h3{
	font-size:24px;
	margin:10px 0 40px;
	color:#2c3e50;
}

.iosSlider span{
	font-size:18px;
	color:#2c3e50;
}

.iosSlider span.price{
	font-size:24px;
	color:#2c3e50;
}

.iosSlider .button{
	margin-top:10px;
}	

.iosSlider .slider #item1 .image {
	background: url(../img/slide1.jpg) right bottom no-repeat;
}

.iosSlider .slider #item2 .image {
	background: url(../img/slide3.jpg) right bottom no-repeat
}

.iosSlider .slider #item3 .image {
	background: url(../img/slide2.jpg) right bottom no-repeat;
}





/* ========================= */
/*        FLEXSLIDER         */
/* ========================= */

.flexsliderBig{
	height:400px;
}

.flexsliderBig .text{
	padding:60px 40px;
}

.flexsliderBig li{
	background-size:auto 100%;
	background-position:right bottom!important;
	height:400px;
}

.flexsliderBig #slide1 {
	background: url(../img/slide1.jpg) no-repeat;
}

.flexsliderBig #slide2 {
	background: url(../img/slide3.jpg) no-repeat;
}

.flexsliderBig #slide3 {
	background: url(../img/slide2.jpg) no-repeat;
}

.flexsliderBig strong{
	font-weight:700;
}

.flexsliderBig h2{
	font-size:36px;
	color:#2c3e50;
	line-height:38px;
	margin:0;
}

.flexsliderBig h3{
	font-size:24px;
	margin:10px 0 40px;
	color:#2c3e50;
}

.flexsliderBig span{
	font-size:18px;
	color:#2c3e50;
}

.flexsliderBig span.price{
	font-size:24px;
	color:#2c3e50;
}

.flexsliderBig a.button{
	margin-top:10px;
}






/* ========================= */
/*       BREADCRUMBS         */
/* ========================= */



.breadcrumbs{
	background:#f7f7f7;
	margin-bottom:20px;
	margin-top:-10px;
}

.breadcrumbs p{
	color:#7a8188;	
	font-size:13px;
	margin:0;
	padding:8px 20px;
}

.breadcrumbs .icons{
	color:#c1c7ca;	
}

.breadcrumbs a{
	font-weight:300;	
}




/* ========================= */
/*      SUBCATEGORIES        */
/* ========================= */

.subcategories{
	margin-left:-5px;	
	margin-right:-5px;
}

.col-lg-fifth.subcategory{
	padding:0 5px;	
	margin-bottom:30px;
}

.subcategory project-info{
	padding:10px 0;	
}

.subcategory h6{
	margin:0;	
}

.categories-heading{
	margin-bottom:30px;
	background:#fff;	
}

.categories-heading p{
	padding:20px;
	margin:0;
	font-size:14px;	
}

.category-heading{
	color:#fff;
	background:#a1aaaf;
	text-transform:uppercase;
	margin-bottom:10px;
	height:50px;
	padding:10px 20px;
	position:relative;
}

.category-heading .chosen-container{
	width:160px!important;	
}

.category-buttons{
	position:absolute;
	top:0;
	right:0;
}

.selectproductperpage{
	position:absolute;
	top: 10px;
	left: 30%;

}
.category-buttons a{
	color:#fff!important;
}

.category-buttons .icons{
	float:left;
	height:100%;
	width:50px;
	height:50px;
	border-left:1px solid #e7f9fc;
	text-align:center;
	margin:0;
	padding:15px 0 0;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
	cursor:pointer;
}

.category-buttons .icons:hover, .category-buttons .icons.active-button{
	background-color:#889196;
}

.category-results p{
	display:inline-block;
	font-size:14px;
	margin-right:10px;	
	margin-top:7px;
}

.pagination{
	float:right;	
	margin-bottom:20px;
}

.category-results .selectboxit, .category-results .selectboxit-list{
	width:70px!important;	
	margin:-5px 5px 0;
}

.pagination>a>div{
	width:40px;
	height:40px;
	float:left;	
	background:#f7f7f7;
	text-align:center;
	padding-top:10px;
	font-size:14px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.pagination>a:hover div{
	color:#111;
	background:#dde3e6;	
}







/* ========================= */
/*        CAROUSELS          */
/* ========================= */

.carousel-heading{
	color:#fff;
	background:#34495e;
	text-transform:uppercase;
	margin-bottom:10px;
	overflow:hidden;
	height:50px;
}

.carousel-heading h4{
	margin:0;
	display:inline-block;
	padding:12px 20px;
}

.carousel-arrows{
	display:inline-block;
	vertical-align:top;
	float:right;
	cursor:pointer;
}

.carousel-arrows .icons{
	float:left;
	height:100%;
	width:50px;
	height:50px;
	border-left:1px solid #e7f9fc;
	text-align:center;
	margin:0;
	padding:14px 0 0;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.carousel-arrows a{
	color:#fff;
}

.carousel-arrows .icons:hover{
	background-color:#2c3e50;
}






/* ========================= */
/*      PRODUCT ITEMS        */
/* ========================= */

.owl-carousel-wrap{
	padding:0;
}

.owl-carousel .owl-item{
	padding:0 15px;
}

.product{
	margin-bottom:30px;	
}

.product-info{
	background:#f7f7f7;
	overflow:hidden;
	padding:10px 15px;
}

.product-info h5{
	margin:10px 0 5px;
	color:#1f2228;
}

span.product-tag{
	position:absolute;
	background:#9b59b6;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	top:30px;
	z-index:5000;
	left:0;
	padding:5px 25px;	
}

span.price{
	color:#e74c3c;
	font-size:16px;
	font-weight:600;
}

span.price del{
	color:#596067;
	font-weight:300;
	margin-right:5px;
}

.product-image{
	position:relative;
	overflow:hidden;
}

.product-image img{
	width:100%;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}


.blog-image{
	position:relative;
	overflow:hidden;
	max-height: 100%;
	height: 100%;
}

.blog-image img{
	width:100%;
	max-height: 100%;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}



.product-categories{
	font-size:14px;
	color:#9b59b6;
	margin:0;
}

.product-categories a{
	color:#9b59b6;
}

.product-categories a:hover{
	color:#8e44ad;
}

a.product-hover{
	background:rgba(52,73,94, 0.7);
	padding:10px 15px;
	font-size:16px;
	height:40px;
	text-transform:uppercase;
	color:#fff;
	position:absolute;
	top:110px;
	left:0;
	right:0;
	width:160px;
	margin:0 auto;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-o-transform:scale(0.8);
	transform:scale(0.8);
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a.product-hover:hover{
	background:rgba(52,73,94,1);	
}

.product-image:hover a.product-hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.product-image:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

.product-actions{
	color:#fff;
	display:table;
	width:100%;
	overflow:hidden;
	bottom: 0;
}

span.product-action{
	color:#fff!important;
}

span.action-wrapper{
	position:relative;
	display:block;	
}

.product-actions>span{
	position:relative;
	border-left:1px solid #e7f9fc;
	cursor:pointer;
	width:40px;
	height:40px;
	padding:9px 0 0 8px;
	display:table-cell;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.product-actions>span.current{
	width:auto;	
}

.product-actions>span.current span.action-name{
	left:30px;
	width:220px;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	white-space:nowrap;
}

span.add-to-cart{
	background:#f5791f;
}

span.add-to-cart:hover{
	background:#d35400;	
}

span.add-to-cart .icons{
	margin-right:8px;
}

span.add-to-favorites{
	background:#e74c3c;
}

span.add-to-favorites:hover{
	background:#c0392b;	
}

span.add-to-compare{
	background:#3498db;
}

span.add-to-compare:hover{
	background:#2980b9;	
}

span.action-name{
	position:absolute;
	left:85px;
	text-transform:uppercase;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.product-info p{
	font-size:14px;	
}

.product.grid-view{
	background:#f7f7f7;
	overflow:hidden;
	position:relative;

}

#gridproduct{
	display: none;
}
.product.grid-view .product-actions{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.product.grid-view .product-actions.full-width span.action-name{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	left:30px;
}

.grid-view .product-image{
	padding:0;

}

.grid-view .blog-image{
	padding:0;

}

.product.grid-view .product-actions>span{
	width:33.3333%;
}

.rating{
	display:inline-block;
}

.product-info .rating{
	float:right;
	margin-right:-20px;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;	
}

.sidebar td.product-info .rating{
	display:block;
	margin-top:-5px;	
	float:none;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
}

.rating-box{
	font-size:13px;
	color:#7a8188;
	vertical-align:middle;
}

.product .rating-box{
	float:right;
}

.product-single-info .rating-box{
	margin-top:-15px;
	margin-bottom:20px;
}

.rating-box .rating{
	float:none;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	margin-right:-20px;
}

.rating img+img{
	margin-left:-2px;
}

.product:hover .rating{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;	
}







/* ========================= */
/*      QUICK VIEW MODAL     */
/* ========================= */


#quick-view-modal{
	position:fixed;
	background:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	z-index:9999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
}

#quick-view-close{
	position:absolute;
	right:-25px;
	top:-25px;
	cursor:pointer;
	z-index:9999;
}

#quick-view-close:before{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	color:#fff;
	content:'\ecf6';
}

#quick-view-content{
	position:relative;
	background:#f7f7f7;
	max-width:800px;
	max-height:500px;
	width:90%;
	height:90%;
	margin:2.5% auto 0 auto;
	overflow:visible;
}

#quick-view-content .product-fullscreen{
	display:none;
}

#quick-view-content .pinterest{
	position:relative;
	top:-6px;
}

#quick-view-content span.price{
	margin-top:0;
}

#quick-view-content .tabs{
	margin:0 20px;
}

#quick-view-content .product-action.green{
	display:none;
}


.quick-view-content{
	width:100%;
	height:100%;
	position:relative;
	margin:0;
	overflow-y:scroll;
}

.quick-view-container{
	padding:0!important;
	width:100%;
	overflow:hidden;
	background:#f7f7f7;
}


/* Tabs */

.tab-heading.margin-heading{
	margin-bottom:10px;
}

.tab-heading a.button{
	font-size:18px;
	padding:13px 30px;
	height:50px;
	margin-right:-3px;
	background:#a1aaaf!important;
}

.tab-heading a:hover, .tab-heading a.button.active{
	background:#34495e!important;
	text-decoration:none;
}

.tab-content{
	background:#fff;
	margin-bottom:30px;
	font-size:14px;
	padding:10px 20px;	
}

p .tag-item{
	vertical-align:middle;	
}

.home-green .tag-item:hover{
	background:#1abc9c;	
}

.tab-content strong{
	color:#596067;	
}


/* ========================= */
/*        ACCOUNT            */
/* ========================= */

#changeaccountinfo{
	
}
#changeaccountinfo p{
	text-align: right;
}
/* ========================= */
/*        ACCORDIONS         */
/* ========================= */

.accordion ul{
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:30px;
}

.accordion-header{
	color:#fff;
	background:#a1aaaf;
	text-transform:uppercase;
	position:relative;
	margin:0 0 1px;
	overflow:hidden;
	padding:13px 20px;
	cursor:pointer;
	height:50px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.accordion-active .accordion-header, .accordion-header:hover{
	background:#34495e;
}

.accordion-active .accordion-header .accordion-button i:before{
	content: '\e98a';
}

.accordion-header .accordion-button i:before{
	content: '\e987';
}

.accordion-header h4{
	margin:0;
}

.accordion-button{
	color:#fff;
	position:absolute;
	top:13px;
	font-size:24px;
	right:15px;
}

.accordion-content{
	background:#fff;
	margin-bottom:0!important;
	font-size:14px;
	padding:10px 20px;	
}

.accordion-content strong{
	color:#596067;	
}






/* ========================= */
/*           NEWS            */
/* ========================= */

.news{
	margin-bottom:30px;	
}

.news-background{
	background:#f7f7f7;
}

.news-content{
	padding:10px 30px 10px 5px;
}

.news-content h5{
	margin:0 0 5px;
}

.news-content p{
	font-size:14px;
	color:#596067;
	margin:10px 0;
}

span.date{
	font-size:12px;
	color:#7a8188;
}


.newsvideo{
	text-align: center;
}

/* ========================= */
/*         BANNERS           */
/* ========================= */

.banner{
	overflow:hidden;	
}

.banner-item{
	background:#ccc;
	color:#fff;
	padding:10px 15px;	
	margin-bottom:30px;
	position:relative;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

a .banner-item{
	color:#fff!important;
}

.banner-item h4{
	margin:5px 0 0;
	font-size:24px;
	text-transform:uppercase;
	font-weight:900;	
}

.banner-item p{
	margin:0;	
	font-size:14px;
}

.banner-item .button{
	float:right;
	display:inline-block;
	position:absolute;
	top:15px;
	right:15px;
	padding:8px 15px;
	color:#fff;
	background:#999;
	text-transform:uppercase;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.banner-item .icons{
	font-size:42px;	
}

.banner .left-side-banner{
	width:30%;	
	float:left;
}

.banner .middle-banner{
	width:38%;	
	margin:0 1%;
	float:left;
}

.banner .right-side-banner{
	width:30%;	
	float:left;
}

.banner-item.icon-on-left{
	padding-left:80px;	
}

.banner-item.icon-on-left .icons{
	position:absolute;
	top:10px;
	z-index:100;
	left:10px;	
}

.banner-item.icon-on-right{
	padding-right:80px;	
}

.banner-item.icon-on-right .icons{
	position:absolute;
	top:10px;
	z-index:100;
	right:10px;	
}

.banner-item.orange{
	background:#f5791f;	
}

.banner-item.orange .button{
	background:#d35400;	
}

.banner-item.orange:hover{
	background:#d35400;
}

.banner-item.orange:hover .button{
	background:#f5791f;	
}


.banner-item.light-blue{
	background:#3498db;	
}

.banner-item.light-blue .button{
	background:#2980b9;	
}

.banner-item.light-blue:hover{
	background:#2980b9;		
}

.banner-item.light-blue:hover .button{
	background:#3498db;
}

.banner-item.gray{
	background:#a1aaaf;	
}

.banner-item.gray a.button{
	background:#889196;	
}

.banner-item.gray:hover{
	background:#889196;
}

.banner-item.gray:hover .button{
	background:#a1aaaf;	
}






/* ========================= */
/*     CREATE AN ACCOUNT     */
/* ========================= */


.page-content{
	padding:20px 20px 30px;
	background:#fff;
	margin-bottom:30px;	
}

.page-content-footer{
	background:#f7f7f7;
	padding:20px;	
	overflow:hidden;
}

.page-content-footer p{
	margin:0;	
	font-size:14px;
}

.page-content-footer h4{
	margin:10px 0;	
}

.page-content + .page-content-footer{
	margin-top:-30px;	
	margin-bottom:30px;
}

.page-content ul{
	list-style:none;
	margin:0;
	padding:0;	
}

.page-content li{
	margin:10px 0;
	font-size:14px;	
}

.page-content p{
	font-size:14px;	
}

.page-content input[type="text"], .page-content select{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}

.page-content input[type="password"], .page-content select{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}

.page-content textarea{
	width:100%;
	background:#f7f7f7;
	height:200px;
	border:1px solid #e6e6e6;
	font-size:14px;
}

.register-account p{
	margin:8px 0 25px;	
}

.register-account label{
	position:relative;
	top:15px;
}

.register-account input[type="submit"]{
	background:#3498db;
	margin-top:20px;
}

.register-account input[type="reset"]{
	margin-top:20px;
}

.register-account input[type="submit"]:hover{
	background:#2980b9;
}

.page-content .chosen-single{
	height:40px!important;
	font-size:14px!important;
	color:#7a8188!important;
	padding: 8px 0 0 8px!important;
	border:1px solid #e6e6e6!important;
}

.page-content .chosen-results{
	border:1px solid #e6e6e6!important;
	border-top:none!important;
}

.page-content .chosen-results li{
	padding:10px 6px!important;
}

.page-content .chosen-single div {
	top:8px!important;
}

#captcha img{

	padding-left: : 100 px;
}




/* ========================= */
/*         CHECKOUT          */
/* ========================= */



.checkout-form{
	margin-bottom:30px;
	background:#f7f7f7;	
	padding:20px;
	font-size:14px;
}

.checkout-form table{
	text-align:right;
	width:100%;	
}

.checkout-form table td{
	width:1%;	
	padding:0 20px!important;
}

.checkout-form table td.empty-cell{
	width:100%;	
}

.checkout-form textarea{
	width:100%;
	height:150px;
	margin:-10px 0 10px;
	border:1px solid #ddd;
}






/* ========================= */
/*           BLOG            */
/* ========================= */


.blog-item{
	margin-bottom:30px;	
	overflow:hidden;
}

.blog-item>img,
.blog-item>a>img{
	width:100%;
}

.col-lg-12 .blog-item .rating-box{
	float:right;
	margin-top:0;
	margin-right:-10px;
}

.blog-item .rating-box{
	margin-top:2px;
}

.blog-item .rating-box span{
	margin-right:10px;
}

.blog-info{
	background:#f7f7f7;
	padding:20px;
}

.blog-info h3{
	margin:0 0 10px;	
	font-size:24px;
	line-height:24px;
}

.blog-meta span{
	margin-right:20px;	
	font-size:12px;
	line-height:10px;
}

.blog-meta .icons{
	color:#bdc3c7;	
}

.blog-info p{
	font-size:14px;
	line-height:21px;
}

a.button{
	background:#34495e;
	padding:10px 15px;
	text-transform:uppercase;
	color:#fff;	
	cursor:pointer;
	display:inline-block;
	height:40px;
}

a.button.big{
	font-size:18px;
	padding:15px 30px;
	height:50px;
}

a.button.small{
	padding:5px 15px;
	font-size:14px;
	height:30px;	
}

a.button.round{
	width:40px;
	height:40px;
	display:inline-block;
	padding-top:8px;
	padding-left:15px;
}

a.button.regular{
	text-transform:none;
}

a.button:hover{
	background:#2c3e50;	
}

a.button .icons{
	margin:0 5px 0 -5px;	
}

a.button.right-icon{
	padding-right:5px;
}

a.button.right-icon .icons{
	margin-left:5px;
}

.blog-actions{
	max-width:250px;
}

.blog-actions-big{
	max-width:290px;
}

.blog-actions-big .product-action{
	padding-top:9px!important;
}

ul.comments li{
	position:relative;	
	margin-bottom:30px;
	margin-left:0;
}

ul.comments li p{
	margin:0;
}

ul.comments li .date{
	color:#7a8188;	
}

ul.comments li .icons + p{
	margin-top:10px;	
}

ul.comments li .icons{
	float:right;
	display:block;
	width:30px;
	height:30px;
	background:#f7f7f7;	
	cursor:pointer;
	padding-top:5px;
	text-align:center;
	margin-top:-20px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

ul.comments li .icons:hover{
	background:#dde3e6;
}

ul.comments li .icons.red{
	background:#e74c3c;
	color:#fff;	
}

ul.comments li .icons.green{
	background:#2ecc71;
	color:#fff;	
}

ul.comments li .icons.sum{
	font-style:normal;	
}

ul.comments li .icons.no-pointer{
	cursor:default!important;
}

ul.comments li .icons.sum.green-sum{
	color:#2ecc71;	
}

ul.comments li .icons.sum.red-sum{
	color:#e74c3c;	
}

ul.comments li ul li{
	background:#f7f7f7;
	padding:15px 20px;
	margin:20px 0 20px 20px;	
}






/* ========================= */
/*   PRODCUT SINGLE PAGE     */
/* ========================= */



.product-single{
	background:#f7f7f7;	
	margin-bottom:30px;	
}

#product-slider{
	width:100%;
	position:relative;
}

#product-slider img{
	width:100%;
}

.product-single .product-actions-single .chosen-single, .page-content .chosen-single{
	height:40px	;
	padding: 6px 0 0 8px;
	background-color: #fff;
	border:1px solid #ddd;
	color:#7a8188;
}

.product-single .product-actions-single .chosen-single div, .page-content .chosen-single div {
  top:7px;
}

.product-single .product-actions-single .chosen-drop li, .page-content .chosen-single li {
  padding:8px 6px;
}

.product-single .product-actions{
	max-width:280px;
}

.product-single .numeric-input{
	margin-right:10px;
}

.product-fullscreen{
	width:40px;
	height:40px;
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
	z-index:10;
	font-size:24px;
	text-align:center;
	color:#bdc3c7;
	transition:color 0.3s;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-ms-transition:color 0.3s;
	-o-transition:color 0.3s;
	cursor:pointer;
}

.product-fullscreen:hover{
	color:#333;
}

#product-carousel img{
	height:80px;
	background:#fff;
	padding:10px;
	cursor:pointer;
	opacity:0.5;
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	-ms-opacity:0.5;
	-o-opacity:0.5;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}

#product-carousel img.active-item, #product-carousel img:hover{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
}

#product-carousel{
	padding-right:40px;
	position:relative;
}

.product-arrows>div{
	display:inline-block;
	width:40px;
	height:40px; 
	background:#fff;
	padding-top:10px;
	text-align:center;
	position:absolute;
	top:0;
	right:0;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
	cursor:pointer;
}

.product-arrows>div:hover{
	background:#dde3e6;
}

.product-arrows .left-arrow{
	top:0;
	right:0;
}

.product-arrows .right-arrow{
	top:40px;
	right:0;
}

.product-single-info table td{
	padding:0 20px 5px 0!important;
	border:none;
}

.product-single-info strong{
	color:#596067;
	font-weight:500;
	font-size:14px;
	display:block;
	margin:0 0 10px;	
}

.product-single-info span.price{
	font-size:24px;
	display:block;
	margin:-10px 0 0;	
	vertical-align:bottom;
}

.product-single-info span.price del{
	font-size:16px;	
	vertical-align:bottom;
	padding-top:5px;
	display:inline-block;
}

table.product-actions-single{
	margin:30px 0;	
}

table.product-actions-single td{
	vertical-align:middle!important;
	padding:5px 20px 5px 0!important;
	min-width:100px;
}

.full-size>table.product-actions-single td{
	min-width:inherit;
}

table.product-actions-single input{
	height:35px;	
	display:inline-block!important;
}

.product-single-info .social-share{
	margin:30px 0;	
}

.button-row{
	margin-bottom:30px;
}

.char-counter{
	float:right;
	position:relative;
	top:-25px;
}

.char-counter input[type="text"]{
	width:100px!important;
	margin-left:5px;
}

.char-counter input[type="password"]{
	width:100px!important;
	margin-left:5px;
}








/* ========================= */
/*          CONTACT          */
/* ========================= */

.page-content label{
	font-size:14px;
	margin-bottom:5px;
	display:inline-block;
}

.contact-info iframe{
	width:100%;
	height:300px;	
}

.contact-item{
	position:relative;
	padding-left:60px;	
	margin:18px 0;
}

.contact-item .icons{
	width:40px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	padding-top:4px;
	font-size:22px;
	line-height:32px;
	background:#ddd;
	position:absolute;
	left:0;
	top:0;	
	color:#fff;
}

.contact-item .icon-mail{
	line-height:28px;
}

.blue.contact-item .icons{
	background:#3498db;
}

.green.contact-item .icons{
	background:#1abc9c;
}

.orange.contact-item .icons{
	background:#f5791f;
}

.purple.contact-item .icons{
	background:#9b59b6;
}

.contact-item p, .contact-form label{
	color:#596067;
}

.contact-form input[type="text"], .contact-form textarea{
	margin-bottom:15px;	
}

.contact-form input[type="password"], .contact-form textarea{
	margin-bottom:15px;	
}

.contact-form input[type="submit"]{
	background:#34495e;	
}

.contact-form input[type="submit"]:hover{
	background:#2c3e50;
}

.contact-form textarea{
	height:150px;	
}

.contact-form span{
	display:block;
	margin-top:10px;
	font-size:14px;
}


/* ========================= */
/*          404              */
/* ========================= */

.error404 {
	margin-left: 30%;
}
.error404 p,h1,h2,h3,h4{

	text-align: left;
}

.error404 h1 {
	font-size: 100px;
}
.error404 h2 {
	font-size: 50px;
}
.error404 h3 {
	font-size: 30px;
}
.error404 img{
	display: block;
    margin: 0 auto;
}
/* ========================= */
/*          About us         */
/* ========================= */

.aboutteam p{
	text-align: center;
}
.aboutteam img{
	display: block;
    margin: 0 auto;
}
.member p{
	text-align: center;
}


.member img{
	 border: solid black 1px;
}


.contact-bar {
	height: 100%;
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.contact-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 33.33%; /* Equal width (5 icons with 20% width each = 100%)
    /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
     /* Increased font size */
     padding: 12px 0; 
     font-size: : 36px;
}
.contact-bar #facebook{
	background: #3b5998;
}
.contact-bar #twitter{
	background: #1da1f2;
}
.contact-bar #googleplus{
	background: #dd4b39;
}
.contact-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
/* ========================= */
/*          TABLES           */
/* ========================= */

.main-content table{
	background:#f7f7f7;
	margin-bottom:20px;
}

.main-content table strong{
	color:#1f2228;
}

.main-content table th{
	background:#a1aaaf;	
	color:#fff;
	font-size:16px;
	font-weight:300;
	text-align:left;
	padding:15px 20px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

.main-content tr{
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.main-content table th:last-child{
	border:none;
}

.main-content table td{
	border:1px solid #e9fbfe;
	padding:20px;
	font-size:14px;
	vertical-align:top;
}

.main-content table p{
	font-size:14px;
}

table .fit-cell{
	width:1%;	
}


.guaranteepolicy p{
	text-align: center;
	font-size: 60px;
}




/* ========================= */
/*          WISHLIST         */
/* ========================= */


.wishlist-table{
	width:100%;	
}

.wishlist-table tr:hover{
	background:#fff;
}

td.wishlist-image img{
	background:#fff;
	padding:10px;
	max-width:180px;
}

.wishlist-table .numeric-input{
	margin:0 0 10px 0;
}

td.wishlist-image{
	width:22.222222%!important;	
	padding:0!important;
}

td.wishlist-info{
	width:23.333333%;	
}

td.wishlist-status{
	width: 15%;
}
td.wishlist-price{
	width:11.111111%;	
}

td.wishlist-actions{
	width:23.333333%;	
}

td.wishlist-info h5{
	margin:0;
}

td.wishlist-info .product-category a{
	font-size:14px;
	color:#9b59b6;
	display:block;
	margin:5px 0;
}

table span.action-name{
	left:0;
	width:auto;
	position:relative;
	color:#fff;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
}

.main-content input[type="number"]{
	margin-bottom:10px;	
	width:80px;
	display:block;
}

table span.add-to-cart{
	background:#f5791f;
	display:inline-block;
	padding:10px 20px 10px 15px;
	margin:1px 0;
	font-size:16px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

table span.add-to-cart .icons{
	color:#fff;
}

table span.add-to-cart:hover{
	background:#d35400;	
}

table span.add-to-trash{
	background:#34495e;
	display:inline-block;
	padding:10px 20px 10px 15px;
	margin:1px 0;
	font-size:16px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

table span.add-to-trash .icons{
	color:#fff;
}

table span.add-to-trash:hover{
	background:#2c3e50;	
}







/* ========================= */
/*      COMPARE PRODUCTS     */
/* ========================= */

table.compare-table th{
	width:16%;
	padding:15px 20px;	
}

table.compare-table .numeric-input{
	display:block;
	margin:0 0 10px 0;
}

table.compare-table tr:hover{
	background:#fff;
}

table.compare-table td{
	padding:15px 20px;	
}

table.compare-table p, table.compare-table h5{
	margin:0;	
}

table.compare-table td.compare-image{
	background:#fff;	
	text-align:center;
}

table.compare-table td.compare-image img{
	max-height:150px;	
}

table.compare-table tr:last-child th{
	border-bottom:none;
}

table.compare-table .tag-item{
	background:#fff;
}	

table.compare-table .tag-item:hover{
	background:#1abc9c;
}	





/* ========================= */
/*          ORDERS           */
/* ========================= */

.order-table{
	width:100%;	
}

.order-table tr:hover{
	background:#fff;
}

.order-table p{
	margin:0;	
	font-size:14px;
}

.order-table th.order-status{
	width:40%;	
}
.order-table th.order-date{
	width:20%;	
}

.order-table span.price{
	font-size:14px;	
}

.order-table .order-number p{
	color:#1f2228;
}	

table.order-table td{
	padding:10px 15px;	
}

/* ========================= */
/*    PAYMENT CHECKBOX       */
/* ========================= */

.payment-checkbox{
	width:100%;
	background: #fff;
	margin-bottom: 20px;
}


.payment-checkbox tr:hover{
	background:#fff;
}

.payment-checkbox p{
	margin:0;	
	font-size:14px;
}

.payment-checkbox th.order-status{
	width:40%;	
}
.payment-checkbox th.order-date{
	width:20%;	
}

.payment-checkbox span.price{
	font-size:14px;	
}

.payment-checkboxe .order-number p{
	color:#1f2228;
}	

table.payment-checkbox td{
	padding:10px 15px;	
}

.payment-checkbox .payment-guide{
	background: gray;
}

.payment-checkbox .payment-guide p{
	font-size: 20px;
	color: white;
	padding:10px;	

}
.payment-checkbox .payment-method{
	padding: 10px;
}

.payment-checkbox  .payment-method .name{
	width: 150px;
}
.payment-checkbox  .payment-method input, .payment-checkbox  .payment-method .name, .payment-checkbox  .payment-method .img{
	display: inline-block !important;
}
.payment-checkbox .payment-method .img{
	height: 40px;
	width: 60px;
}

#paypalform{
	display: none;
}

#mastercardform{
	display: none;
}

#visaform{
	display: none;
}

#confirmform{
	display: none;
}
#americanexpressform{
	display: none;
}

#discovernetworkform{
	display:none;
}

/*#confirmpaymentbutton, #cancelpaymentbutton{
	float: right;
}*/
/* ========================= */
/*        ORDER INFO         */
/* ========================= */


table.orderinfo-table{
	width:100%;	
}

table.orderinfo-table tr:hover{
	background:#fff;
}

table.orderinfo-table th{
	width:170px;
	padding:5px 20px;	
}

table.orderinfo-table td{
	padding:10px 20px;	
}

table.orderinfo-table span.price{
	font-size:14px;	
}

table.orderinfo-table span.price.big{
	font-size:16px;	
}


/* ========================= */
/*      CART       			 */
/* ========================= */

.cart-table{
	width:350px;
	font-size:13px;	
}

.cart-table td{
	padding:10px 0;
}

.cart-table img{
	width:60px;	
}

.cart-table p{
	font-size:13px;
	color:#7a8188;	
	margin:0;
}

table.cart-table-buy {
	width:100%;	
}

table.cart-table-buy tr:hover{
	background:#fff;
}

table.cart-table-buy img{
	width: auto;
	height: 56px;
	margin: 0 auto;
}

.cart-table-buy th.carttableimg {
	 width: 12%;
}
.removecurrentcartitem{

		background:#2ecc71;
	color:#fff;
	text-transform:uppercase;
	height:40px;
	padding:5px 15px;
	border:none;
	font-size:14px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;

}


.removecurrentcartitem:hover{
	background:#2c3e50;
	color:#fff;	
}

.decide {
	background: 
	margin-bottom: 20px;
}
/* ========================= */
/*      SHOPPING TABLE       */
/* ========================= */

table.shopping-table{
	width:100%;	
}

table.shopping-table tr:hover{
	background:#fff;
}

table.shopping-table img{
	width:80px;
}	

table.shopping-table .image-column{
	background:#fff;	
	padding:5px;
	width:80px;
}

table.shopping-table .quantity input[type="text"]{
	width:80px;
}

.checkout-form{
	padding-bottom:30px;
}


/* Coupon Table */

table.coupon-table{
	background:#fff;
	width:100%;	
	margin:0;
}

table.coupon-table td{
	border:none;
	padding:0;
}

table.coupon-table td.fit-cell{
	padding-left:3px;
}








/* ==================================== */
/*                FOOTER                */
/* ==================================== */


/* upper Footer */ 

#upper-footer{
	background:#f7f7f7;
	padding:5px 20px;
	border-bottom:1px solid #dfe6f3;
}

#upper-footer.border-top{
	border-bottom:none;
	border-top:	1px solid #dfe6f3;
}

#upper-footer h4{
	text-transform:uppercase;
}

#newsletter>*, .social-media>*{
	display:inline-block;
}

#newsletter span{
	margin-top:20px;
}

#newsletter span.error{
	margin-top:0;
}	

#newsletter input[type="text"]{
	width:330px;
	margin:0 0 0 15px;
	font-size:14px;
}

#newsletter input[type="text"], #newsletter input[type="submit"]{
	height:40px;
}

#newsletter input[type="submit"]{
	font-size:16px;
	position:relative;
	top:1px;
}

.social-media ul{
	padding:0;
	margin:0;
	list-style:none;
	vertical-align:middle;
	margin-left:15px;
}

.social-media ul li{
	display:inline-block!important;
	padding:0!important;
}

.social-media ul li a{
	display:block;
	width:40px;
	height:40px;
	background:#ccc url('../img/social-icons.png') no-repeat;
}




/* Social Icons */

.social-media ul li.social-googleplus a{
	background-color:#d74937;
	background-position:0 0;
}

.social-media ul li.social-facebook a{
	background-color:#39599f;
	background-position:-40px 0;
}

.social-media ul li.social-pinterest a{
	background-color:#b8242a;
	background-position:-80px 0;
}

.social-media ul li.social-twitter a{
	background-color:#45b0e3;
	background-position:-120px 0;
}

.social-media ul li.social-youtube a{
	background-color:#e70031;
	background-position:-160px 0;
}

.facebook-iframe iframe{
	width:100%;
	border:none;	
}

.twitter-widget ul{
	list-style:none;
	margin:10px 0;
	padding:0;	
}

.twitter-widget li{
	font-size:14px;
	color:#596067;
	padding-left:30px;
	position:relative;
	line-height:22px;	
}

.twitter-widget li:before{
	content: '\e965';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	color:#3498db;
	position:absolute;
	left:0;
	top:0;	
}

.twitter-widget .tweet_time{
	display:none;
}

.twitter-widget li .date{
	display:block;
	color:#596067;
}

.twitter-widget li a:hover{
	color:#1f2228!important;	
}

.twitter-widget li .icons{
		
}

/* ========================= */
/*       CHART               */
/* ========================= */


#linechart {
	float: left;

}
#barchart {
	float: left;

}
#linechart,#piechart,#barchart p {
	text-align: center;
}
#piechart { 
	float: right;

}





/* ========================= */
/*       MAIN FOOTER         */
/* ========================= */

#main-footer{
	background:#f7f7f7;
	padding:5px 20px 20px;
}

#main-footer h4{
	text-transform:uppercase;
}

#main-footer p{
	font-size:14px;
	line-height:22px;	
}

#main-footer ul{
	list-style:none;
	padding:0;
	margin:0;
}

#main-footer li{
	margin:10px 0;
	word-wrap: break-word
}

#main-footer ul li .icons{
	font-size:14px;
	width:15px;
	margin-left:-5px;
}

#main-footer ul li a:hover{
	color:#e74c3c;
}

#main-footer #newsletter p{
	margin-top:0;
}

.contact-footer-info ul li{
	font-size:14px;
	color:#596067;
	position:relative;
	padding-left:30px;
	margin-bottom:15px!important;
	display:block;
}

.contact-footer-info ul li .icons{
	color:#1f2228;	
	margin-right:10px;
	position:absolute;
	top:0;
	left:0;
}

.social-media ul li{
	margin:0!important;
}

#main-footer #newsletter input[type="text"]{
	width:100%;
	margin:0 0 5px;
}






/* Lower Footer */

#lower-footer{
	padding:20px;
}

.payment-list{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}

.payment-list li{
	float:left;
	margin-left:5px;
	display:block;
	width:40px;
	height:25px;
	background:url('../img/payment-icons.png') no-repeat;
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
}

.payment-list li:fisrt-child{
	margin:0;
}

.payment-list li:hover{
	transform:rotateX(360deg);
	-webkit-transform:rotateX(360deg);
}

.payment-list .payment1{
	background-position:0 0;
}

.payment-list .payment2{
	background-position:-45px 0;
}

.payment-list .payment3{
	background-position:-90px 0;
}

.payment-list .payment4{
	background-position:-135px 0;
}

.payment-list .payment5{
	background-position:-180px 0;
}

#lower-footer p.copyright{
	font-size:14px;
	color:black;
	margin:0 auto;
}






/* ==================================== */
/*               ELEMENTS               */
/* ==================================== */

.tooltip-inner{
	background:#2c3e50;
	box-shadow:0 0 5px #ddd;
	color:#fff;	
	padding:4px 8px;
	border-radius:0;
}

.tooltip.top .tooltip-arrow{
	border-top-color:#2c3e50;
}

::-webkit-input-placeholder { 
    color:#7a8188;
}
:-moz-placeholder { 
    color:#7a8188;
}
::-moz-placeholder { 
    color:#7a8188;
}
:-ms-input-placeholder { 
    color:#7a8188;
}

input[type="text"], select{
	padding:5px 10px;
	border:1px solid #e6e6e6;
	height:40px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

input[type="password"], select{
	padding:5px 10px;
	border:1px solid #e6e6e6;
	height:40px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

input[type="submit"], input[type="reset"]{
	background:#2ecc71;
	color:#fff;
	text-transform:uppercase;
	height:40px;
	padding:5px 15px;
	border:none;
	font-size:14px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

input[type="reset"].dark-blue{
	color:#fff;
}
input[type="button"]{
	background: #f7f7f7;
	color:#1f2228; 
	text-transform:uppercase;
	height:40px;
	padding:5px 15px;
	border:none;
	font-size:14px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}
input[type="button"].dark-blue{
	color:#fff;
}

button[type="reset"].dark-blue{
	color:#fff;
}

input[type="submit"]:hover{
	background:#21bf64;
}

input[type="submit"].big, input[type="reset"].big{
	height:40px;
	padding:7px 20px;
	font-size:16px;
}

input[type="submit"].huge, input[type="reset"].huge{
	height:50px;
	padding:12px 25px;
	font-size:16px;
}

input[type="reset"]{
	background:#f7f7f7;
	color:#1f2228; 
}

input[type="reset"]:hover{
	background:#2c3e50;
	color:#fff;	
}

input[type="radio"], input[type="checkbox"]{
	margin-right:5px;

    	
}

#back-to-top{
	width:50px;
	height:50px;
	display:inline-block;
	position:fixed;
	bottom:20px;
	right:20px;
	background:#fff;
	font-size:24px;
	text-align:center;
	padding-top:12px;
	transition:background 0.3s, color 0.2s;
	-webkit-transition:background 0.3s, color 0.2s;
	-moz-transition:background 0.3s, color 0.2s;
	-ms-transition:background 0.3s, color 0.2s;
	-o-transition:background 0.3s, color 0.2s;
	cursor:pointer;
}

#back-to-top:hover{
	background:#dde3e6;	
}

.radio-label{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 14px;
}

.radio-label:before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;  
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #f7f7f7;
	border:1px solid #e6e6e6;
}

input[type="radio"]{
		
}

input[type=radio]:checked + .radio-label:before {
    content: "\2022";
    color: #7a8188;
    font-size: 40px;
    text-align: center;
    line-height: 14px;
}

input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]+label{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-top:10px;
	margin-right: 15px;
	font-size: 14px;	
}

input[type="checkbox"]+label:before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #f7f7f7;
	border:1px solid #e6e6e6;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

input[type="checkbox"]:checked + label:before{
	content: '\e818';
	font-size: 13px;
	color: #7a8188;
	text-align: center;
    line-height: 13px;	
}

.numeric-input{
	position:relative;
	width:100px;
	display:inline-block;
}

.numeric-input input{
	width:100px;
	height:42px!important;
	display:inline-block;
}

.numeric-input>span{
	position:absolute;
	top:3px;
	right:8px;
	cursor:pointer;
	color:#7a8188;
}

.numeric-input .arrow-down{
	bottom:3px;
	top:auto;
}


@media(min-width:1200px){
	.container{
		width:1230px;
		padding:0 30px;
	}
}

@media(min-width:992px) and (max-width:1199px){

	.col-md-fifth{
		width:20%;
		padding:0 15px;
		float:left;
	}
	#main-navigation .nav-description{
		display:none;	
	}
	#main-navigation>ul>li>a .nav-caption{
		margin-top:0px;
	}
	.sidebar-box-heading, .carousel-heading{
		height:40px;
	}	
	.sidebar-box-heading h4, .carousel-heading h4{
		font-size:14px;
	}
	.carousel-arrows .icons{
		width:40px;
		height:40px;
		padding:10px 0 0;
	}
	#search-bar input, #search-bar select{
		height:30px;
		font-size:14px;
	}
	.product-actions .action-name{
		font-size:12px;
		padding-top:3px;	
	}
	a.product-hover{
		font-size:16px;
		top:90px;	
	}
	#newsletter>*, .social-media>*{
		display:block;
	}
	
	#newsletter input[type="text"]{
		width:300px;
		margin:0;
		display:inline-block;
	}
	#newsletter input[type="submit"]{
		display:inline-block;
	}
	.social-media ul{
		margin:0;
	}
	.banner-item h4{
		margin:5px 0 0;
		font-size:16px;
		text-transform:uppercase;
		font-weight:900;	
	}
	
	.banner-item p{
		font-size:12px;
	}
	
	.banner-item a.button{
		right:10px;
		top:15px;
		padding:8px 10px;
		font-size:14px;
	}
	
	.banner-item .icons{
		font-size:24px;	
	}
	
	.banner .left-side-banner{
		width:32.66666%;
	}
	
	.banner .middle-banner{
		width:32.66666%;
	}
	
	.banner .right-side-banner{
		width:32.66666%;
	}
	.banner-item.icon-on-left{
		padding-left:50px;	
	}
	.banner-item.icon-on-right{
		padding-right:50px;	
	}
	.main-content table th{
		padding:10px;
	}
	.main-content table td{
		padding:10px;
	}
	
}

@media(min-width:768px) and (max-width:991px){
	.col-md-fifth{
		width:20%;
		padding:0 15px;
		float:left;
	}
	.tp-banner h2{
		font-size:24px;
		line-height:32px;
	}
	.tp-banner h3{
		font-size:18px;
		margin-top:30px;
	}
	.tp-banner p, .tp-banner span{
		display:none;
	}
	#main-navigation>ul>li>a{
		padding:15px 10px!important;
	}
	#main-navigation>ul>li>a .nav-caption{
		margin-top:0px;
	}
	#main-navigation .nav-caption{
		font-size:12px;	
		line-height:18px;
	}
	#main-navigation .nav-description{
		display:none;	
	}
	#main-navigation>ul>li>a .icons{
		font-size:14px;	
		display:none;
	}
	#main-navigation .nav-search .icons{
		font-size:16px;
	}
	#main-navigation .nav-search{
		width:50px;	
	}
	
	.style1 #search-bar,
	.style2 #search-bar,
	.style4 #search-bar,
	.style6 #search-bar{
		padding-top:4px;
	}
	
	.sidebar-box-heading, .carousel-heading{
		height:auto;
	}
	.sidebar-box-heading h4, .carousel-heading h4{
		font-size:13px;
		margin:0;
	}
	.sidebar-box-heading{
		padding-left:40px;	
	}
	.carousel-heading h4{
		padding-top:10px;	
		padding-bottom:5px;
		padding-left:10px;
	}
	#search-bar p{
		display:none;
	}
	.sidebar .carousel-arrows .icons{
		display:none;
	}
	.carousel-arrows .icons{
		width:40px;
		height:40px;
		padding:10px 0 0;
	}
	.iosSlider .slider .item .image {
		background-size:90% auto!important;
	}
	.flexsliderBig li{
		background-size:90% auto!important;
		background-position:right bottom!important;
	}
	.product-actions .action-name{
		display:none;	
	}
	.product-actions>span{
		width:33.333333%;
		text-align:center !important;	
	}
	.product-info h5{
		font-size:12px;	
	}
	a.product-hover{
		font-size:14px;
		height:30px;
		top:60px;
		padding:5px;
		text-align:center;
		width:120px;	
	}
	.banner-item h4{
		margin:5px 0 0;
		font-size:16px;
		text-transform:uppercase;
		font-weight:900;	
	}
	
	.banner-item p{
		font-size:12px;
	}
	
	.banner-item span.button{
		right:10px;
		top:15px;
		padding:8px 10px;
		font-size:12px;
	}
	
	.banner-item .icons{
		display:none;
	}
	
	.banner .left-side-banner{
		width:32.66666%;
	}
	
	.banner .middle-banner{
		width:32.66666%;
	}
	
	.banner .right-side-banner{
		width:32.66666%;
	}
	.banner-item.icon-on-left{
		padding-left:10px;	
	}
	.banner-item.icon-on-right{
		padding-right:10px;
	}
	.main-content table th{
		padding:8px 5px;
	}
	
	.main-content table td{
		padding:8px 5px;
	}
	table.orderinfo-table th{
		width:120px;
		padding:5px 5px;	
	}

	table.orderinfo-table td{
		padding:8px 5px;	
	}
	
	a.button{
		height:auto;
	}
	
	span.product-tag{
		top:10px;
		padding:5px 15px;
		font-size:12px;
	}
	
	.product-actions>span{
		padding:8px 0 0 0;
	}
	
	.product-actions>span .icons{
		margin-right:0!important;
	}
	.col-lg-12 .blog-item .rating-box {
		float:none;	
		margin-top:10px;
	}
	#newsletter input[type="text"]{
		margin:0;
	}
	.social-media ul{
		margin:0;
	}
	.button-row .button{
		margin-bottom:2px;
	}
}

@media(max-width:767px){
	.tp-banner h3, .tp-banner p, .tp-banner span{
		display:none;
	}
	#top-header ul{
		float:none!important;	
		text-align:center;
	}
	#top-header li{
		float:none;
		display:inline-block;	
	}
	#top-header li:hover ul{
		display:none;	
	}
	#logo{
		text-align:center;
		margin:0 0 20px;	
	}
	#middle-navigation ul{
		float:none!important;	
		text-align:center;
		margin:40px 0 20px;
	}
	#middle-navigation>ul>li{
		float:none;
		display:inline-block;	
		margin:0;
	}
	#main-navigation>ul{
		display:block;	
	}
	#main-navigation>ul>li{
		display:block;	
	}
	#main-navigation>ul>li>a .nav-caption{
		margin-top:0px;
	}
	#main-navigation .nav-search{
		display:block;
		width:auto;
		width:100%!important;
		text-align:center;	
		padding:30px 0;
	}
	#main-navigation .nav-search .icons{
		display:inline-block;	
	}
	#search-bar{
		padding:15px 15px 0 15px!important;	
	}
	#search-bar table, #search-bar tr, #search-bar td, #search-bar tbody{
		display:block;
		padding-right:0;
		margin:0!important;
		width:100%;
	}
	#search-bar p{
		margin:30px 0 5px!important;
		width:100%;
		display:block;
		top:0!important;
	}
	.search-column-1{
		width:100%;	
	}

	.search-column-2{
		width:100%;
		padding-left:0;
	}
	#search-bar input{
		width:100%!important;	
	}
	#search-button{
		position:absolute;
		right:0;
		left:0;
		height:90px;
		top:auto;
		width:100%;
		bottom:80px;
	}
	#search-button .icons{
		top:50%;
		margin-top:-10px;
		left:50%;
		margin-left:-10px;
	}
	.carousel img, .slides img,.product-image img, .subcategory img , .blog-image img{
		width:100%;	
	}
	.rating img{
		width:auto!important;
	}
	.product{
		margin:30px 0;	
	}
	.col-md-fifth{
		width:100%;
		padding:0 15px;
		float:left;
	}
	.banner-item{
		width:100%;
		margin:20px 0!important;	
	}
	.banner .left-side-banner{
		width:100%;
	}
	
	.banner .middle-banner{
		width:100%;
	}
	
	.banner .right-side-banner{
		width:100%;
	}
	.news{
		margin:40px 0;	
	}
	.news-content{
		padding:10px 30px;
	}
	#newsletter>*, .social-media>*{
		display:block;
	}
	
	#newsletter input[type="text"]{
		width:100%;
		margin:0;
		display:inline-block;
	}
	#newsletter input[type="submit"]{
		display:inline-block;
	}
	#lower-footer{
		text-align:center;	
	}
	#lower-footer p.copyright{
		margin:10px 0;
		text-align:center;	
	}
	.social-media ul{
		margin:0;
	}
	.payment-list{
		float:none;
	}
	.payment-list li{
		float:none;
		margin:0;
		display:inline-block;
	}
	.main-content table, .main-content tbody{
		display:block;
		width:100%!important;
	}
	
	.main-content table tr{
		display:block;
		border-bottom:2px solid #999;
	}
	
	.product-single table tr{
		border:none;
	}
	
	.main-content table th{
		padding:10px;
		display:block;
		width:100%!important;
	}
	

	.main-content table td{
		padding:10px;
		width:100%!important;
		display:block;
	}
	
	.product-single-info{
		padding:40px;
	}
	
	#search-bar{
		background:transparent;
		position:relative;
		z-index:1000;
		color:#fff;
		padding:15px 0 15px 0!important;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:block;
	}
	
	#search-bar>.col-lg-12{
		padding:0;
	}
	
	#search-bar a{
		color:#1f2228!important;
	}
	
	#search-bar p{
		margin-top:10px!important;
	}
	
	#search-button{
		position:relative;
		bottom:0;
		height:40px;
		margin-top:20px;
		z-index:1!important;
	}
	.button-row .button{
		margin-bottom:2px;
	}
}


/* Tiny Nav */

.tinynav_label{ display:none; }
.tinynav { display: none; }

@media screen and (max-width: 767px) {

	.tinynav_label{ display:block; }
  .tinynav { display: block; width:100%!important;}
  #main-navigation>ul { display: none }
  
}

/* ========================= */
/*       ADDED STYLES 21/3/2017      */
/* ========================= */
.sidebar-slider .sidebar-flexslider .slides li{
   margin-bottom:10px;
}

.news-section{
   display:block;
   background-color:#f7f7f7;
   padding:50px 80px 50px 80px;
}

.news-section h2{
   font-weight: bold;
   text-align:center;
   margin-bottom:30px;
}

.news-section p{
   text-color:black;
   font-size: 18px;
}

.tp-banner ul{
   list-style-type:none;
}

.tp-banner ul li{
   margin-bottom: 10px;
}

.confirmpaymentmethod{
	text-transform:uppercase;
	overflow:hidden;
	height:50px;
}

.pagination a {
    color: black;
    float: left;
    /*padding: 8px 16px;*/
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.category-results p{
	color:#ddd;
}

.social-share iframe{
	margin-right: 50px;
}